force-app/main/default/flows/Application_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>assign total guarantor</label>
        <locationX>459</locationX>
        <locationY>902</locationY>
        <assignmentItems>
            <assignToReference>guarantor</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>guarantorSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_guarantor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_collateral</name>
        <label>assign collateral</label>
        <locationX>1036</locationX>
        <locationY>824</locationY>
        <assignmentItems>
            <assignToReference>collateralSingle.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_collateral.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collateralSingle.Collateral_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_collateral.Collateral_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collateralSingle.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_collateral.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collateralSingle.Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_collateral.Expiration_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collateralSingle.Expiration_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_collateral.Expiration_Task__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collateralSingle.Expired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_collateral.Expired__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collateralSingle.Issue_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_collateral.Issue_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collateralSingle.Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collateralSingle.Picture_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_collateral.Picture_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collateralSingle.Reference_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_collateral.Reference_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_total_collateral</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_gurantor</name>
        <label>assign gurantor</label>
        <locationX>248</locationX>
        <locationY>904</locationY>
        <assignmentItems>
            <assignToReference>guarantorSingle.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_guarantor.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>guarantorSingle.Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>guarantorSingle.Guarantor_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_guarantor.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan</name>
        <label>Assign Loan</label>
        <locationX>1168</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>Loan_Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_Record.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Approved_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_Record.Loan_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Loan_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_Record.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_Record.Created_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_Record.Principal_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Product.Principal_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_Record.Fees_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Product.Fees_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_Record.Interest_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Product.Interest_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_Record.Insurance_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Product.Insurance_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_Record.Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record_Type_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_Record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Loan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_loan_impact</name>
        <label>assign loan impact</label>
        <locationX>51</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>loanImpactSingle.Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanImpactSingle.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_loan_impact.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanImpactSingle.Completion_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_loan_impact.Completion_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanImpactSingle.Completion_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_loan_impact.Completion_Task__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanImpactSingle.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_loan_impact.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanImpactSingle.Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_loan_impact.Hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanImpactSingle.Impact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_loan_impact.Impact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanImpactSingle.Number_of_Jobs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_loan_impact.Number_of_Jobs__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_total_impact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_total_collateral</name>
        <label>assign total collateral</label>
        <locationX>1035</locationX>
        <locationY>652</locationY>
        <assignmentItems>
            <assignToReference>collateral</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>collateralSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_collateral</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_total_impact</name>
        <label>assign total impact</label>
        <locationX>50</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>loan_Impact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loanImpactSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_loan_impact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>commitment_history</name>
        <label>commitment history</label>
        <locationX>862</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>commitmentRecord.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commitmentRecord.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Application__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commitmentRecord.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Created_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commitmentRecord.Is_Decommitment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commitmentRecord.Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commitmentRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Application Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_commitment_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Approval</name>
        <label>Check Approval</label>
        <locationX>667</locationX>
        <locationY>118</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Completion_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Loan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loan_Product</targetReference>
            </connector>
            <label>If Approved</label>
        </rules>
    </decisions>
    <formulas>
        <name>Today_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Application_Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application_Approval</label>
    <loops>
        <name>loop_collateral</name>
        <label>loop collateral</label>
        <locationX>805</locationX>
        <locationY>706</locationY>
        <collectionReference>get_collateral</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_collateral</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_collateral</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_guarantor</name>
        <label>loop guarantor</label>
        <locationX>368</locationX>
        <locationY>717</locationY>
        <collectionReference>get_guarantors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_gurantor</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_guarantor</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_loan_impact</name>
        <label>loop loan impact</label>
        <locationX>368</locationX>
        <locationY>313</locationY>
        <collectionReference>get_impacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_loan_impact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_impact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_collateral</name>
        <label>create collateral</label>
        <locationX>796</locationX>
        <locationY>523</locationY>
        <inputReference>collateral</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_commitment_record</name>
        <label>create commitment record</label>
        <locationX>699</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>get_impacts</targetReference>
        </connector>
        <inputReference>commitmentRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_guarantor</name>
        <label>create guarantor</label>
        <locationX>554</locationX>
        <locationY>715</locationY>
        <connector>
            <targetReference>get_collateral</targetReference>
        </connector>
        <inputReference>guarantor</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_impact</name>
        <label>create impact</label>
        <locationX>369</locationX>
        <locationY>439</locationY>
        <connector>
            <targetReference>get_guarantors</targetReference>
        </connector>
        <inputReference>loan_Impact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Loan</name>
        <label>Create Loan</label>
        <locationX>1032</locationX>
        <locationY>310</locationY>
        <connector>
            <targetReference>commitment_history</targetReference>
        </connector>
        <inputReference>Loan_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_App_Record_Type</name>
        <label>Get App Record Type</label>
        <locationX>1002</locationX>
        <locationY>119</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Loan_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>App_Record_Type_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_collateral</name>
        <label>get collateral</label>
        <locationX>687</locationX>
        <locationY>715</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_collateral</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Collateral__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_guarantors</name>
        <label>get guarantors</label>
        <locationX>368</locationX>
        <locationY>563</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_guarantor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Guarantor__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_impacts</name>
        <label>get impacts</label>
        <locationX>548</locationX>
        <locationY>312</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_loan_impact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Application_Impact__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Product</name>
        <label>Get Financial Product</label>
        <locationX>848</locationX>
        <locationY>119</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_App_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan_Product__c</elementReference>
            </value>
        </filters>
        <object>Loan_Product__c</object>
        <outputReference>Loan_Product</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Interest_Order__c</queriedFields>
        <queriedFields>Fees_Order__c</queriedFields>
        <queriedFields>Principal_Order__c</queriedFields>
        <queriedFields>Insurance_Order__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Record_Type</name>
        <label>Get Loan Record Type</label>
        <locationX>1167</locationX>
        <locationY>119</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Loan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>App_Record_Type_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loan__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Loan_Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>262</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Approval</targetReference>
        </connector>
        <object>Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>App_Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Appplciation_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>collateral</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Collateral__c</objectType>
    </variables>
    <variables>
        <name>collateralSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Collateral__c</objectType>
    </variables>
    <variables>
        <name>commitmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Commitment_History__c</objectType>
    </variables>
    <variables>
        <name>guarantor</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Guarantor__c</objectType>
    </variables>
    <variables>
        <name>guarantorSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Guarantor__c</objectType>
    </variables>
    <variables>
        <name>loan_Impact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Impact__c</objectType>
    </variables>
    <variables>
        <name>Loan_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Product__c</objectType>
    </variables>
    <variables>
        <name>Loan_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan__c</objectType>
    </variables>
    <variables>
        <name>Loan_Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loanImpactSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Impact__c</objectType>
    </variables>
</Flow>
