force-app/main/default/flows/approval_of_LOC_application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_LoC</name>
        <label>Assign LoC</label>
        <locationX>748</locationX>
        <locationY>477</locationY>
        <assignmentItems>
            <assignToReference>LoC_Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>appRecord.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoC_Record.Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>appRecord.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoC_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoC_Record.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoC_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>appRecord.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoC_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>appRecord.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoC_Record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>appRecord.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoC_Record.Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>appRecord.Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoC_Record.Credit_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>appRecord.Approved_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoC_Record.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>appRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_LoC</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Approval</name>
        <label>Check Approval</label>
        <locationX>355</locationX>
        <locationY>283</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>appRecord.Completion_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>appRecord.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Line of Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_App_Record_Type</targetReference>
            </connector>
            <label>If Approved</label>
        </rules>
    </decisions>
    <interviewLabel>approval of LOC application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>approval of LOC application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_LoC</name>
        <label>Create LoC</label>
        <locationX>591</locationX>
        <locationY>481</locationY>
        <inputReference>LoC_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_App_Record_Type</name>
        <label>Get App Record Type</label>
        <locationX>577</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_LoC_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>appRecord.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>App_Record_Type_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_application_record</name>
        <label>get application record</label>
        <locationX>231</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Application__c</object>
        <outputReference>appRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Approved_Amount__c</queriedFields>
        <queriedFields>Reason__c</queriedFields>
        <queriedFields>Completion_Status__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Term__c</queriedFields>
        <queriedFields>Final_Rate__c</queriedFields>
        <queriedFields>Rate__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_LoC_Record_Type</name>
        <label>Get LoC Record Type</label>
        <locationX>748</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_LoC_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>App_Record_Type_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Line_of_Credit__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>LoC_Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_LoC_Records</name>
        <label>Get LoC Records</label>
        <locationX>880</locationX>
        <locationY>375</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_LoC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>appRecord.Id</elementReference>
            </value>
        </filters>
        <object>Line_of_Credit__c</object>
        <outputReference>LoC_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Application__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Balance__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Rate__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>107</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_application_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>App_Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Application_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>appRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>commitmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Commitment_History__c</objectType>
    </variables>
    <variables>
        <name>LoC_Application_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Line_of_Credit_Application__c</objectType>
    </variables>
    <variables>
        <name>LoC_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Line_of_Credit__c</objectType>
    </variables>
    <variables>
        <name>LoC_Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
