force-app/main/default/flows/approval_of_grant_application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Grant</name>
        <label>Assign Grant</label>
        <locationX>748</locationX>
        <locationY>321</locationY>
        <assignmentItems>
            <assignToReference>Grant_Records.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_app_record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Grant_Records.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_app_record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Grant_Records.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_app_record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Grant_Records.LastModifiedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_app_record.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Grant_Records.LastViewedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_app_record.LastViewedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Grant_Records.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_app_record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Grant_Records.Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_app_record.Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Grant_Records.Grant_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_app_record.Grant_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Grant_Records.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_app_record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Grant_Records.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_app_record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Grant_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Approval</name>
        <label>Check Approval</label>
        <locationX>168</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_app_record.Completion_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_app_record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Grant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Grant_Product</targetReference>
            </connector>
            <label>If Approved</label>
        </rules>
    </decisions>
    <interviewLabel>approval of grant application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>approval of grant application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Grant_Records</name>
        <label>Create Grant Records</label>
        <locationX>922</locationX>
        <locationY>321</locationY>
        <inputReference>Grant_Records</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_app_record</name>
        <label>get app record</label>
        <locationX>160</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Grant_Product</name>
        <label>Get Grant Product</label>
        <locationX>344</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_app_record.Grant_Product__c</elementReference>
            </value>
        </filters>
        <object>Grant_Product__c</object>
        <outputReference>Grant_Product</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Maximum_Amount__c</queriedFields>
        <queriedFields>Minimum_Amount__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Grant_Record_Type</name>
        <label>Get Grant Record Type</label>
        <locationX>543</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Grant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>App_Record_Type_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Grant__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Grant_Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Records</name>
        <label>Get Records</label>
        <locationX>439</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Grant_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_app_record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>App_Record_Type_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_app_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>App_Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Grant_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Grant_Product__c</objectType>
    </variables>
    <variables>
        <name>Grant_Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Grant_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Grant__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
