force-app/main/default/flows/Charge_Interest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assign_accrued_transaction</name>
        <label>assign accrued transaction</label>
        <locationX>1682</locationX>
        <locationY>705</locationY>
        <assignmentItems>
            <assignToReference>Other_Transaction.Closing_Principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Balance_Principal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Closing_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Balance_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Closing_Fees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Balance_Fees__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Closing_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Balance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Created_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interest_Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Charge</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_accrued_charge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Charge_Interest_Transaction</name>
        <label>Assign Charge Interest Transaction</label>
        <locationX>1725</locationX>
        <locationY>1078</locationY>
        <assignmentItems>
            <assignToReference>Other_Transaction.Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interest_Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Created_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today_DateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Charge</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Closing_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Closing_Balance_Interest_Charge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Closing_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Closing_Interest_Balance_Interest_Charge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Closing_Principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Balance_Principal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Closing_Fees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Balance_Fees__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Interest_Charge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Interest_Capitalisation</name>
        <label>Assign Interest Capitalisation</label>
        <locationX>1663</locationX>
        <locationY>1508</locationY>
        <assignmentItems>
            <assignToReference>Other_Transaction_Line.Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Transaction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction_Line.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interest_Charged_Amount_Currency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction_Line.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Principal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Interest_Capitalisations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Interest_Captial_For_Loan</name>
        <label>Assign Interest Captial For Loan</label>
        <locationX>1472</locationX>
        <locationY>1338</locationY>
        <assignmentItems>
            <assignToReference>Other_Transaction.Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interest_Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Created_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today_DateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Capitalisation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Closing_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Balance_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Closing_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Closing_Balance_Interest_Charge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Closing_Principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>close_principal_capitalize</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Closing_Fees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Balance_Fees__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Interest_Capitalisation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_Interest_Date</name>
        <label>Assign Last Interest Date</label>
        <locationX>2172</locationX>
        <locationY>1084</locationY>
        <assignmentItems>
            <assignToReference>Loan_Record.Last_Interest_Charged_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interest_Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Loan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_Interest_Date_If_Not_Null</name>
        <label>Assign Last Interest Date If Not Null</label>
        <locationX>890</locationX>
        <locationY>1575</locationY>
        <assignmentItems>
            <assignToReference>LastInterestDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Last_Interest_Charged_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_future_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_Interest_Date_if_Null</name>
        <label>Assign Last Interest Date if Null</label>
        <locationX>854</locationX>
        <locationY>1290</locationY>
        <assignmentItems>
            <assignToReference>LastInterestDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Disbursed_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_future_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_new_accrued_amount</name>
        <label>assign new accrued amount</label>
        <locationX>1669</locationX>
        <locationY>567</locationY>
        <assignmentItems>
            <assignToReference>Interest_Charged_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>suspense_interest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_suspense_interest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_accrued_transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_suspend</name>
        <label>assign suspend</label>
        <locationX>548</locationX>
        <locationY>1209</locationY>
        <assignmentItems>
            <assignToReference>suspend_end_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>suspendRecord.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>suspend_option</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>suspendRecord.SuspenseOption__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accrued_amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>suspendRecord.Accrued_Suspense__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>suspendStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Last_Interest_Charge_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_transaction_date</name>
        <label>assign transaction date</label>
        <locationX>1295</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>Interest_Transaction_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastInterestDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interest_Charge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Charge_Interest_Transaction_Line</name>
        <label>Charge Interest Transaction Line</label>
        <locationX>1942</locationX>
        <locationY>1338</locationY>
        <assignmentItems>
            <assignToReference>Other_Transaction_Line.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interest_Charged_Amount_Currency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction_Line.Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Transaction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction_Line.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Charge_Interest_Transaction_Line_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_end_or_extend_suspend</name>
        <label>check end or extend suspend</label>
        <locationX>1255</locationX>
        <locationY>612</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>extend_suspend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>extend_suspend_op</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_suspend_end_date</targetReference>
            </connector>
            <label>extend_suspend</label>
        </rules>
        <rules>
            <name>end_suspend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>end_suspend_op</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_accrued_transaction</targetReference>
            </connector>
            <label>end_suspend</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_future_date</name>
        <label>check future date</label>
        <locationX>1065</locationX>
        <locationY>1432</locationY>
        <defaultConnector>
            <targetReference>Interest_Charge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>future_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LastInterestDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_transaction_date</targetReference>
            </connector>
            <label>future date</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_interest_charged_after_suspend_end</name>
        <label>check interest charged after suspend end</label>
        <locationX>1945</locationX>
        <locationY>937</locationY>
        <defaultConnector>
            <targetReference>Assign_Last_Interest_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>charged_amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Interest_Transaction_Date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>suspend_end_date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Interest_Charged_Amount_Currency</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Charge_Interest_Transaction</targetReference>
            </connector>
            <label>charged amount</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_suspend</name>
        <label>check suspend</label>
        <locationX>1468</locationX>
        <locationY>1069</locationY>
        <defaultConnector>
            <targetReference>Assign_Charge_Interest_Transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not</defaultConnectorLabel>
        <rules>
            <name>suspend_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>suspendRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_suspense_end_date</targetReference>
            </connector>
            <label>suspend active</label>
        </rules>
        <rules>
            <name>Interest_Capitalise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transaction_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Capitalisation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Interest_Captial_For_Loan</targetReference>
            </connector>
            <label>Interest Capitalise</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_suspend_null</name>
        <label>check suspend null</label>
        <locationX>428</locationX>
        <locationY>1422</locationY>
        <defaultConnector>
            <targetReference>If_Last_Interest_Charge_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>null</defaultConnectorLabel>
        <rules>
            <name>not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>suspendRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_suspend</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_suspense_end_date</name>
        <label>check suspense end date</label>
        <locationX>1468</locationX>
        <locationY>849</locationY>
        <defaultConnector>
            <targetReference>assign_accrued_transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>end_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Interest_Transaction_Date</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>suspend_end_date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>suspend_end_date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suspense_option</targetReference>
            </connector>
            <label>end_date</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Last_Interest_Charge_Null</name>
        <label>If Last Interest Charge Null</label>
        <locationX>666</locationX>
        <locationY>1433</locationY>
        <defaultConnector>
            <targetReference>Assign_Last_Interest_Date_If_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan_Record.Last_Interest_Charged_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Last_Interest_Date_if_Null</targetReference>
            </connector>
            <label>If null</label>
        </rules>
    </decisions>
    <formulas>
        <name>close_principal_capitalize</name>
        <dataType>Currency</dataType>
        <expression>{!Loan_Record.Balance_Principal__c} + {!Interest_Charged_Amount_Currency}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Closing_Balance_Interest_Charge</name>
        <dataType>Currency</dataType>
        <expression>{!Interest_Charged_Amount_Currency} + {!Loan_Record.Balance__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Closing_Interest_Balance_Interest_Charge</name>
        <dataType>Currency</dataType>
        <expression>{!Interest_Charged_Amount_Currency} + {!Loan_Record.Balance_Interest__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Interest_Charged_Amount_Currency</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!Interest_Charged_Amount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>next_date_transaction</name>
        <dataType>Date</dataType>
        <expression>{!Interest_Transaction_Date} + 1</expression>
    </formulas>
    <formulas>
        <name>shown_interest</name>
        <dataType>Currency</dataType>
        <expression>{!accrued_amount} + {!suspense_interest} + {!Interest_Charged_Amount_Currency}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Today_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>Today_DateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Charge Interest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Charge Interest</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Charge_Interest_Transaction_Line_Record</name>
        <label>Charge Interest Transaction Line Record</label>
        <locationX>2172</locationX>
        <locationY>1336</locationY>
        <connector>
            <targetReference>Assign_Last_Interest_Date</targetReference>
        </connector>
        <inputReference>Other_Transaction_Line</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_accrued_charge</name>
        <label>create accrued charge</label>
        <locationX>1848</locationX>
        <locationY>705</locationY>
        <connector>
            <targetReference>create_accrued_tline</targetReference>
        </connector>
        <inputReference>Other_Transaction</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_accrued_tline</name>
        <label>create accrued tline</label>
        <locationX>2046</locationX>
        <locationY>704</locationY>
        <connector>
            <targetReference>suspend_end_or_update</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>suspense_interest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>Other_Transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Interest Accrued</stringValue>
            </value>
        </inputAssignments>
        <object>Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Interest_Capitalisation</name>
        <label>Create Interest Capitalisation</label>
        <locationX>1477</locationX>
        <locationY>1508</locationY>
        <connector>
            <targetReference>Assign_Interest_Capitalisation</targetReference>
        </connector>
        <inputReference>Other_Transaction</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Interest_Capitalisations</name>
        <label>Create Interest Capitalisation</label>
        <locationX>1827</locationX>
        <locationY>1510</locationY>
        <inputReference>Other_Transaction_Line</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Interest_Charge</name>
        <label>Create Interest Charge</label>
        <locationX>1725</locationX>
        <locationY>1338</locationY>
        <connector>
            <targetReference>Charge_Interest_Transaction_Line</targetReference>
        </connector>
        <inputReference>Other_Transaction</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Application_Records</name>
        <label>Get Application Records</label>
        <locationX>282</locationX>
        <locationY>1060</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_suspend</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan_Record.Application__c</elementReference>
            </value>
        </filters>
        <object>Application__c</object>
        <outputReference>Application_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Final_Rate__c</queriedFields>
        <queriedFields>Repayment_Frequency__c</queriedFields>
        <queriedFields>Loan_Product__c</queriedFields>
        <queriedFields>Day_Count__c</queriedFields>
        <queriedFields>Interest_Compounding_Frequency__c</queriedFields>
        <queriedFields>Interest_Calculation_Method__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_Transaction_Date</name>
        <label>Get Last Transaction Date</label>
        <locationX>276</locationX>
        <locationY>903</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Application_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Reversal</stringValue>
            </value>
        </filters>
        <object>Loan_Transaction__c</object>
        <outputAssignments>
            <assignToReference>last_transaction_date</assignToReference>
            <field>Transaction_Date__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan</name>
        <label>Get Loan</label>
        <locationX>276</locationX>
        <locationY>749</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Last_Transaction_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loan__c</object>
        <outputReference>Loan_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Balance__c</queriedFields>
        <queriedFields>Balance_Fees__c</queriedFields>
        <queriedFields>Application__c</queriedFields>
        <queriedFields>Balance_Interest__c</queriedFields>
        <queriedFields>Balance_Principal__c</queriedFields>
        <queriedFields>Last_Interest_Charged_Date__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Disbursed_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_loan_again</name>
        <label>get loan again</label>
        <locationX>2218</locationX>
        <locationY>927</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_interest_charged_after_suspend_end</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loan__c</object>
        <outputReference>Loan_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Balance__c</queriedFields>
        <queriedFields>Balance_Fees__c</queriedFields>
        <queriedFields>Balance_Interest__c</queriedFields>
        <queriedFields>Balance_Principal__c</queriedFields>
        <queriedFields>Disbursed_Date__c</queriedFields>
        <queriedFields>Last_Interest_Charged_Date__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Application__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Transaction</name>
        <label>Get Loan Transaction</label>
        <locationX>288</locationX>
        <locationY>1418</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_suspend_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loan_Transaction__c</object>
        <outputReference>Other_Transaction</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_suspend</name>
        <label>get suspend</label>
        <locationX>282</locationX>
        <locationY>1260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Loan_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Closing_Transaction__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reversed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Interest_Suspense__c</object>
        <outputReference>suspendRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Accrued_Suspense__c</queriedFields>
        <queriedFields>SuspenseOption__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loan</name>
        <label>Update Loan</label>
        <locationX>2377</locationX>
        <locationY>1077</locationY>
        <inputReference>Loan_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_suspend_end_date</name>
        <label>update suspend end date</label>
        <locationX>1519</locationX>
        <locationY>464</locationY>
        <connector>
            <targetReference>assign_new_accrued_amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>suspendRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>newEndDate_suspend</elementReference>
            </value>
        </inputAssignments>
        <object>Interest_Suspense__c</object>
    </recordUpdates>
    <screens>
        <name>Interest_Charge</name>
        <label>Interest Charge</label>
        <locationX>1181</locationX>
        <locationY>1209</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>check_suspend</targetReference>
        </connector>
        <fields>
            <name>Interest_Screen</name>
            <extensionName>c:interestTransaction</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>calculationMethod</name>
                <value>
                    <elementReference>Application_Record.Interest_Calculation_Method__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dayCount</name>
                <value>
                    <elementReference>Application_Record.Day_Count__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>interestBalance</name>
                <value>
                    <elementReference>Interest_Balance</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>InterestFrequency</name>
                <value>
                    <elementReference>Loan_Product.Interest_Compounding_Frequency__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastPaymentDate</name>
                <value>
                    <elementReference>LastInterestDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>PaymentFrequency</name>
                <value>
                    <elementReference>Application_Record.Repayment_Frequency__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>principalBalance</name>
                <value>
                    <elementReference>Loan_Record.Balance_Principal__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rate</name>
                <value>
                    <elementReference>Application_Record.Final_Rate__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>interestAmount</name>
                <value>
                    <elementReference>Interest_Charged_Amount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transactionDate</name>
                <value>
                    <elementReference>Interest_Transaction_Date</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accruedInterest</name>
                <value>
                    <elementReference>accrued_amount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suspenseEndDate</name>
                <value>
                    <elementReference>suspend_end_date</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suspenseOption</name>
                <value>
                    <elementReference>suspend_option</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>activeRecord</name>
                <value>
                    <elementReference>suspendStatus</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Interest_Charged_Amount</assignToReference>
                <name>interestAmount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Interest_Transaction_Date</assignToReference>
                <name>transactionDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>suspense_interest</assignToReference>
                <name>suspenseInterest</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Post_Navigation</name>
            <extensionName>c:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>next</name>
                <value>
                    <stringValue>Post</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pause</name>
                <value>
                    <stringValue>Pause</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previous</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCustomButton1</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPause</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Suspense_option</name>
        <label>Suspense option</label>
        <locationX>1264</locationX>
        <locationY>786</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>check_end_or_extend_suspend</targetReference>
        </connector>
        <fields>
            <name>suspenseOptionLwc</name>
            <extensionName>c:suspendOptionsInterestCharge</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>chargeAmountOriginal</name>
                <value>
                    <elementReference>shown_interest</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transactionDate</name>
                <value>
                    <elementReference>Interest_Transaction_Date</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>calculationMethod</name>
                <value>
                    <elementReference>Application_Record.Interest_Calculation_Method__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dayCount</name>
                <value>
                    <elementReference>Application_Record.Day_Count__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>interestFrequency</name>
                <value>
                    <elementReference>Loan_Product.Interest_Compounding_Frequency__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastInterestCharged</name>
                <value>
                    <elementReference>LastInterestDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentFrequency</name>
                <value>
                    <elementReference>Application_Record.Repayment_Frequency__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>principalBalance</name>
                <value>
                    <elementReference>Loan_Record.Balance_Principal__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rate</name>
                <value>
                    <elementReference>Application_Record.Final_Rate__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>endSuspend</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>extendSuspend</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>end_suspend_op</assignToReference>
                <name>endSuspend</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>extend_suspend_op</assignToReference>
                <name>extendSuspend</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>newEndDate_suspend</assignToReference>
                <name>newEndDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>new_suspense_interest</assignToReference>
                <name>accruedInterest</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Post_Footer_Navigation</name>
            <extensionName>c:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>next</name>
                <value>
                    <stringValue>Post</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pause</name>
                <value>
                    <stringValue>Pause</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previous</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCustomButton1</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPause</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>150</locationX>
        <locationY>602</locationY>
        <connector>
            <targetReference>Get_Loan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>suspend_end_or_update</name>
        <label>suspend end_or_update</label>
        <locationX>2219</locationX>
        <locationY>704</locationY>
        <connector>
            <targetReference>get_loan_again</targetReference>
        </connector>
        <flowName>Interest_Suspend_update_end</flowName>
        <inputAssignments>
            <name>interestCharged</name>
            <value>
                <elementReference>suspense_interest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>selectedDate</name>
            <value>
                <elementReference>Interest_Transaction_Date</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accrued_amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Application_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>end_suspend_op</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>extend_suspend_op</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Interest_Balance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Loan_Record.Balance_Interest__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Interest_Charged_Amount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>Interest_Transaction_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>InterestDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>last_transaction_date</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastInterestDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastTransactionDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Loan_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Product__c</objectType>
    </variables>
    <variables>
        <name>Loan_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan__c</objectType>
    </variables>
    <variables>
        <name>new_suspense_interest</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>newEndDate_suspend</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Other_Transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Other_Transaction_Line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Line__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selected_transaction_type_filter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>suspend_end_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>suspend_option</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>suspendRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interest_Suspense__c</objectType>
    </variables>
    <variables>
        <name>suspendStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>suspense_interest</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Transaction_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
