force-app/main/default/flows/Charge_Fee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assign_approve_date</name>
        <label>assign approve date</label>
        <locationX>622</locationX>
        <locationY>9</locationY>
        <assignmentItems>
            <assignToReference>lastTransactionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application_Record.Approved_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_future_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_default_date</name>
        <label>assign default date</label>
        <locationX>1099</locationX>
        <locationY>15</locationY>
        <assignmentItems>
            <assignToReference>defaultDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastTransactionDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fee_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_For_Charge_Transaction</name>
        <label>Assign Values For Charge Transaction</label>
        <locationX>1326</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>Other_Transaction.Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeeTransactionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Created_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today_DateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Charge</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Closing_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Charge_Closing_Balance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Balance_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interest_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Closing_Principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Balance_Principal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Closing_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Balance_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>capitalize_fee</name>
        <label>capitalize fee</label>
        <locationX>1388</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>Other_Transaction.Closing_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>close_bal_capitalize</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Closing_Fees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Balance_Fees__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Closing_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Balance_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Closing_Principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>close_principal_capitalize</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Created_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Capitalisation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_fee_capitalize</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Charge_transaction_line_assign</name>
        <label>Charge transaction line assign</label>
        <locationX>1140</locationX>
        <locationY>622</locationY>
        <assignmentItems>
            <assignToReference>Other_Transaction_Line.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Charge_Amount_Currency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction_Line.Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Transaction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction_Line.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction_Line.Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Charge_Transaction_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Transaction_Fee_Assign</name>
        <label>Transaction Fee Assign</label>
        <locationX>813</locationX>
        <locationY>624</locationY>
        <assignmentItems>
            <assignToReference>Transaction_Fee.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Charge_Amount_Currency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction_Fee.Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction_Fee.Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction_Fee.Transaction_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Transaction_Line.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction_Fee</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_future_date</name>
        <label>check future date</label>
        <locationX>846</locationX>
        <locationY>13</locationY>
        <defaultConnector>
            <targetReference>Fee_Transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>future_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lastTransactionDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_default_date</targetReference>
            </connector>
            <label>future date</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_last_transaction</name>
        <label>check if last transaction</label>
        <locationX>733</locationX>
        <locationY>216</locationY>
        <defaultConnector>
            <targetReference>assign_approve_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lastTransactionDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_future_date</targetReference>
            </connector>
            <label>present</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_transaction_type</name>
        <label>check transaction type</label>
        <locationX>1180</locationX>
        <locationY>219</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_For_Charge_Transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>capitalize</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>transaction_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Capitalisation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>capitalize_fee</targetReference>
            </connector>
            <label>capitalize</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Transaction_Type_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Loan_Transaction__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Charge_Amount_Currency</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!ChargeAmount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Charge_Closing_Balance</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!ChargeAmount}) + {!Loan_Record.Balance__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>close_bal_capitalize</name>
        <dataType>Currency</dataType>
        <expression>{!Loan_Record.Balance__c} +  {!Charge_Amount_Currency}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>close_principal_capitalize</name>
        <dataType>Currency</dataType>
        <expression>{!Loan_Record.Balance_Principal__c} + {!Charge_Amount_Currency}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Closing_Balance_Interest_Charge</name>
        <dataType>Currency</dataType>
        <expression>{!Interest_Charged_Amount_Currency} + {!Loan_Record.Balance__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Closing_Interest_Balance_Interest_Charge</name>
        <dataType>Currency</dataType>
        <expression>{!Interest_Charged_Amount_Currency} + {!Loan_Record.Balance_Interest__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Fee_Balance_Text</name>
        <dataType>String</dataType>
        <expression>TEXT({!Loan_Record.Balance_Fees__c})</expression>
    </formulas>
    <formulas>
        <name>Interest_Amount</name>
        <dataType>Currency</dataType>
        <expression>({!Interest_Balance}) - {!Loan_Record.Balance_Interest__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Interest_Charged_Amount_Currency</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!Interest_Charged_Amount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Loan_Amount</name>
        <dataType>String</dataType>
        <expression>TEXT({!Loan_Record.Amount__c})</expression>
    </formulas>
    <formulas>
        <name>Today_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>Today_DateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Charge Fee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Charge Fee</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_capitalize_tline</name>
        <label>create capitalize tline</label>
        <locationX>1665</locationX>
        <locationY>246</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Charge_Amount_Currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>Other_Transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Principal</stringValue>
            </value>
        </inputAssignments>
        <object>Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Charge</name>
        <label>Create Charge</label>
        <locationX>1327</locationX>
        <locationY>627</locationY>
        <connector>
            <targetReference>Charge_transaction_line_assign</targetReference>
        </connector>
        <inputReference>Other_Transaction</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Charge_Transaction_Line</name>
        <label>Create Charge Transaction Line</label>
        <locationX>975</locationX>
        <locationY>626</locationY>
        <connector>
            <targetReference>Transaction_Fee_Assign</targetReference>
        </connector>
        <inputReference>Other_Transaction_Line</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_fee_capitalize</name>
        <label>create fee capitalize</label>
        <locationX>1543</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>create_capitalize_tline</targetReference>
        </connector>
        <inputReference>Other_Transaction</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Transaction_Fee</name>
        <label>Create Transaction Fee</label>
        <locationX>650</locationX>
        <locationY>623</locationY>
        <inputReference>Transaction_Fee</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Application_Records</name>
        <label>Get Application Records</label>
        <locationX>537</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_last_transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan_Record.Application__c</elementReference>
            </value>
        </filters>
        <object>Application__c</object>
        <outputReference>Application_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Final_Rate__c</queriedFields>
        <queriedFields>Repayment_Frequency__c</queriedFields>
        <queriedFields>Loan_Product__c</queriedFields>
        <queriedFields>Day_Count__c</queriedFields>
        <queriedFields>Interest_Compounding_Frequency__c</queriedFields>
        <queriedFields>Interest_Calculation_Method__c</queriedFields>
        <queriedFields>Approved_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Fee</name>
        <label>Get Fee</label>
        <locationX>1168</locationX>
        <locationY>490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Charge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FeeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fee__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_Transaction_Date</name>
        <label>Get Last Transaction Date</label>
        <locationX>341</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Application_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Reversal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Adjustment</stringValue>
            </value>
        </filters>
        <object>Loan_Transaction__c</object>
        <outputAssignments>
            <assignToReference>lastTransactionDate</assignToReference>
            <field>Transaction_Date__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan</name>
        <label>Get Loan</label>
        <locationX>175</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Last_Transaction_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loan__c</object>
        <outputReference>Loan_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Balance__c</queriedFields>
        <queriedFields>Balance_Fees__c</queriedFields>
        <queriedFields>Application__c</queriedFields>
        <queriedFields>Balance_Interest__c</queriedFields>
        <queriedFields>Balance_Principal__c</queriedFields>
        <queriedFields>Last_Interest_Charged_Date__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Disbursed_Date__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Fee_Transaction</name>
        <label>Fee Transaction</label>
        <locationX>986</locationX>
        <locationY>219</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_transaction_type</targetReference>
        </connector>
        <fields>
            <name>Fee_Transaction_Screen</name>
            <extensionName>c:feeTransaction</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>feeBalance</name>
                <value>
                    <elementReference>Fee_Balance_Text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Amount__c</name>
                <value>
                    <elementReference>ChargeAmount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>loanAmount</name>
                <value>
                    <elementReference>Loan_Amount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>feeId</name>
                <value>
                    <elementReference>FeeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ChargeType</name>
                <value>
                    <elementReference>ChargeType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Ctype</name>
                <value>
                    <elementReference>ChargeType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastTransactionDate</name>
                <value>
                    <elementReference>lastTransactionDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transactionDate</name>
                <value>
                    <elementReference>lastTransactionDate</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ChargeAmount</assignToReference>
                <name>Amount__c</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ChargeType</assignToReference>
                <name>ChargeType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>LBalanceText</assignToReference>
                <name>feeBalance</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>FeeTransactionDate</assignToReference>
                <name>transactionDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>FeeId</assignToReference>
                <name>feeId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ChargeType</assignToReference>
                <name>Ctype</name>
            </outputParameters>
        </fields>
        <fields>
            <name>flow_navigation</name>
            <extensionName>c:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>next</name>
                <value>
                    <stringValue>Post</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previous</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCustomButton1</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPause</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>64</locationY>
        <connector>
            <targetReference>Get_Loan</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Application_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>ChargeAmount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>ChargeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>defaultDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>FeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FeeTransactionDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Interest_Balance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Loan_Record.Balance_Interest__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Interest_Charged_Amount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>Interest_Transaction_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>LastInterestDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>LastInterestDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastTransactionDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LBalance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LBalanceText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Loan_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan__c</objectType>
    </variables>
    <variables>
        <name>Other_Transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Other_Transaction_Line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Line__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Today</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Today_DateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>Transaction_Fee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Fee__c</objectType>
    </variables>
    <variables>
        <name>transaction_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
