force-app/main/default/flows/Fee_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assign_last_transaction_date</name>
        <label>assign last transaction date</label>
        <locationX>614</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>transactionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fee_Payment_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Transaction</name>
        <label>Assign Transaction</label>
        <locationX>828</locationX>
        <locationY>625</locationY>
        <assignmentItems>
            <assignToReference>Transaction.Created_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transactionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Closing_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Closing_Balance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Closing_Fees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fee_Closing_Balance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Closing_Principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Balance_Principal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Closing_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Balance_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Transaction_Fee</name>
        <label>Assign Transaction Fee</label>
        <locationX>1152</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>Transaction_Fee.Paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Paid_Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Transaction_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Transaction_Line</name>
        <label>Assign Transaction Line</label>
        <locationX>1158</locationX>
        <locationY>627</locationY>
        <assignmentItems>
            <assignToReference>Transaction_Line.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Neg_Fee_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction_Line.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction_Line.Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction_Line</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_future_date</name>
        <label>check future date</label>
        <locationX>722</locationX>
        <locationY>268</locationY>
        <defaultConnector>
            <targetReference>Fee_Payment_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>future_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Last_Transaction_Date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_last_transaction_date</targetReference>
            </connector>
            <label>future date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Transaction_Fee</name>
        <label>Check Transaction_Fee</label>
        <locationX>176</locationX>
        <locationY>567</locationY>
        <defaultConnector>
            <targetReference>Get_Fee_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transaction_Fee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Fee</targetReference>
            </connector>
            <label>If Null</label>
        </rules>
    </decisions>
    <formulas>
        <name>Closing_Balance</name>
        <dataType>Currency</dataType>
        <expression>{!Loan_Record.Balance__c} - VALUE({!fee_Amount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Fee_Balance</name>
        <dataType>String</dataType>
        <expression>TEXT({!Transaction_Fee.Amount__c} - {!Transaction_Fee.Paid__c})</expression>
    </formulas>
    <formulas>
        <name>Fee_Closing_Balance</name>
        <dataType>Currency</dataType>
        <expression>{!Loan_Record.Balance_Fees__c} - VALUE( {!fee_Amount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Neg_Fee_Amount</name>
        <dataType>Currency</dataType>
        <expression>-VALUE({!fee_Amount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Paid_Amount</name>
        <dataType>Currency</dataType>
        <expression>{!Transaction_Fee.Paid__c} +  VALUE({!fee_Amount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Fee Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fee Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Transaction</name>
        <label>Create Transaction</label>
        <locationX>999</locationX>
        <locationY>624</locationY>
        <connector>
            <targetReference>Assign_Transaction_Line</targetReference>
        </connector>
        <inputReference>Transaction</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Transaction_Line</name>
        <label>Create Transaction Line</label>
        <locationX>1150</locationX>
        <locationY>463</locationY>
        <connector>
            <targetReference>Assign_Transaction_Fee</targetReference>
        </connector>
        <inputReference>Transaction_Line</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Fee_Name</name>
        <label>Get Fee Name</label>
        <locationX>423</locationX>
        <locationY>445</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Last_Transaction_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Transaction_Fee.Fee__c</elementReference>
            </value>
        </filters>
        <object>Fee__c</object>
        <outputAssignments>
            <assignToReference>Fee_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_Transaction_Date</name>
        <label>Get Last Transaction Date</label>
        <locationX>420</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_future_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Adjustment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Reversal</stringValue>
            </value>
        </filters>
        <object>Loan_Transaction__c</object>
        <outputAssignments>
            <assignToReference>Last_Transaction_Date</assignToReference>
            <field>Transaction_Date__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Fee_By_Loan</name>
        <label>Get Latest Fee By Loan</label>
        <locationX>177</locationX>
        <locationY>399</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Transaction_Fee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fully_Paid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Transaction_Fee__c</object>
        <outputReference>Transaction_Fee</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Paid__c</queriedFields>
        <queriedFields>Fee__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan</name>
        <label>Get Loan</label>
        <locationX>176</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Latest_Fee_By_Loan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loan__c</object>
        <outputReference>Loan_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Balance__c</queriedFields>
        <queriedFields>Balance_Fees__c</queriedFields>
        <queriedFields>Balance_Interest__c</queriedFields>
        <queriedFields>Balance_Principal__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Transaction_Fee</name>
        <label>Update Transaction Fee</label>
        <locationX>1152</locationX>
        <locationY>146</locationY>
        <inputReference>Transaction_Fee</inputReference>
    </recordUpdates>
    <screens>
        <name>Fee_Payment_Screen</name>
        <label>Fee Payment Screen</label>
        <locationX>829</locationX>
        <locationY>463</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Transaction</targetReference>
        </connector>
        <fields>
            <name>fee_Payment</name>
            <extensionName>c:feePayment</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>amount</name>
                <value>
                    <elementReference>fee_Amount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>feeBalance</name>
                <value>
                    <elementReference>Fee_Balance</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>feeName</name>
                <value>
                    <elementReference>Fee_Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastTransactionDate</name>
                <value>
                    <elementReference>Last_Transaction_Date</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transactionDate</name>
                <value>
                    <elementReference>transactionDate</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>transactionDate</assignToReference>
                <name>transactionDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>fee_Amount</assignToReference>
                <name>amount</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Post_Navigation</name>
            <extensionName>c:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>next</name>
                <value>
                    <stringValue>Post</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pause</name>
                <value>
                    <stringValue>Pause</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previous</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCustomButton1</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPause</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Fee</name>
        <label>No_Fee</label>
        <locationX>311</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fee_Text</name>
            <fieldText>&lt;p&gt;There is no fee to pay&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>84</locationY>
        <connector>
            <targetReference>Get_Loan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>fee_Amount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Fee_Balance</elementReference>
        </value>
    </variables>
    <variables>
        <name>Fee_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Fees</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fee__c</objectType>
    </variables>
    <variables>
        <name>Last_Transaction_Date</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Loan_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Transaction_Fee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Fee__c</objectType>
    </variables>
    <variables>
        <name>Transaction_Line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Line__c</objectType>
    </variables>
    <variables>
        <name>transactionDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
