force-app/main/default/flows/Interest_Suspend_Transaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assign_default_date</name>
        <label>assign default date</label>
        <locationX>1114</locationX>
        <locationY>841</locationY>
        <assignmentItems>
            <assignToReference>defaultDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>start_validation_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Suspend_Interest_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_disbursed_date</name>
        <label>assign disbursed date</label>
        <locationX>692</locationX>
        <locationY>820</locationY>
        <assignmentItems>
            <assignToReference>start_validation_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loanRecord_fetched.Disbursed_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_future_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_payment_date</name>
        <label>assign payment date</label>
        <locationX>794</locationX>
        <locationY>594</locationY>
        <assignmentItems>
            <assignToReference>start_validation_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loanRecord_fetched.Last_Interest_Charged_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_future_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_start_date</name>
        <label>assign start date</label>
        <locationX>683</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>start_validation_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_suspend_record.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>end_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_suspend_record.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>suspenseOption</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_suspend_record.SuspenseOption__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accrued_date_suspend</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_suspend_record.Suspense_Amount_Updated__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_future_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_suspend_transaction</name>
        <label>assign suspend transaction</label>
        <locationX>1491</locationX>
        <locationY>884</locationY>
        <assignmentItems>
            <assignToReference>transactionRecord.Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionRecord.Closing_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>closing_balance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionRecord.Closing_Fees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loanRecord_fetched.Balance_Fees__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionRecord.Closing_Principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loanRecord_fetched.Balance_Principal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionRecord.Closing_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>closing_interest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionRecord.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>suspendRecord.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Suspend Interest</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionRecord.Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionRecord.Created_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_suspend_transaction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_active_suspend</name>
        <label>check active suspend</label>
        <locationX>1476</locationX>
        <locationY>591</locationY>
        <defaultConnector>
            <targetReference>assign_suspend_transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_suspend_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_suspend_record.Closing_Transaction__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_suspend_end_date</targetReference>
            </connector>
            <label>active</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_future_date</name>
        <label>check future date</label>
        <locationX>961</locationX>
        <locationY>597</locationY>
        <defaultConnector>
            <targetReference>Suspend_Interest_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>future_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>start_validation_date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_default_date</targetReference>
            </connector>
            <label>future date</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_suspend_end_or_not</name>
        <label>check suspend end or not</label>
        <locationX>1915</locationX>
        <locationY>592</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>end</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>suspendRecord.End_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>suspendRecord.End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>suspendRecord.Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>end_the_suspend</targetReference>
            </connector>
            <label>end</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_suspend_interest_null</name>
        <label>check suspend interest null</label>
        <locationX>557</locationX>
        <locationY>586</locationY>
        <defaultConnector>
            <targetReference>assign_disbursed_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>disbursed</defaultConnectorLabel>
        <rules>
            <name>suspend_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_suspend_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_start_date</targetReference>
            </connector>
            <label>suspend not null</label>
        </rules>
        <rules>
            <name>payment_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loanRecord_fetched.Last_Interest_Charged_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_payment_date</targetReference>
            </connector>
            <label>payment not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_write_off</name>
        <label>check write off</label>
        <locationX>169</locationX>
        <locationY>320</locationY>
        <defaultConnector>
            <targetReference>get_application_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not</defaultConnectorLabel>
        <rules>
            <name>writeoff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loanRecord_fetched.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Written Off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Write_off_warn</targetReference>
            </connector>
            <label>writeoff</label>
        </rules>
    </decisions>
    <formulas>
        <name>accrued_amount</name>
        <dataType>Currency</dataType>
        <expression>{!get_suspend_record.Accrued_Suspense__c} + {!interest_charged_2}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>alreadySuspended</name>
        <dataType>Boolean</dataType>
        <expression> IF({!get_suspend_record.Closing_Transaction__c} == NULL, true, false)</expression>
    </formulas>
    <formulas>
        <name>closing_balance</name>
        <dataType>Currency</dataType>
        <expression>{!loanRecord_fetched.Balance__c} + {!interest_charged}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>closing_balance_2</name>
        <dataType>Currency</dataType>
        <expression>{!loanRecord_fetched.Balance__c} + {!interest_charged_2}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>closing_interest_2</name>
        <dataType>Currency</dataType>
        <expression>{!loanRecord_fetched.Balance_Interest__c} + {!interest_charged_2}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Interest Suspend {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Interest Suspend Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_suspend_record</name>
        <label>create suspend record</label>
        <locationX>1087</locationX>
        <locationY>1225</locationY>
        <inputAssignments>
            <field>Accrued_Suspense__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>suspendRecord.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opening_Transaction__c</field>
            <value>
                <elementReference>transactionRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>suspendRecord.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuspenseOption__c</field>
            <value>
                <elementReference>suspendRecord.SuspenseOption__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suspense_Amount_Updated__c</field>
            <value>
                <elementReference>suspendRecord.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Interest_Suspense__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_suspend_t_line</name>
        <label>create suspend t_line</label>
        <locationX>1494</locationX>
        <locationY>1228</locationY>
        <connector>
            <targetReference>update_loan_status</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>interest_charged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>transactionRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </inputAssignments>
        <object>Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_suspend_transaction</name>
        <label>create suspend transaction</label>
        <locationX>1492</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>create_suspend_t_line</targetReference>
        </connector>
        <inputReference>transactionRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_application_record</name>
        <label>get application record</label>
        <locationX>377</locationX>
        <locationY>411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_suspend_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loanRecord_fetched.Application__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Day_Count__c</queriedFields>
        <queriedFields>Final_Rate__c</queriedFields>
        <queriedFields>Interest_Calculation_Method__c</queriedFields>
        <queriedFields>Interest_Compounding_Frequency__c</queriedFields>
        <queriedFields>Repayment_Frequency__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_loan_record</name>
        <label>get loan record</label>
        <locationX>377</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_write_off</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loan__c</object>
        <outputReference>loanRecord_fetched</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Application__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Balance__c</queriedFields>
        <queriedFields>Balance_Interest__c</queriedFields>
        <queriedFields>Balance_Principal__c</queriedFields>
        <queriedFields>Last_Payment_Made__c</queriedFields>
        <queriedFields>Balance_Fees__c</queriedFields>
        <queriedFields>Disbursed_Date__c</queriedFields>
        <queriedFields>Last_Interest_Charged_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_suspend_record</name>
        <label>get suspend record</label>
        <locationX>378</locationX>
        <locationY>584</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_suspend_interest_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reversed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Closing_Transaction__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Interest_Suspense__c</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_loan_status</name>
        <label>update loan status</label>
        <locationX>1294</locationX>
        <locationY>1226</locationY>
        <connector>
            <targetReference>create_suspend_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Interest_Charged_Date__c</field>
            <value>
                <elementReference>suspendRecord.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Suspended</stringValue>
            </value>
        </inputAssignments>
        <object>Loan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_suspend_end_date</name>
        <label>update suspend end date</label>
        <locationX>1730</locationX>
        <locationY>592</locationY>
        <connector>
            <targetReference>check_suspend_end_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_suspend_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>suspendRecord.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuspenseOption__c</field>
            <value>
                <elementReference>suspendRecord.SuspenseOption__c</elementReference>
            </value>
        </inputAssignments>
        <object>Interest_Suspense__c</object>
    </recordUpdates>
    <screens>
        <name>Suspend_Interest_Screen</name>
        <label>Suspend Interest</label>
        <locationX>1303</locationX>
        <locationY>590</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>check_active_suspend</targetReference>
        </connector>
        <fields>
            <name>suspendInterestLwc</name>
            <extensionName>c:suspendInterest</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>balance</name>
                <value>
                    <elementReference>loanRecord_fetched.Balance__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dayCount</name>
                <value>
                    <elementReference>get_application_record.Day_Count__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>interestBalance</name>
                <value>
                    <elementReference>loanRecord_fetched.Balance_Interest__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>interestCalculation</name>
                <value>
                    <elementReference>get_application_record.Interest_Calculation_Method__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>InterestFrequency</name>
                <value>
                    <elementReference>get_application_record.Interest_Compounding_Frequency__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastTransactionDate</name>
                <value>
                    <elementReference>start_validation_date</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentFrequency</name>
                <value>
                    <elementReference>get_application_record.Repayment_Frequency__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rate</name>
                <value>
                    <elementReference>get_application_record.Final_Rate__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>principalBalance</name>
                <value>
                    <elementReference>loanRecord_fetched.Balance_Principal__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>endDate</name>
                <value>
                    <elementReference>end_date</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suspenseType</name>
                <value>
                    <elementReference>suspenseOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accruedDate</name>
                <value>
                    <elementReference>accrued_date_suspend</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>endSuspension</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>activeRecord</name>
                <value>
                    <elementReference>alreadySuspended</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>startDate</name>
                <value>
                    <elementReference>defaultDate</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>closing_interest</assignToReference>
                <name>closingInterest</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>comments</assignToReference>
                <name>comments</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>suspendRecord.End_Date__c</assignToReference>
                <name>endDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>interest_charged</assignToReference>
                <name>interestCharge</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>suspendRecord.Start_Date__c</assignToReference>
                <name>startDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>suspendRecord.SuspenseOption__c</assignToReference>
                <name>suspenseType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>interest_charged_2</assignToReference>
                <name>accruedInterest</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>end_suspension</assignToReference>
                <name>endSuspension</name>
            </outputParameters>
        </fields>
        <fields>
            <name>customNavigation</name>
            <extensionName>c:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>customButton1</name>
                <value>
                    <stringValue>End Suspension</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>next</name>
                <value>
                    <stringValue>Post</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previous</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCustomButton1</name>
                <value>
                    <elementReference>alreadySuspended</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPause</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Write_off_warn</name>
        <label>Write off warn</label>
        <locationX>50</locationX>
        <locationY>449</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMsg_writeoff</name>
            <fieldText>&lt;p&gt;You cannot make suspend interest transaction because loan is in written off status&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>250</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_loan_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>end_the_suspend</name>
        <label>end the suspend</label>
        <locationX>1928</locationX>
        <locationY>846</locationY>
        <flowName>Interest_Suspend_update_end</flowName>
        <inputAssignments>
            <name>interestCharged</name>
            <value>
                <elementReference>interest_charged_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>selectedDate</name>
            <value>
                <elementReference>suspendRecord.End_Date__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accrued_date_suspend</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>closing_interest</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>comments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>defaultDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>end_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>end_suspension</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>interest_charged</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>interest_charged_2</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>loanRecord_fetched</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>start_validation_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>suspendRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interest_Suspense__c</objectType>
    </variables>
    <variables>
        <name>suspenseOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Apply</stringValue>
        </value>
    </variables>
    <variables>
        <name>tline_type_suspense_closing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tlineRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Line__c</objectType>
    </variables>
    <variables>
        <name>transaction_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Transaction__c</objectType>
    </variables>
    <variables>
        <name>transactionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Transaction__c</objectType>
    </variables>
</Flow>
