force-app/main/default/flows/Interest_Suspend_update_end.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assign_accrued_value</name>
        <label>assign accrued value</label>
        <locationX>506</locationX>
        <locationY>544</locationY>
        <assignmentItems>
            <assignToReference>suspendInterest.Accrued_Suspense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accruedSuspense</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>suspendInterest.Suspense_Amount_Updated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_suspend_interest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_apply</name>
        <label>assign apply</label>
        <locationX>913</locationX>
        <locationY>234</locationY>
        <assignmentItems>
            <assignToReference>tline.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accruedSuspense</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tline.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionRecord.Closing_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>closingInterest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionRecord.Closing_Principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loanRecord.Balance_Principal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_charge_transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_capitalize</name>
        <label>assign capitalize</label>
        <locationX>870</locationX>
        <locationY>418</locationY>
        <assignmentItems>
            <assignToReference>tline.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accruedSuspense</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tline.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Principal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionRecord.Closing_Principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>closingPrincipal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionRecord.Closing_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loanRecord.Balance_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_charge_transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_discard</name>
        <label>assign discard</label>
        <locationX>920</locationX>
        <locationY>92</locationY>
        <assignmentItems>
            <assignToReference>tline.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tline.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionRecord.Closing_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loanRecord.Balance_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionRecord.Closing_Principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loanRecord.Balance_Principal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_charge_transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_other</name>
        <label>assign other</label>
        <locationX>1116</locationX>
        <locationY>422</locationY>
        <assignmentItems>
            <assignToReference>tline.Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transactionRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>suspendInterest.Closing_Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transactionRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>suspendInterest.Accrued_Suspense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accruedSuspense</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>suspendInterest.Suspense_Amount_Updated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_tline</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_transaction</name>
        <label>assign transaction</label>
        <locationX>582</locationX>
        <locationY>203</locationY>
        <assignmentItems>
            <assignToReference>transactionRecord.Closing_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>closingBalance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionRecord.Closing_Fees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loanRecord.Balance_Fees__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionRecord.Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Charge</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionRecord.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionRecord.Created_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_suspense_option</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_suspense_option</name>
        <label>check suspense option</label>
        <locationX>726</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>assign_discard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>discard</defaultConnectorLabel>
        <rules>
            <name>apply</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>suspendInterest.SuspenseOption__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Apply</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_apply</targetReference>
            </connector>
            <label>apply</label>
        </rules>
        <rules>
            <name>capitalize</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>suspendInterest.SuspenseOption__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Capitalize</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_capitalize</targetReference>
            </connector>
            <label>capitalize</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_update_or_close</name>
        <label>check update or close</label>
        <locationX>391</locationX>
        <locationY>330</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>suspendInterest.End_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>selectedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>suspendInterest.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_transaction</targetReference>
            </connector>
            <label>close</label>
        </rules>
        <rules>
            <name>update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>interestCharged</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_accrued_value</targetReference>
            </connector>
            <label>update</label>
        </rules>
    </decisions>
    <description>This flow is used to update the suspend interest and close it. It is mainly used by the interest suspend create, payment transaction and interest charge transaction</description>
    <formulas>
        <name>accruedSuspense</name>
        <dataType>Currency</dataType>
        <expression>{!suspendInterest.Accrued_Suspense__c} + {!interestCharged}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>closingBalance</name>
        <dataType>Currency</dataType>
        <expression>IF( !ISPICKVAL({!suspendInterest.SuspenseOption__c}, &apos;Discard&apos;), ({!loanRecord.Balance__c} + {!accruedSuspense}), {!loanRecord.Balance__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>closingInterest</name>
        <dataType>Currency</dataType>
        <expression>{!loanRecord.Balance_Interest__c} + {!accruedSuspense}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>closingPrincipal</name>
        <dataType>Currency</dataType>
        <expression>{!loanRecord.Balance_Principal__c} + {!accruedSuspense}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Interest Suspend update_end {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Interest Suspend update_end</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_charge_transaction</name>
        <label>create charge transaction</label>
        <locationX>1116</locationX>
        <locationY>234</locationY>
        <connector>
            <targetReference>assign_other</targetReference>
        </connector>
        <inputReference>transactionRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_tline</name>
        <label>create tline</label>
        <locationX>1116</locationX>
        <locationY>599</locationY>
        <connector>
            <targetReference>update_suspend_interest</targetReference>
        </connector>
        <inputReference>tline</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_loan</name>
        <label>get loan</label>
        <locationX>232</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_suspend_interest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loan__c</object>
        <outputReference>loanRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Balance__c</queriedFields>
        <queriedFields>Balance_Interest__c</queriedFields>
        <queriedFields>Balance_Fees__c</queriedFields>
        <queriedFields>Balance_Principal__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_suspend_interest</name>
        <label>get suspend interest</label>
        <locationX>232</locationX>
        <locationY>328</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_update_or_close</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Closing_Transaction__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reversed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Interest_Suspense__c</object>
        <outputReference>suspendInterest</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Accrued_Suspense__c</queriedFields>
        <queriedFields>Closing_Transaction__c</queriedFields>
        <queriedFields>SuspenseOption__c</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Suspense_Amount_Updated__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>update_suspend_interest</name>
        <label>update suspend interest</label>
        <locationX>747</locationX>
        <locationY>742</locationY>
        <inputReference>suspendInterest</inputReference>
    </recordUpdates>
    <start>
        <locationX>106</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>get_loan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>interestCharged</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>loanRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>suspendInterest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interest_Suspense__c</objectType>
    </variables>
    <variables>
        <name>tline</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Line__c</objectType>
    </variables>
    <variables>
        <name>transactionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Transaction__c</objectType>
    </variables>
</Flow>
