force-app/main/default/flows/Line_of_Credit_transactions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_fee</name>
        <label>Add fee</label>
        <locationX>340</locationX>
        <locationY>1217</locationY>
        <assignmentItems>
            <assignToReference>New_Transaction_Line.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Interest</name>
        <label>Add Interest</label>
        <locationX>404</locationX>
        <locationY>1356</locationY>
        <assignmentItems>
            <assignToReference>New_Transaction_Line.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalInterest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_payment</name>
        <label>Add payment</label>
        <locationX>629</locationX>
        <locationY>1677</locationY>
        <assignmentItems>
            <assignToReference>New_Transaction_Line.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalPayment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_fee_charge_transaction</name>
        <label>assign fee charge transaction</label>
        <locationX>2319</locationX>
        <locationY>1277</locationY>
        <assignmentItems>
            <assignToReference>Transaction.Created_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Line_of_Credit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>commentsFee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transactionDateFee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Charge</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_fee_charge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_interest_charge_transaction</name>
        <label>assign interest charge transaction</label>
        <locationX>2520</locationX>
        <locationY>1065</locationY>
        <assignmentItems>
            <assignToReference>Transaction.Line_of_Credit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Created_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>comments_in_c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transactionDate_Charge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Charge</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>locRecord.Last_Interest_Charged__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transactionDate_Charge</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_interest_charge_transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_interest_charged_date</name>
        <label>assign interest charged date</label>
        <locationX>2821</locationX>
        <locationY>331</locationY>
        <assignmentItems>
            <assignToReference>locRecord.Last_Interest_Charged__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transactionDate_p</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_interest_paid_p</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_interest_date</name>
        <label>assign interest date</label>
        <locationX>1696</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>last_payment_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>locRecord.Last_Interest_Charged__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_pay_charge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_payment_date</name>
        <label>assign payment date</label>
        <locationX>3310</locationX>
        <locationY>357</locationY>
        <assignmentItems>
            <assignToReference>locRecord.Last_Payment_Made__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transactionDate_p</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_fee_p</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_payment_transaction</name>
        <label>assign payment transaction</label>
        <locationX>2403</locationX>
        <locationY>643</locationY>
        <assignmentItems>
            <assignToReference>Transaction.Created_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Line_of_Credit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>payment_comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transactionDate_p</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_payment_transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_previous_interest_date</name>
        <label>assign previous interest date</label>
        <locationX>1942</locationX>
        <locationY>1476</locationY>
        <assignmentItems>
            <assignToReference>locRecord.Last_Interest_Charged__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>previous_interest_charged_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_LoC_interest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_reversal_transaction</name>
        <label>assign reversal transaction</label>
        <locationX>1386</locationX>
        <locationY>704</locationY>
        <assignmentItems>
            <assignToReference>Transaction.Line_of_Credit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reversal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoC_Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Reversed_Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_LoC_Transaction.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_reversal_transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_transaction</name>
        <label>assign transaction</label>
        <locationX>1893</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>Transaction.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Line_of_Credit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Created_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>locRecord.Last_withdrawal_made__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_withdrawal_transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_withdrawal_date</name>
        <label>assign withdrawal date</label>
        <locationX>1651</locationX>
        <locationY>596</locationY>
        <assignmentItems>
            <assignToReference>last_payment_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>locRecord.Last_withdrawal_made__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_pay_charge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Transaction_Line</name>
        <label>Create Transaction_Line</label>
        <locationX>204</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>New_Transaction_Line.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NegAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Transaction_Line.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Transaction_Line.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Transaction_Line.Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Transaction_Line.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Transaction_Line.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Transaction_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fee_Amount</name>
        <label>Fee Amount</label>
        <locationX>580</locationX>
        <locationY>1168</locationY>
        <assignmentItems>
            <assignToReference>New_Transaction_Line.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeeBalance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Interest_Amount</name>
        <label>Interest Amount</label>
        <locationX>637</locationX>
        <locationY>1269</locationY>
        <assignmentItems>
            <assignToReference>New_Transaction_Line.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InterestBalance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Interest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Payment_Amount</name>
        <label>Payment Amount</label>
        <locationX>827</locationX>
        <locationY>1419</locationY>
        <assignmentItems>
            <assignToReference>New_Transaction_Line.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Paymentbalance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_payment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chargeFee</name>
        <choiceText>Fee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>chargeInterest</name>
        <choiceText>Interest</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Interest</stringValue>
        </value>
    </choices>
    <decisions>
        <name>check_charge_type</name>
        <label>check charge type</label>
        <locationX>2077</locationX>
        <locationY>1068</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Interest_charge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Charge_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chargeInterest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_if_payment_available</targetReference>
            </connector>
            <label>Interest</label>
        </rules>
        <rules>
            <name>fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Charge_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chargeFee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fee_Charge_Transaction</targetReference>
            </connector>
            <label>fee</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_fee_p</name>
        <label>check fee_p</label>
        <locationX>3379</locationX>
        <locationY>558</locationY>
        <defaultConnector>
            <targetReference>update_loc_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>fee_paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>feePaid_p</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_fee_tline_p</targetReference>
            </connector>
            <label>fee paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_payment_available</name>
        <label>check if payment available</label>
        <locationX>2147</locationX>
        <locationY>807</locationY>
        <defaultConnector>
            <targetReference>Interest_Warning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>possible_interest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>locRecord.Payment_Remaining__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>charge_screen</targetReference>
            </connector>
            <label>possible interest</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_interest_charged_p</name>
        <label>check interest charged_p</label>
        <locationX>2632</locationX>
        <locationY>549</locationY>
        <defaultConnector>
            <targetReference>check_interest_paid_p</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>interest_charged_p</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>interestCharged_p</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_interest_charged_tline_p</targetReference>
            </connector>
            <label>interest charged</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_interest_paid_p</name>
        <label>check interest paid_p</label>
        <locationX>2874</locationX>
        <locationY>562</locationY>
        <defaultConnector>
            <targetReference>check_payment_amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>interest_paid_p</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>interestPaid_p</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_interest_paid_tline_p</targetReference>
            </connector>
            <label>interest paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_interest_record_present</name>
        <label>check interest record present</label>
        <locationX>1775</locationX>
        <locationY>1234</locationY>
        <defaultConnector>
            <targetReference>assign_previous_interest_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>interest</defaultConnectorLabel>
        <rules>
            <name>No_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>previous_interest_charged_date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>last_pay_date</targetReference>
            </connector>
            <label>No present</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_last_interest_charged</name>
        <label>check last interest charged</label>
        <locationX>1404</locationX>
        <locationY>404</locationY>
        <defaultConnector>
            <targetReference>assign_withdrawal_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>withdrawal date</defaultConnectorLabel>
        <rules>
            <name>interest_charged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>locRecord.Last_Interest_Charged__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_interest_date</targetReference>
            </connector>
            <label>interest charged</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_limit</name>
        <label>check limit</label>
        <locationX>1569</locationX>
        <locationY>289</locationY>
        <defaultConnector>
            <targetReference>Transactions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>over_limit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>withdraw_validation</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>withdraw_overlimit</targetReference>
            </connector>
            <label>over limit</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_loc_types</name>
        <label>check loc types</label>
        <locationX>1110</locationX>
        <locationY>182</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>withdrawal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Transaction_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrawal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_limit</targetReference>
            </connector>
            <label>withdrawal</label>
        </rules>
        <rules>
            <name>payment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Transaction_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Transaction_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Charge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_last_interest_charged</targetReference>
            </connector>
            <label>payment/charge</label>
        </rules>
        <rules>
            <name>Reversal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transaction_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reversal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_LoC_Transaction</targetReference>
            </connector>
            <label>Reversal</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_pay_charge</name>
        <label>check pay/charge</label>
        <locationX>1845</locationX>
        <locationY>491</locationY>
        <defaultConnector>
            <targetReference>Charge_Transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>charge</defaultConnectorLabel>
        <rules>
            <name>payments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transaction_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_payment_is_possible</targetReference>
            </connector>
            <label>payments</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_payment_amount</name>
        <label>check payment amount</label>
        <locationX>3115</locationX>
        <locationY>562</locationY>
        <defaultConnector>
            <targetReference>check_fee_p</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>payment_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>principalPaid_p</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_principal_tline</targetReference>
            </connector>
            <label>payment</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_payment_is_possible</name>
        <label>check payment is possible</label>
        <locationX>2069</locationX>
        <locationY>527</locationY>
        <defaultConnector>
            <targetReference>payment_warning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>possible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>locRecord.Balance__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>payment_screen</targetReference>
            </connector>
            <label>possible</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_record_for_reversal</name>
        <label>check_record_for_reversal</label>
        <locationX>970</locationX>
        <locationY>642</locationY>
        <defaultConnector>
            <targetReference>Reversal_Warning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>present_for_reversal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_LoC_Transaction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_LoC_line</targetReference>
            </connector>
            <label>present for reversal</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_reversal_type</name>
        <label>check reversal type</label>
        <locationX>1196</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>Fee_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment_with_payment1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_LoC_Transaction.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Transaction_Line</targetReference>
            </connector>
            <label>Payment with payment</label>
        </rules>
        <rules>
            <name>reverse_Withdrawal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_LoC_line.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrawal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_reverse_Withdraw</targetReference>
            </connector>
            <label>reverse Withdrawal</label>
        </rules>
        <rules>
            <name>reverse_Interest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_LoC_line.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interest</targetReference>
            </connector>
            <label>reverse	Interest</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_type</name>
        <label>If type</label>
        <locationX>995</locationX>
        <locationY>1090</locationY>
        <defaultConnector>
            <targetReference>Create_Transaction_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>payment1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Transaction_Line.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Amount</targetReference>
            </connector>
            <label>payment</label>
        </rules>
        <rules>
            <name>Interest1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Transaction_Line.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interest_Amount</targetReference>
            </connector>
            <label>Interest</label>
        </rules>
        <rules>
            <name>Fee1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Transaction_Line.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fee_Amount</targetReference>
            </connector>
            <label>Fee</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>locType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Line_of_Credit_Transaction__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Line_of_Credit_Transaction__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CalFee</name>
        <dataType>Currency</dataType>
        <expression> {!FeeBalance}+{!NegAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalInterest</name>
        <dataType>Currency</dataType>
        <expression>{!InterestBalance}+{!NegAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalPayment</name>
        <dataType>Currency</dataType>
        <expression> {!Paymentbalance}+{!NegAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>feeDateValidation</name>
        <dataType>Date</dataType>
        <expression>{!locRecord.CreatedDate}</expression>
    </formulas>
    <formulas>
        <name>feePaid_neg</name>
        <dataType>Currency</dataType>
        <expression>{!feePaid_p} * -1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>interestPaid_neg</name>
        <dataType>Currency</dataType>
        <expression>{!interestPaid_p} * -1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NegAmount</name>
        <dataType>Currency</dataType>
        <expression>-{!Loop_Transaction_Line.Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>reversalValidationDate</name>
        <dataType>DateTime</dataType>
        <expression> {!get_LoC_Transaction.Transaction_Date__c}</expression>
    </formulas>
    <formulas>
        <name>tline_amount_sign</name>
        <dataType>Currency</dataType>
        <expression>{!get_LoC_line.Amount__c}* -1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>withdraw_validation</name>
        <dataType>Currency</dataType>
        <expression>{!locRecord.Credit_Limit__c} - {!locRecord.Balance__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Line of Credit transactions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Line of Credit transactions</label>
    <loops>
        <name>Loop_Transaction_Line</name>
        <label>Loop Transaction Line</label>
        <locationX>729</locationX>
        <locationY>1020</locationY>
        <collectionReference>Transaction_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_type</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_fee_charge</name>
        <label>create fee charge</label>
        <locationX>2510</locationX>
        <locationY>1277</locationY>
        <connector>
            <targetReference>create_fee_charge_tline</targetReference>
        </connector>
        <inputReference>Transaction</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_fee_charge_tline</name>
        <label>create fee charge tline</label>
        <locationX>2683</locationX>
        <locationY>1277</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>amountFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>Transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Fee</stringValue>
            </value>
        </inputAssignments>
        <object>Line_of_Credit_Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_fee_tline_p</name>
        <label>create fee tline_p</label>
        <locationX>3505</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>update_loc_record</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>feePaid_neg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>Transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Fee</stringValue>
            </value>
        </inputAssignments>
        <object>Line_of_Credit_Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_interest_charge_tline</name>
        <label>create interest charge tline</label>
        <locationX>2892</locationX>
        <locationY>1066</locationY>
        <connector>
            <targetReference>update_loc_charge</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>interestCharged_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>Transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </inputAssignments>
        <object>Line_of_Credit_Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_interest_charge_transaction</name>
        <label>create interest charge transaction</label>
        <locationX>2703</locationX>
        <locationY>1066</locationY>
        <connector>
            <targetReference>create_interest_charge_tline</targetReference>
        </connector>
        <inputReference>Transaction</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_interest_charged_tline_p</name>
        <label>create interest charged tline_p</label>
        <locationX>2695</locationX>
        <locationY>289</locationY>
        <connector>
            <targetReference>assign_interest_charged_date</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>interestCharged_p</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>Transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </inputAssignments>
        <object>Line_of_Credit_Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_interest_paid_tline_p</name>
        <label>create interest paid tline_p</label>
        <locationX>2996</locationX>
        <locationY>777</locationY>
        <connector>
            <targetReference>check_payment_amount</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>interestPaid_neg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>Transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </inputAssignments>
        <object>Line_of_Credit_Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Transaction_Line</name>
        <label>Create New Transaction Line</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Loop_Transaction_Line</targetReference>
        </connector>
        <inputReference>New_Transaction_Line</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_payment_transaction</name>
        <label>create payment transaction</label>
        <locationX>2475</locationX>
        <locationY>471</locationY>
        <connector>
            <targetReference>check_interest_charged_p</targetReference>
        </connector>
        <inputReference>Transaction</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_principal_tline</name>
        <label>create principal tline</label>
        <locationX>3174</locationX>
        <locationY>358</locationY>
        <connector>
            <targetReference>assign_payment_date</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>principalPaid_p</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>Transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </inputAssignments>
        <object>Line_of_Credit_Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_reversal_transaction</name>
        <label>create reversal transaction</label>
        <locationX>1538</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>update_LoC_transaction</targetReference>
        </connector>
        <inputReference>Transaction</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_reverse_Withdraw</name>
        <label>create reverse Withdraw</label>
        <locationX>1310</locationX>
        <locationY>1085</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>get_LoC_line.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>Reversal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>Transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Withdrawal</stringValue>
            </value>
        </inputAssignments>
        <object>Line_of_Credit_Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_withdrawal_tline</name>
        <label>create withdrawal tline</label>
        <locationX>2204</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>update_loc_withdrawal_date</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>Transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Withdrawal</stringValue>
            </value>
        </inputAssignments>
        <object>Line_of_Credit_Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_withdrawal_transaction</name>
        <label>create withdrawal transaction</label>
        <locationX>2052</locationX>
        <locationY>286</locationY>
        <connector>
            <targetReference>create_withdrawal_tline</targetReference>
        </connector>
        <inputReference>Transaction</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Fee_Creation</name>
        <label>create fee reversal transaction</label>
        <locationX>1762</locationX>
        <locationY>980</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>tline_amount_sign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>Reversal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>Transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Fee</stringValue>
            </value>
        </inputAssignments>
        <object>Line_of_Credit_Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Interest</name>
        <label>create reverse Interest</label>
        <locationX>1590</locationX>
        <locationY>1145</locationY>
        <connector>
            <targetReference>get_last_interest_charged</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>tline_amount_sign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>Reversal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>Transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </inputAssignments>
        <object>Line_of_Credit_Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Transaction_Line</name>
        <label>Get All Transaction Line</label>
        <locationX>1240</locationX>
        <locationY>610</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loc_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transaction__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_LoC_Transaction.Id</elementReference>
            </value>
        </filters>
        <object>Line_of_Credit_Transaction_Line__c</object>
        <outputReference>Transaction_Lines</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>get_last_interest_charged</name>
        <label>get last interest charged</label>
        <locationX>1971</locationX>
        <locationY>1092</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_interest_record_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reversed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>Balance_Interest__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Line_of_Credit_Transaction__c</object>
        <outputAssignments>
            <assignToReference>previous_interest_charged_date</assignToReference>
            <field>Transaction_Date__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>get_LoC_line</name>
        <label>get LoC line</label>
        <locationX>1112</locationX>
        <locationY>488</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Transaction_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transaction__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_LoC_Transaction.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Line_of_Credit_Transaction_Line__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_loc_record</name>
        <label>get loc record</label>
        <locationX>786</locationX>
        <locationY>93</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Line_of_Credit_Transactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Line_of_Credit__c</object>
        <outputReference>locRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Balance__c</queriedFields>
        <queriedFields>Credit_Limit__c</queriedFields>
        <queriedFields>Rate__c</queriedFields>
        <queriedFields>Balance_Fee__c</queriedFields>
        <queriedFields>Balance_Interest__c</queriedFields>
        <queriedFields>Total_Withdrawal__c</queriedFields>
        <queriedFields>Last_Interest_Charged__c</queriedFields>
        <queriedFields>Last_withdrawal_made__c</queriedFields>
        <queriedFields>Payment_Remaining__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_LoC_Transaction</name>
        <label>get LoC Transaction</label>
        <locationX>974</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_record_for_reversal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reversed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Reversal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Line_of_Credit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Line_of_Credit_Transaction__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Transaction_Date__c</queriedFields>
        <queriedFields>Reversed__c</queriedFields>
        <queriedFields>Reversed_Transaction__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>last_pay_date</name>
        <label>last pay date</label>
        <locationX>1671</locationX>
        <locationY>1452</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_previous_interest_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reversed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Line_of_Credit_Transaction__c</object>
        <outputAssignments>
            <assignToReference>previous_interest_charged_date</assignToReference>
            <field>Transaction_Date__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>update_loc_charge</name>
        <label>update loc charge</label>
        <locationX>3064</locationX>
        <locationY>1068</locationY>
        <inputReference>locRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_LoC_interest</name>
        <label>update LoC interest</label>
        <locationX>2019</locationX>
        <locationY>1306</locationY>
        <inputReference>locRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_loc_record</name>
        <label>update loc record</label>
        <locationX>3624</locationX>
        <locationY>540</locationY>
        <inputReference>locRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_LoC_transaction</name>
        <label>update LoC transaction</label>
        <locationX>1684</locationX>
        <locationY>795</locationY>
        <connector>
            <targetReference>check_reversal_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_LoC_Transaction.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reversed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Line_of_Credit_Transaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_loc_withdrawal_date</name>
        <label>update loc withdrawal date</label>
        <locationX>2358</locationX>
        <locationY>287</locationY>
        <inputReference>locRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Transaction_line</name>
        <label>Update New Transaction line</label>
        <locationX>459</locationX>
        <locationY>903</locationY>
        <inputReference>locRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>charge_screen</name>
        <label>charge screen</label>
        <locationX>2357</locationX>
        <locationY>1065</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_interest_charge_transaction</targetReference>
        </connector>
        <fields>
            <name>chargeLoc</name>
            <extensionName>c:locInterestCharge</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>interestBalance</name>
                <value>
                    <elementReference>locRecord.Balance_Interest__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastChargedDate</name>
                <value>
                    <elementReference>last_payment_date</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>principalBalance</name>
                <value>
                    <elementReference>locRecord.Payment_Remaining__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rate</name>
                <value>
                    <elementReference>locRecord.Rate__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>interestCharged_c</assignToReference>
                <name>interestAmount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>transactionDate_Charge</assignToReference>
                <name>transactionDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>comments_in_c</assignToReference>
                <name>comments</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Charge_Transaction</name>
        <label>Charge Transaction</label>
        <locationX>2018</locationX>
        <locationY>804</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>check_charge_type</targetReference>
        </connector>
        <fields>
            <name>basic_charge</name>
            <fieldText>&lt;p&gt;Balance : {!locRecord.Balance__c}&lt;/p&gt;&lt;p&gt;Type : {!Transaction_Type}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Charge_Type</name>
            <choiceReferences>chargeFee</choiceReferences>
            <choiceReferences>chargeInterest</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Charge Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fee_Charge_Transaction</name>
        <label>Fee Charge Transaction</label>
        <locationX>2152</locationX>
        <locationY>1279</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_fee_charge_transaction</targetReference>
        </connector>
        <fields>
            <name>basic_fee</name>
            <fieldText>&lt;p&gt;Fee Balance : {!locRecord.Balance_Fee__c}&lt;/p&gt;&lt;p&gt;Type : Fee&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>transactionDateFee</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>locRecord.CreatedDate</elementReference>
            </defaultValue>
            <fieldText>Transaction Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Transaction date should be greater than or equal to {!feeDateValidation}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!transactionDateFee} &gt;= {!feeDateValidation}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>amountFee</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Amount must be greater than 0&lt;/p&gt;</errorMessage>
                <formulaExpression>{!amountFee} &gt; 0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>commentsFee</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Interest_Warning</name>
        <label>Interest Warning</label>
        <locationX>2490</locationX>
        <locationY>793</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>warnInterestCharge</name>
            <fieldText>&lt;p&gt;There is no amount is available for the Interest charge transaction&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Line_of_Credit_Transactions</name>
        <label>Line of Credit Transactions</label>
        <locationX>958</locationX>
        <locationY>100</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>check_loc_types</targetReference>
        </connector>
        <fields>
            <name>transactionImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>200</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>700</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>transaction_placeholder</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Transaction_Type</name>
            <choiceReferences>locType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Transaction Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Loc_Transaction</name>
        <label>Loc Transaction</label>
        <locationX>1429</locationX>
        <locationY>541</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_reversal_transaction</targetReference>
        </connector>
        <fields>
            <name>Reversal_Transaction_Confirm</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Are you sure you want to reverse this transaction?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Type  :{!get_LoC_line.Type__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Transaction Date : {!get_LoC_Transaction.Transaction_Date__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Amount : {!get_LoC_line.Amount__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Description : {!get_LoC_line.Description__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LoC_Transaction_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Transaction Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Transaction date must be greater than or equal to reversing date &lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!reversalValidationDate}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!reversalValidationDate}&lt;=
{!LoC_Transaction_Date}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Comments_LoC</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>payment_decision</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>payments</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>payment_screen</name>
        <label>payment screen</label>
        <locationX>2255</locationX>
        <locationY>643</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assign_payment_transaction</targetReference>
        </connector>
        <fields>
            <name>payment_lwc</name>
            <extensionName>c:locPayment</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>balance</name>
                <value>
                    <elementReference>locRecord.Balance__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>creditLimit</name>
                <value>
                    <elementReference>locRecord.Credit_Limit__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>feeBalance</name>
                <value>
                    <elementReference>locRecord.Balance_Fee__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>interestBalance</name>
                <value>
                    <elementReference>locRecord.Balance_Interest__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>principalBalance</name>
                <value>
                    <elementReference>locRecord.Payment_Remaining__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rate</name>
                <value>
                    <elementReference>locRecord.Rate__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastPaymentDate</name>
                <value>
                    <elementReference>last_payment_date</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>payment_comments</assignToReference>
                <name>comments</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>feePaid_p</assignToReference>
                <name>feePaid</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>interestCharged_p</assignToReference>
                <name>interestCharged</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>interestPaid_p</assignToReference>
                <name>interestPaid</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>principalPaid_p</assignToReference>
                <name>principalPaid</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>transactionDate_p</assignToReference>
                <name>transactionDate</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>payment_warning</name>
        <label>payment warning</label>
        <locationX>2176</locationX>
        <locationY>411</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>warn_payment</name>
            <fieldText>&lt;p&gt;There is no amount is available to make {!Transaction_Type} transactions&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reversal_Warning</name>
        <label>Reversal Warning</label>
        <locationX>726</locationX>
        <locationY>623</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WARING_MESSAGE</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;There is no transaction is available for reversal&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transactions</name>
        <label>Transactions</label>
        <locationX>1787</locationX>
        <locationY>215</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_transaction</targetReference>
        </connector>
        <fields>
            <name>loc_basic</name>
            <fieldText>&lt;p&gt;Balance : {!locRecord.Balance__c}&lt;/p&gt;&lt;p&gt;Type : {!Transaction_Type}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>amount</name>
            <dataType>Currency</dataType>
            <fieldText>How much is the transaction for?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Amount must be less than {!withdraw_validation} &lt;/p&gt;</errorMessage>
                <formulaExpression>{!amount} &gt; 0 &amp;&amp; {!amount} &lt;= {!withdraw_validation}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Transaction_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Transaction Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>withdraw_overlimit</name>
        <label>withdraw overlimit</label>
        <locationX>1627</locationX>
        <locationY>95</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>overlimited</name>
            <fieldText>&lt;p&gt;All the amount was withdrawn&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>302</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>get_loc_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>comments_in_c</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FeeBalance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>feePaid_p</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>InterestBalance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>interestCharged_c</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>interestCharged_p</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>interestPaid_p</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>last_payment_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lastpaymentinterestfee</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>locRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Line_of_Credit__c</objectType>
    </variables>
    <variables>
        <name>LoCTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Transaction_Line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Line_of_Credit_Transaction_Line__c</objectType>
    </variables>
    <variables>
        <name>NewTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Line_of_Credit_Transaction__c</objectType>
    </variables>
    <variables>
        <name>payment_comments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Paymentbalance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>previous_interest_charged_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>principalPaid_p</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Line_of_Credit_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Transaction_Lines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Line_of_Credit_Transaction_Line__c</objectType>
    </variables>
    <variables>
        <name>transactionDate_Charge</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transactionDate_p</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransactionLinedummy</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Line_of_Credit_Transaction_Line__c</objectType>
    </variables>
</Flow>
