force-app/main/default/flows/Loan_Transaction_Reversal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_fee</name>
        <label>Add fee</label>
        <locationX>2157</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>BalanceFee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddFeeBalance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Transaction_Line.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Principal_Balance</name>
        <label>Add Principal Balance</label>
        <locationX>1934</locationX>
        <locationY>347</locationY>
        <assignmentItems>
            <assignToReference>principalBalance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddPrincipalBalance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrincipalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Transaction_Line.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Balances</name>
        <label>Assign Balances</label>
        <locationX>1337</locationX>
        <locationY>643</locationY>
        <assignmentItems>
            <assignToReference>New_Transaction.Balance_Fees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BalanceFee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Transaction.Balance_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BalanceInterest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Transaction.Balance_Principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>principalBalance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Transaction.Closing_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClosingBalance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.IsReversed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Transaction.Closing_Principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClosingBalance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_New_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Interest_Balance</name>
        <label>Assign Interest Balance</label>
        <locationX>1694</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>BalanceInterest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddBalanceInterest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Transaction</name>
        <label>Assign New Transaction</label>
        <locationX>950</locationX>
        <locationY>245</locationY>
        <assignmentItems>
            <assignToReference>New_Transaction.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reversal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Transaction.Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction.Loan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Transaction.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Transaction.Closing_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Transaction.Closing_Fees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Transaction.Closing_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Transaction.Closing_Principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Transaction.Balance_Fees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Transaction.Balance_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Transaction.Balance_Principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Transaction.Reversal_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction.Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_paid_interest</name>
        <label>assign paid interest</label>
        <locationX>1803</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>InterestAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Transaction_Line.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Interest_Balance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status</name>
        <label>Assign Status</label>
        <locationX>775</locationX>
        <locationY>765</locationY>
        <assignmentItems>
            <assignToReference>Loan.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Loan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_reversal_date</name>
        <label>Assign the reversal date</label>
        <locationX>579</locationX>
        <locationY>1192</locationY>
        <assignmentItems>
            <assignToReference>Loan.Next_Payment_Due__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan.Disbursed_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_reversal_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Last_Interest_Date</name>
        <label>Change Last Interest Date</label>
        <locationX>306</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>Loan.Last_Interest_Charged_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastTransaction.Transaction_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_if_status_paid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Transaction_Line</name>
        <label>Create Transaction_Line</label>
        <locationX>2229</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>New_Transaction_Line.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NegAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Transaction_Line.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Transaction_Line.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Transaction_Line.Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Transaction.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Transaction_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_loan_status_live</name>
        <label>update loan status live</label>
        <locationX>50</locationX>
        <locationY>999</locationY>
        <assignmentItems>
            <assignToReference>Loan.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_reversal_date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_status_paid</name>
        <label>check if status paid</label>
        <locationX>305</locationX>
        <locationY>818</locationY>
        <defaultConnector>
            <targetReference>Update_the_reversal_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Transaction.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_loan_status_live</targetReference>
            </connector>
            <label>paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_paid_interest</name>
        <label>check paid interest</label>
        <locationX>1663</locationX>
        <locationY>197</locationY>
        <defaultConnector>
            <targetReference>Assign_Interest_Balance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>paid_interest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Transaction_Line.Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Transaction_Line.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_paid_interest</targetReference>
            </connector>
            <label>paid interest</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_payment_type</name>
        <label>check payment type</label>
        <locationX>1319</locationX>
        <locationY>441</locationY>
        <defaultConnector>
            <targetReference>Assign_Balances</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>payment_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transaction.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_scheduled_payment_amount</targetReference>
            </connector>
            <label>payment type</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Disbursal</name>
        <label>If Disbursal</label>
        <locationX>655</locationX>
        <locationY>560</locationY>
        <defaultConnector>
            <targetReference>check_if_status_paid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Disbursal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transaction.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disbursal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status</targetReference>
            </connector>
            <label>Disbursal</label>
        </rules>
        <rules>
            <name>If_Interest_charged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transaction.Interest_Paid__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_previous_interest_charged</targetReference>
            </connector>
            <label>If Interest charged</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Type</name>
        <label>If Type</label>
        <locationX>1840</locationX>
        <locationY>54</locationY>
        <defaultConnector>
            <targetReference>Create_Transaction_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Transaction_Line.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_fee</targetReference>
            </connector>
            <label>If Fee</label>
        </rules>
        <rules>
            <name>If_Principal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Transaction_Line.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Principal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Principal_Balance</targetReference>
            </connector>
            <label>If Principal</label>
        </rules>
        <rules>
            <name>If_Interest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Transaction_Line.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_paid_interest</targetReference>
            </connector>
            <label>If Interest</label>
        </rules>
    </decisions>
    <formulas>
        <name>AddBalanceInterest</name>
        <dataType>Currency</dataType>
        <expression>{!BalanceInterest} + {!NegAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>AddFeeBalance</name>
        <dataType>Currency</dataType>
        <expression>{!BalanceFee}+{!NegAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>AddPrincipalBalance</name>
        <dataType>Currency</dataType>
        <expression>{!principalBalance} + {!NegAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ClosingBalance</name>
        <dataType>Currency</dataType>
        <expression>{!BalanceFee} + {!BalanceInterest} + {!principalBalance}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>feeReversal</name>
        <dataType>Currency</dataType>
        <expression>{!FeeAmount} * -1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>interestReversal</name>
        <dataType>Currency</dataType>
        <expression>{!InterestAmount} * -1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NegAmount</name>
        <dataType>Currency</dataType>
        <expression>-{!Loop_Transaction_Line.Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>principalReversal</name>
        <dataType>Currency</dataType>
        <expression>{!PrincipalAmount} * -1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Loan Transaction Reversal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan Transaction Reversal</label>
    <loops>
        <name>Loop_Transaction_Line</name>
        <label>Loop Transaction Line</label>
        <locationX>1330</locationX>
        <locationY>244</locationY>
        <collectionReference>Transaction_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_payment_type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Transaction_Line</name>
        <label>Create New Transaction Line</label>
        <locationX>1918</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Loop_Transaction_Line</targetReference>
        </connector>
        <inputReference>New_Transaction_Line</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Transaction</name>
        <label>Create Transaction</label>
        <locationX>1155</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>Loop_Transaction_Line</targetReference>
        </connector>
        <inputReference>New_Transaction</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_schedules</name>
        <label>Delete schedules</label>
        <locationX>778</locationX>
        <locationY>1189</locationY>
        <connector>
            <targetReference>Assign_the_reversal_date</targetReference>
        </connector>
        <inputReference>Schedules</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Transaction_Line</name>
        <label>Get All Transaction Line</label>
        <locationX>786</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_New_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transaction__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Transaction_Line__c</object>
        <outputReference>Transaction_Lines</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan</name>
        <label>Get Loan</label>
        <locationX>882</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Disbursal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Transaction.Loan__c</elementReference>
            </value>
        </filters>
        <object>Loan__c</object>
        <outputReference>Loan</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Last_Interest_Charged_Date__c</queriedFields>
        <queriedFields>Next_Payment_Due__c</queriedFields>
        <queriedFields>Disbursed_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Balance</name>
        <label>Get Loan Balance</label>
        <locationX>642</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Transaction_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Transaction.Loan__c</elementReference>
            </value>
        </filters>
        <object>Loan__c</object>
        <outputAssignments>
            <assignToReference>BalanceFee</assignToReference>
            <field>Balance_Fees__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BalanceInterest</assignToReference>
            <field>Balance_Interest__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>principalBalance</assignToReference>
            <field>Balance_Principal__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LoanBalance</assignToReference>
            <field>Balance__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_previous_interest_charged</name>
        <label>Get previous interest charged</label>
        <locationX>407</locationX>
        <locationY>504</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_Last_Interest_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Reversal</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsReversed__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Transaction.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Transaction.Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Adjustment</stringValue>
            </value>
        </filters>
        <object>Loan_Transaction__c</object>
        <outputReference>LastTransaction</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Transaction_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Schedules</name>
        <label>Get Schedules</label>
        <locationX>777</locationX>
        <locationY>1040</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_schedules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Transaction.Loan__c</elementReference>
            </value>
        </filters>
        <object>Scheduled_Transaction__c</object>
        <outputReference>Schedules</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction</name>
        <label>Get Transaction</label>
        <locationX>491</locationX>
        <locationY>243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Loan_Balance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsReversed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Loan_Transaction__c</object>
        <outputReference>Transaction</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Closing_Balance__c</queriedFields>
        <queriedFields>Closing_Fees__c</queriedFields>
        <queriedFields>Closing_Principal__c</queriedFields>
        <queriedFields>Loan__c</queriedFields>
        <queriedFields>IsReversed__c</queriedFields>
        <queriedFields>Interest_Paid__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loan</name>
        <label>Update Loan</label>
        <locationX>775</locationX>
        <locationY>897</locationY>
        <connector>
            <targetReference>Get_Schedules</targetReference>
        </connector>
        <inputReference>Loan</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Transaction</name>
        <label>Update New Transaction</label>
        <locationX>1192</locationX>
        <locationY>554</locationY>
        <connector>
            <targetReference>Update_Old_Transaction</targetReference>
        </connector>
        <inputReference>New_Transaction</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Transaction</name>
        <label>Update Old Transaction</label>
        <locationX>1029</locationX>
        <locationY>553</locationY>
        <connector>
            <targetReference>Get_Loan</targetReference>
        </connector>
        <inputReference>Transaction</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_reversal_date</name>
        <label>Update the reversal date</label>
        <locationX>316</locationX>
        <locationY>1189</locationY>
        <inputReference>Loan</inputReference>
    </recordUpdates>
    <start>
        <locationX>365</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>Get_Transaction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>update_scheduled_payment_amount</name>
        <label>update scheduled payment amount</label>
        <locationX>1541</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Assign_Balances</targetReference>
        </connector>
        <flowName>scheduled_payment_amount_reversal</flowName>
        <inputAssignments>
            <name>feeAmount</name>
            <value>
                <elementReference>feeReversal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>interestAmount</name>
            <value>
                <elementReference>interestReversal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>principalAmount</name>
            <value>
                <elementReference>principalReversal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Transaction.Loan__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>BalanceFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>BalanceInterest</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FeeAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>InterestAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LastTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Loan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan__c</objectType>
    </variables>
    <variables>
        <name>LoanBalance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>New_Transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Transaction__c</objectType>
    </variables>
    <variables>
        <name>New_Transaction_Line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Line__c</objectType>
    </variables>
    <variables>
        <name>PrincipalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>principalBalance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Schedules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scheduled_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Select_Transaction_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Transaction_Lines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Line__c</objectType>
    </variables>
</Flow>
