force-app/main/default/flows/Loan_Transaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Values_For_Other_Transaction</name>
        <label>Assign Values For Other Transaction</label>
        <locationX>1552</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>Other_Transaction.Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Created_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today_DateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Type_selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction.Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Other_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Other_transaction_line_assign</name>
        <label>Other transaction line assign</label>
        <locationX>1885</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>Other_Transaction_Line.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amounts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction_Line.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Charge_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Transaction_Line.Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Transaction.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Other_transaction_line</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Charge_Fee</name>
        <choiceText>Fee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Charge_Interest</name>
        <choiceText>Interest</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Interest</stringValue>
        </value>
    </choices>
    <choices>
        <name>Charge_Transaction_Fee_Choice</name>
        <choiceText>Fee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fee_Payment</name>
        <choiceText>Fee Payment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FeePayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Loan_Payment</name>
        <choiceText>Loan Repayment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LoanRepayment</stringValue>
        </value>
    </choices>
    <constants>
        <name>Transaction_Placeholder</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=’/resource/transaction_placeholder’ /&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Capitalise_All</name>
        <label>Capitalise All</label>
        <locationX>1966</locationX>
        <locationY>926</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Interest_Capitalisation_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interest_Capitalisation</targetReference>
            </connector>
            <label>All</label>
        </rules>
    </decisions>
    <decisions>
        <name>Capitalise_Type</name>
        <label>Capitalise Type</label>
        <locationX>1539</locationX>
        <locationY>900</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fee_or_all</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Interest_Capitalisation_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fees</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Interest_Capitalisation_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>capitalize_fee</targetReference>
            </connector>
            <label>Fee or All</label>
        </rules>
        <rules>
            <name>If_Interest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Interest_Capitalisation_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interest_Capitalisation</targetReference>
            </connector>
            <label>If Interest</label>
        </rules>
    </decisions>
    <decisions>
        <name>Charge_Interest_Transaction</name>
        <label>Charge Interest Transaction</label>
        <locationX>544</locationX>
        <locationY>1135</locationY>
        <defaultConnector>
            <targetReference>No_Transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>If_Charge_Interest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Charge_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Charge_Interest</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>transaction_disbursal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>charge_interest_flow</targetReference>
            </connector>
            <label>If Charge Interest</label>
        </rules>
        <rules>
            <name>if_Charge_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Charge_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Charge_Fee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>fee_charge_sub_flow</targetReference>
            </connector>
            <label>if Charge Fee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Transaction_Type_Decision</name>
        <label>Other Transaction_Type_Decision</label>
        <locationX>783</locationX>
        <locationY>670</locationY>
        <defaultConnector>
            <targetReference>Other_Transaction_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>writeoff_with_other</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Loan_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Written Off</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Transaction_Type_selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Transaction_Type_selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Capitalisation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Transaction_Type_selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspend Interest</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Transaction_Type_selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>writeoff_warn</targetReference>
            </connector>
            <label>writeoff with other</label>
        </rules>
        <rules>
            <name>payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transaction_Type_selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Repayment_Type</targetReference>
            </connector>
            <label>payment</label>
        </rules>
        <rules>
            <name>Write_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transaction_Type_selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Write Off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WrittenOff_Transaction</targetReference>
            </connector>
            <label>Write Off</label>
        </rules>
        <rules>
            <name>Recovery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transaction_Type_selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recovery_Transaction</targetReference>
            </connector>
            <label>Recovery</label>
        </rules>
        <rules>
            <name>suspend_interest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transaction_Type_selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspend Interest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interest_Suspend</targetReference>
            </connector>
            <label>suspend interest</label>
        </rules>
        <rules>
            <name>Capitalisation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transaction_Type_selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Capitalisation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interest_Capitalisation_Screen</targetReference>
            </connector>
            <label>Capitalisation</label>
        </rules>
        <rules>
            <name>Reversal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transaction_Type_selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reversal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loan_Reversal</targetReference>
            </connector>
            <label>Reversal</label>
        </rules>
        <rules>
            <name>Adjustment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transaction_Type_selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adjustment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adjustment_Flow</targetReference>
            </connector>
            <label>Adjustment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Repayment_Decistion</name>
        <label>Repayment Decision</label>
        <locationX>783</locationX>
        <locationY>268</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Loan_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Payment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LoanRepayment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loan_Transaction</targetReference>
            </connector>
            <label>If Loan Repayment</label>
        </rules>
        <rules>
            <name>If_Fee_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Payment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FeePayment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fee_Balance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>fee_payment_flow</targetReference>
            </connector>
            <label>If Fee Payment</label>
        </rules>
        <rules>
            <name>If_Fee_Balance_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fee_Balance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Payment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FeePayment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fee_error_screen</targetReference>
            </connector>
            <label>If Fee Balance Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transaction_Type_Decision</name>
        <label>Transaction_Type_Decision</label>
        <locationX>504</locationX>
        <locationY>683</locationY>
        <defaultConnector>
            <targetReference>No_Transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>If_disbursal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transaction_Type_selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disbursal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loan_Disburse</targetReference>
            </connector>
            <label>If disbursal</label>
        </rules>
        <rules>
            <name>if_charge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transaction_Type_selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Charge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Charge_Transaction_Screen</targetReference>
            </connector>
            <label>charge</label>
        </rules>
        <rules>
            <name>disbursed_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>transaction_disbursal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Transaction_Type_Decision</targetReference>
            </connector>
            <label>disbursed true</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Interest_Capitalisation_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Capitalisation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Scheduled_Transaction_PicklistSet</name>
        <dataType>Date</dataType>
        <displayField>Payment_Date__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Paid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Scheduled_Transaction__c</object>
        <sortField>Payment_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Transaction_Type_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Loan_Transaction__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Balance</name>
        <dataType>Currency</dataType>
        <expression>{!Loan_Record.Balance__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Capital_Fee_Amount</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!CapitalFeeAmount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Capitalise_Closing_Balance</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!CapitalFeeAmount}) + {!Loan_Record.Balance__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Capitalise_Fee_Balance</name>
        <dataType>String</dataType>
        <expression>TEXT({!Loan_Record.Balance_Fees__c})</expression>
    </formulas>
    <formulas>
        <name>Charge_Amount_Currency</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!ChargeAmount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Charge_Closing_Balance</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!ChargeAmount}) + {!Loan_Record.Balance__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Closing_Balance_Interest_Charge</name>
        <dataType>Currency</dataType>
        <expression>{!Interest_Charged_Amount_Currency} + {!Loan_Record.Balance__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Closing_Interest_Balance_Interest_Charge</name>
        <dataType>Currency</dataType>
        <expression>{!Interest_Charged_Amount_Currency} + {!Loan_Record.Balance_Interest__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>enable_filter</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Settings__c.Enable_Loan_Filter__c}</expression>
    </formulas>
    <formulas>
        <name>Fee_Balance</name>
        <dataType>Currency</dataType>
        <expression>{!Loan_Record.Balance_Fees__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Fee_Balance_Text</name>
        <dataType>String</dataType>
        <expression>TEXT({!Loan_Record.Balance_Fees__c})</expression>
    </formulas>
    <formulas>
        <name>Fees</name>
        <dataType>Currency</dataType>
        <expression>{!Scheduled_Payment.Fees__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Interest</name>
        <dataType>Currency</dataType>
        <expression>{!Scheduled_Payment.Interest__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Interest_Amount</name>
        <dataType>Currency</dataType>
        <expression>({!Interest_Balance}) - {!Loan_Record.Balance_Interest__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Interest_Charged_Amount_Currency</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!Interest_Charged_Amount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Loan_Amount</name>
        <dataType>String</dataType>
        <expression>TEXT({!Loan_Record.Amount__c})</expression>
    </formulas>
    <formulas>
        <name>Neg_Amount</name>
        <dataType>Currency</dataType>
        <expression>-{!Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Neg_Interest</name>
        <dataType>Currency</dataType>
        <expression>-{!Interest}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Neg_Principal</name>
        <dataType>Currency</dataType>
        <expression>-{!Principal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Payment_Closing_Balance</name>
        <dataType>Currency</dataType>
        <expression>{!Loan_Record.Balance__c} - {!Principal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Principal</name>
        <dataType>Currency</dataType>
        <expression>{!Scheduled_Payment.Principal__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Today_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>Today_DateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>Total_Payment</name>
        <dataType>Currency</dataType>
        <expression>{!Scheduled_Payment.Total_Payment__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Transaction_Type_selected</name>
        <dataType>String</dataType>
        <expression> {!selected_transaction_type_filter}</expression>
    </formulas>
    <interviewLabel>Loan Transaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan Transaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Other_Record</name>
        <label>Create Other Record</label>
        <locationX>1717</locationX>
        <locationY>502</locationY>
        <connector>
            <targetReference>Other_transaction_line_assign</targetReference>
        </connector>
        <inputReference>Other_Transaction</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Other_transaction_line</name>
        <label>Create Other transaction line</label>
        <locationX>2057</locationX>
        <locationY>506</locationY>
        <inputReference>Other_Transaction_Line</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Application_Records</name>
        <label>Get Application Records</label>
        <locationX>180</locationX>
        <locationY>681</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TransactionType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan_Record.Application__c</elementReference>
            </value>
        </filters>
        <object>Application__c</object>
        <outputReference>Application_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Final_Rate__c</queriedFields>
        <queriedFields>Repayment_Frequency__c</queriedFields>
        <queriedFields>Loan_Product__c</queriedFields>
        <queriedFields>Day_Count__c</queriedFields>
        <queriedFields>Interest_Compounding_Frequency__c</queriedFields>
        <queriedFields>Interest_Calculation_Method__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_disbursal_made</name>
        <label>get disbursal made</label>
        <locationX>178</locationX>
        <locationY>390</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Last_Transaction_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Disbursal</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsReversed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Loan_Transaction__c</object>
        <outputReference>transaction_disbursal</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_Transaction_Date</name>
        <label>Get Last Transaction Date</label>
        <locationX>180</locationX>
        <locationY>525</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Application_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Reversal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Adjustment</stringValue>
            </value>
        </filters>
        <object>Loan_Transaction__c</object>
        <outputAssignments>
            <assignToReference>last_transaction_date</assignToReference>
            <field>Transaction_Date__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan</name>
        <label>Get Loan</label>
        <locationX>176</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_disbursal_made</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loan__c</object>
        <outputReference>Loan_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Balance__c</queriedFields>
        <queriedFields>Balance_Fees__c</queriedFields>
        <queriedFields>Application__c</queriedFields>
        <queriedFields>Balance_Interest__c</queriedFields>
        <queriedFields>Balance_Principal__c</queriedFields>
        <queriedFields>Last_Interest_Charged_Date__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Disbursed_Date__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Charge_Transaction_Screen</name>
        <label>Charge Transaction Screen</label>
        <locationX>630</locationX>
        <locationY>1002</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Charge_Interest_Transaction</targetReference>
        </connector>
        <fields>
            <name>Charge_Transaction</name>
            <fieldText>&lt;p&gt;Balance: {!Balance}                           &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Type: {!Transaction_Type_selected}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Charge_Type</name>
            <choiceReferences>Charge_Fee</choiceReferences>
            <choiceReferences>Charge_Interest</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Charge Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Charge_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Charge_Fee</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Select_Charge_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Charge_Interest</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fee_error_screen</name>
        <label>Fee error screen</label>
        <locationX>511</locationX>
        <locationY>189</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Fee</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;There is no balance fee to pay&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Interest_Capitalisation_Screen</name>
        <label>Interest Capitalisation</label>
        <locationX>1454</locationX>
        <locationY>673</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Capitalise_Type</targetReference>
        </connector>
        <fields>
            <name>Interest_Capital_Charge_Type</name>
            <choiceReferences>Interest_Capitalisation_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Charge Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Transaction</name>
        <label>No Transaction</label>
        <locationX>333</locationX>
        <locationY>1021</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Warning</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;; color: rgb(36, 41, 46);&quot;&gt;The loan does not have a balance!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_Transaction_Screen</name>
        <label>Other Transaction Screen</label>
        <locationX>1406</locationX>
        <locationY>502</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values_For_Other_Transaction</targetReference>
        </connector>
        <fields>
            <name>Other_Type</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Balance: {!Balance}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Type: {!Transaction_Type_selected}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Amounts</name>
            <dataType>Currency</dataType>
            <fieldText>How much is the transaction for?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Amount should be greater than zero&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Amounts} &gt; 0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Charge_Type</name>
            <choiceReferences>Charge_Transaction_Fee_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Charge Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Transaction_Date</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Today_DateTime</elementReference>
            </defaultValue>
            <fieldText>Transaction Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Date must be greater than the last transaction&amp;nbsp;{!last_transaction_date}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Transaction_Date}&gt;= {!last_transaction_date}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Post_Navigation</name>
            <extensionName>c:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>next</name>
                <value>
                    <stringValue>Post</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pause</name>
                <value>
                    <stringValue>Pause</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previous</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCustomButton1</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPause</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Repayment_Type</name>
        <label>Repayment Type</label>
        <locationX>791</locationX>
        <locationY>401</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Repayment_Decistion</targetReference>
        </connector>
        <fields>
            <name>Display_Balance</name>
            <fieldText>&lt;p&gt;Balance : {!Balance}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Fee Balance : {!Fee_Balance}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Payment</name>
            <choiceReferences>Loan_Payment</choiceReferences>
            <choiceReferences>Fee_Payment</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Loan_Payment</defaultSelectedChoiceReference>
            <fieldText>Select Payment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TransactionType</name>
        <label>Transaction Type</label>
        <locationX>331</locationX>
        <locationY>682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Transaction_Type_Decision</targetReference>
        </connector>
        <fields>
            <name>planceholder</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>transaction_placeholder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>200</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>270</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TransactionTypeLWCFilter</name>
            <extensionName>c:transactionDropdown</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loanStatus</name>
                <value>
                    <elementReference>Loan_Record.Status__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enabledFilter</name>
                <value>
                    <elementReference>enable_filter</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selected_transaction_type_filter</assignToReference>
                <name>transactionType</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>writeoff_warn</name>
        <label>writeoff warn</label>
        <locationX>649</locationX>
        <locationY>438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_writeoff_warn</name>
            <fieldText>&lt;p&gt;You cannot make {!Transaction_Type_selected} transaction because loan is in written off status&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>53</locationX>
        <locationY>116</locationY>
        <connector>
            <targetReference>Get_Loan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Adjustment_Flow</name>
        <label>Adjustment Flow</label>
        <locationX>750</locationX>
        <locationY>929</locationY>
        <flowName>Loan_Adjustment_Screen</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>capitalize_fee</name>
        <label>capitalize fee</label>
        <locationX>1753</locationX>
        <locationY>1035</locationY>
        <connector>
            <targetReference>Capitalise_All</targetReference>
        </connector>
        <flowName>Charge_Fee</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>transaction_type</name>
            <value>
                <elementReference>Transaction_Type_selected</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>charge_interest_flow</name>
        <label>charge interest</label>
        <locationX>319</locationX>
        <locationY>1288</locationY>
        <flowName>Charge_Interest</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>fee_charge_sub_flow</name>
        <label>fee charge sub flow</label>
        <locationX>760</locationX>
        <locationY>1293</locationY>
        <flowName>Charge_Fee</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>fee_payment_flow</name>
        <label>fee payment flow</label>
        <locationX>1069</locationX>
        <locationY>185</locationY>
        <flowName>Fee_Payment</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Interest_Capitalisation</name>
        <label>Interest Capitalisation</label>
        <locationX>1754</locationX>
        <locationY>805</locationY>
        <flowName>Charge_Interest</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Transaction_Type</name>
            <value>
                <elementReference>Transaction_Type_selected</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Interest_Suspend</name>
        <label>Interest Suspend</label>
        <locationX>1315</locationX>
        <locationY>760</locationY>
        <flowName>Interest_Suspend_Transaction</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Loan_Disburse</name>
        <label>Loan_Disburse</label>
        <locationX>488</locationX>
        <locationY>485</locationY>
        <flowName>Loan_Disburse</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Loan_Reversal</name>
        <label>Loan Reversal</label>
        <locationX>876</locationX>
        <locationY>968</locationY>
        <flowName>Loan_Reversal_Screen</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Loan_Transaction</name>
        <label>Loan Transaction</label>
        <locationX>794</locationX>
        <locationY>91</locationY>
        <flowName>Payment_Transaction</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Recovery_Transaction</name>
        <label>Recovery Transaction</label>
        <locationX>1053</locationX>
        <locationY>897</locationY>
        <flowName>Recovery_Transaction</flowName>
        <inputAssignments>
            <name>last_transaction_date</name>
            <value>
                <elementReference>last_transaction_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>WrittenOff_Transaction</name>
        <label>WrittenOff Transaction</label>
        <locationX>1201</locationX>
        <locationY>823</locationY>
        <flowName>Writeoff_Transaction</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>transaction_type</name>
            <value>
                <stringValue>Write Off - Regular</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Application_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>CapitalFeeAmount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Capitalise_Charge_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Capitalise_FeeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Capitalise_FeeTransaction_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Capitalise_Loan_Amount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChargeAmount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>ChargeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CL_Balance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CL_FeeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Closing_Balance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ClosingAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Daycount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Fee_Transaction_Line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Line__c</objectType>
    </variables>
    <variables>
        <name>feeBal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>feeBalan</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FeeTransactionDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getAmount</name>
        <dataType>Currency</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Interest_Balance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Loan_Record.Balance_Interest__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Interest_Charge_Transaction_Line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Line__c</objectType>
    </variables>
    <variables>
        <name>Interest_Charged_Amount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>Interest_Frequency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Interest_last_transaction_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Interest_Paid_Transaction_Line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Line__c</objectType>
    </variables>
    <variables>
        <name>Interest_Transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Interest_Transaction_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>LastInterestDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>InterestBalance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>InterestChargeRate</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>InterestDayCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>InterestFrequency</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>InterestRate</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>L_balance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>L_RecordId</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>last_transaction_date</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastInterestDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LBalance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LBalanceText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LDayCount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LInterestBalance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LInterestFrequency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Loan_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Product__c</objectType>
    </variables>
    <variables>
        <name>Loan_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan__c</objectType>
    </variables>
    <variables>
        <name>LPaymentFrequency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LPrincipalBalance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LRate</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Next_Payment_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Other_Transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Other_Transaction_Line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Line__c</objectType>
    </variables>
    <variables>
        <name>Payment_Frequency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Payment_Transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Transaction__c</objectType>
    </variables>
    <variables>
        <name>PaymentFrequency</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Principal_Transaction_Line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Line__c</objectType>
    </variables>
    <variables>
        <name>Rate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RateofInterest</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Scheduled_Payment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scheduled_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Scheduled_Payments_List</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scheduled_Transaction__c</objectType>
    </variables>
    <variables>
        <name>selected_transaction_type_filter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Today</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Today_DateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>transaction_disbursal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Transaction__c</objectType>
    </variables>
    <variables>
        <name>TransactionDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transactiondates</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>writeoff_transaction_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Transaction__c</objectType>
    </variables>
</Flow>
