force-app/main/default/flows/Loan_Disburse.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assign_approved_date</name>
        <label>assign approved date</label>
        <locationX>616</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>lastTransactionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application.Approved_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_written_off</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_current_date</name>
        <label>assign current date</label>
        <locationX>985</locationX>
        <locationY>130</locationY>
        <assignmentItems>
            <assignToReference>defaultDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastTransactionDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loan_Disbursal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_loan_payment</name>
        <label>set loan payment</label>
        <locationX>1010</locationX>
        <locationY>558</locationY>
        <assignmentItems>
            <assignToReference>LoanRecord.Next_Payment_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Next_Payment_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanRecord.Disbursed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Disbursal_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_loan_next_payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_loan_status_live</name>
        <label>set loan status live</label>
        <locationX>1144</locationX>
        <locationY>737</locationY>
        <assignmentItems>
            <assignToReference>LoanRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_loan_payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Transaction_Values</name>
        <label>Set Transaction Values</label>
        <locationX>1256</locationX>
        <locationY>354</locationY>
        <assignmentItems>
            <assignToReference>Loan_Transaction.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Disbursal_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_Transaction.Created_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_Transaction.Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_Transaction.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Disbursal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_Transaction.Closing_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Closing_Balance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_Transaction.Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_Transaction.Closing_Principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>closing_principal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_Transaction.Closing_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoanRecord.Balance_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_Transaction.Closing_Fees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoanRecord.Balance_Fees__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Transaction_Line_assign</name>
        <label>Transaction Line assign</label>
        <locationX>1612</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>Principal_Transaction_Line.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Principal_Transaction_Line.Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Transaction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Principal_Transaction_Line.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Principal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction_Line</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_last_transaction_date_null</name>
        <label>check last transaction date null</label>
        <locationX>378</locationX>
        <locationY>510</locationY>
        <defaultConnector>
            <targetReference>Find_written_off</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not null</defaultConnectorLabel>
        <rules>
            <name>transaction_date_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lastTransactionDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_approved_date</targetReference>
            </connector>
            <label>transaction date null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_loan_status</name>
        <label>check loan status</label>
        <locationX>1250</locationX>
        <locationY>553</locationY>
        <defaultConnector>
            <targetReference>set_loan_payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>if_pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanRecord.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_loan_status_live</targetReference>
            </connector>
            <label>if pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_past_date</name>
        <label>check past date</label>
        <locationX>856</locationX>
        <locationY>363</locationY>
        <defaultConnector>
            <targetReference>Loan_Disbursal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>future_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lastTransactionDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_current_date</targetReference>
            </connector>
            <label>future</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_written_off</name>
        <label>Find written off</label>
        <locationX>490</locationX>
        <locationY>356</locationY>
        <defaultConnector>
            <targetReference>If_fund_available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>written_off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanRecord.Written_Off_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Disbursing</targetReference>
            </connector>
            <label>written off</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_fund_available</name>
        <label>If fund available</label>
        <locationX>674</locationX>
        <locationY>222</locationY>
        <defaultConnector>
            <targetReference>No_fund_Error_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>fund_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanRecord.Available_Funds__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_past_date</targetReference>
            </connector>
            <label>fund available</label>
        </rules>
    </decisions>
    <formulas>
        <name>Approved_Date</name>
        <dataType>Date</dataType>
        <expression>{!Application.Approved_Date__c}</expression>
    </formulas>
    <formulas>
        <name>Closing_Balance</name>
        <dataType>Currency</dataType>
        <expression>{!LoanRecord.Balance__c} + {!Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>closing_principal</name>
        <dataType>Currency</dataType>
        <expression>{!LoanRecord.Balance_Principal__c} + {!Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Today_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Loan Disburse1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan Disburse</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_disbursal_commitment</name>
        <label>create disbursal commitment</label>
        <locationX>1619</locationX>
        <locationY>549</locationY>
        <connector>
            <targetReference>get_scheduled_transaction_payment_date</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Disbursal_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Disbursal</stringValue>
            </value>
        </inputAssignments>
        <object>Commitment_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Transaction</name>
        <label>Create Transaction</label>
        <locationX>1444</locationX>
        <locationY>356</locationY>
        <connector>
            <targetReference>Transaction_Line_assign</targetReference>
        </connector>
        <inputReference>Loan_Transaction</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Transaction_Line</name>
        <label>Create Principal Transaction Line</label>
        <locationX>1782</locationX>
        <locationY>446</locationY>
        <connector>
            <targetReference>create_disbursal_commitment</targetReference>
        </connector>
        <inputReference>Principal_Transaction_Line</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Application_Records</name>
        <label>Application Records</label>
        <locationX>204</locationX>
        <locationY>353</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_transaction_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanRecord.Application__c</elementReference>
            </value>
        </filters>
        <object>Application__c</object>
        <outputReference>Application</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Approved_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan</name>
        <label>Get Loan</label>
        <locationX>204</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Application_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loan__c</object>
        <outputReference>LoanRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Disbursed_Date__c</queriedFields>
        <queriedFields>Available_Funds__c</queriedFields>
        <queriedFields>Balance__c</queriedFields>
        <queriedFields>Created_Date__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Application__c</queriedFields>
        <queriedFields>Written_Off_Amount__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Balance_Interest__c</queriedFields>
        <queriedFields>Balance_Fees__c</queriedFields>
        <queriedFields>Balance_Principal__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_scheduled_transaction_payment_date</name>
        <label>get scheduled transaction payment date</label>
        <locationX>1431</locationX>
        <locationY>549</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_loan_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Paid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Scheduled_Transaction__c</object>
        <outputAssignments>
            <assignToReference>Next_Payment_Date</assignToReference>
            <field>Scheduled_Date__c</field>
        </outputAssignments>
        <sortField>Scheduled_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>get_transaction_date</name>
        <label>get transaction date</label>
        <locationX>209</locationX>
        <locationY>509</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_last_transaction_date_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Reversal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Adjustment</stringValue>
            </value>
        </filters>
        <object>Loan_Transaction__c</object>
        <outputAssignments>
            <assignToReference>lastTransactionDate</assignToReference>
            <field>Transaction_Date__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_loan_next_payment</name>
        <label>Update loan next payment</label>
        <locationX>846</locationX>
        <locationY>558</locationY>
        <inputReference>LoanRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Loan_Disbursal</name>
        <label>Loan Disbursal</label>
        <locationX>1122</locationX>
        <locationY>354</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Transaction_Values</targetReference>
        </connector>
        <fields>
            <name>AvailableFundText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(36, 41, 46); background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;;&quot;&gt;Available funds:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(36, 41, 46); background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;;&quot;&gt;&lt;u&gt;{!Availablefund}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Disbursal_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>defaultDate</elementReference>
            </defaultValue>
            <fieldText>Disbursal Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(36, 41, 46); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Disbursal Date must be greater than or equal to {!lastTransactionDate}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Disbursal_Date}&gt;= {!lastTransactionDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Availablefund</elementReference>
            </defaultValue>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(205, 62, 57); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Amount cannot exceed the available funds&lt;/span&gt;&lt;span style=&quot;color: rgb(244, 116, 125); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(205, 62, 57); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; and greater than zero &lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Amount} &lt;= {!Availablefund} &amp;&amp; {!Amount}&gt;0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Post_Navigation</name>
            <extensionName>c:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>next</name>
                <value>
                    <stringValue>Post</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pause</name>
                <value>
                    <stringValue>Pause</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previous</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCustomButton1</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPause</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_fund_Error_screen</name>
        <label>No Fund Error Screen</label>
        <locationX>798</locationX>
        <locationY>57</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(36, 41, 46); font-size: 14px; background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;;&quot;&gt;All available funds have already been disbursed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_Disbursing</name>
        <label>Not Disbursing</label>
        <locationX>498</locationX>
        <locationY>164</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Not_Disburse</name>
            <fieldText>&lt;p&gt;You can&apos;t disburse anymore.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>78</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Loan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>Availablefund</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>LoanRecord.Available_Funds__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>defaultDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>Interest_Transaction_Line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Line__c</objectType>
    </variables>
    <variables>
        <name>lastTransactionDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Loan_Transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Transaction__c</objectType>
    </variables>
    <variables>
        <name>LoanRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan__c</objectType>
    </variables>
    <variables>
        <name>Next_Payment_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Principal_Transaction_Line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Line__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
