force-app/main/default/flows/Loan_Reversal_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Loan Reversal Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan Reversal Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Last_Transaction_Date</name>
        <label>Get Last Transaction Date</label>
        <locationX>342</locationX>
        <locationY>277</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transaction_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsReversed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Reversal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Adjustment</stringValue>
            </value>
        </filters>
        <object>Loan_Transaction__c</object>
        <outputAssignments>
            <assignToReference>last_transactiondate</assignToReference>
            <field>Transaction_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Top_Transaction</name>
        <label>Get Top Transaction</label>
        <locationX>176</locationX>
        <locationY>277</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Last_Transaction_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsReversed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Reversal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Adjustment</stringValue>
            </value>
        </filters>
        <object>Loan_Transaction__c</object>
        <outputReference>Transaction</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Credit__c</queriedFields>
        <sortField>Transaction_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <screens>
        <name>Transaction_Details</name>
        <label>Transaction Detail</label>
        <locationX>495</locationX>
        <locationY>277</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loan_reversal_logics</targetReference>
        </connector>
        <fields>
            <name>Select_Transaction_Date</name>
            <dataType>Date</dataType>
            <fieldText>Transaction Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Transaction date should be greater than&amp;nbsp;{!last_transactiondate}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Select_Transaction_Date}&gt;= {!last_transactiondate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Detail</name>
            <extensionName>c:customRecordDetail</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>column</name>
                <value>
                    <stringValue>3</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Type__c,Reversal_Transaction_Date__c,Total_Credit_P__c,Total_Debit__c,Closing_Balance__c,Closing_Fees__c,Closing_Principal__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>custom:custom17</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Loan_Transaction__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Transaction.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Transaction Detail</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Transaction_Lines</name>
            <extensionName>c:customRelatedList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Type__c,Total_Credit__c,Total_Debit__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterApiName</name>
                <value>
                    <stringValue>Transaction__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterId</name>
                <value>
                    <elementReference>Transaction.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Transaction_Line__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rowlabels</name>
                <value>
                    <stringValue>Type,Total Credit, Total Debit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>custom:custom17</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Transaction Lines</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldTypes</name>
                <value>
                    <stringValue>string,currency,currency</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Post_Navigation</name>
            <extensionName>c:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>next</name>
                <value>
                    <stringValue>Post</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pause</name>
                <value>
                    <stringValue>Pause</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previous</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCustomButton1</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPause</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Top_Transaction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Loan_reversal_logics</name>
        <label>Loan reversal logics</label>
        <locationX>683</locationX>
        <locationY>278</locationY>
        <flowName>Loan_Transaction_Reversal</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Select_Transaction_Date</name>
            <value>
                <elementReference>Select_Transaction_Date</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>last_transactiondate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Transaction__c</objectType>
    </variables>
</Flow>
