force-app/main/default/flows/Loan_Adjustment_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Adjust_Type_Fun</name>
        <label>Adjust Type Fun</label>
        <locationX>783</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>adjust_Fun</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Increase</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increase_Principal_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assgin_Debit</name>
        <label>Assgin Debit</label>
        <locationX>669</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Transaction_Line.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Increase_Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Line_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Adjust_If_Decrease</name>
        <label>Assign Adjust If Decrease</label>
        <locationX>965</locationX>
        <locationY>440</locationY>
        <assignmentItems>
            <assignToReference>adjust_Fun</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Decrease</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increase_Principal_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Credit</name>
        <label>Assign Credit</label>
        <locationX>351</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Transaction_Line.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Neg_Dec_Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Line_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fee_Type</name>
        <label>Assign Fee Type</label>
        <locationX>923</locationX>
        <locationY>992</locationY>
        <assignmentItems>
            <assignToReference>Transaction_Line.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Closing_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Balance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Closing_Fees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Balance_Fee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Verify_Balance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan.Balance_Fees__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Closing_Principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan.Balance_Principal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Closing_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan.Balance_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>if_Decrease</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Interest_Type</name>
        <label>Assign Interest Type</label>
        <locationX>921</locationX>
        <locationY>1115</locationY>
        <assignmentItems>
            <assignToReference>Transaction_Line.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Closing_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Balance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Closing_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Balance_Interest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Verify_Balance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan.Balance_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Closing_Principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan.Balance_Principal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Closing_Fees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan.Balance_Fees__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>if_Decrease</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Line_Fields</name>
        <label>Assign Line Fields</label>
        <locationX>1546</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>Transaction_Line.Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Principal_Type</name>
        <label>Assign Principal Type</label>
        <locationX>928</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>Transaction_Line.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Principal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Closing_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Balance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Closing_Principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Balance_Principal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Verify_Balance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan.Balance_Principal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Closing_Fees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan.Balance_Principal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Closing_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan.Balance_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>if_Decrease</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Transaction</name>
        <label>Assign Transaction</label>
        <locationX>681</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>Transaction.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Adjustment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bank Transfer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Closing_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Inc_or_Not</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Adjustmentbytransactions</name>
        <choiceText>For Transactions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transaction</stringValue>
        </value>
    </choices>
    <choices>
        <name>Decrease_Fee</name>
        <choiceText>Decrease Fee Balance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Decrease_Fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Decrease_Interest</name>
        <choiceText>Decrease Interest Balance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Decrease_Interest</stringValue>
        </value>
    </choices>
    <choices>
        <name>Decrease_Principal</name>
        <choiceText>Decrease Principal&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; Balance&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Decrease_Principal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Increase_Fee</name>
        <choiceText>Increase Fee&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; Balance&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Increase_Fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Increase_Interest</name>
        <choiceText>Increase Interest &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Balance&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Increase_Interest</stringValue>
        </value>
    </choices>
    <choices>
        <name>Increase_Principal</name>
        <choiceText>Increase Principal&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; Balance&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Increase_Principal</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_If_Inc_or_Not</name>
        <label>Check If Inc or Not</label>
        <locationX>502</locationX>
        <locationY>619</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Increament</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>adjust_Fun</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Increase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assgin_Debit</targetReference>
            </connector>
            <label>If Increament</label>
        </rules>
        <rules>
            <name>If_Decrement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>adjust_Fun</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decrease</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Credit</targetReference>
            </connector>
            <label>If Decrement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Line_Type</name>
        <label>Check Line Type</label>
        <locationX>496</locationX>
        <locationY>1127</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Fee</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_Adjustment_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decrease_Fee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Adjustment_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Increase_Fee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fee_Type</targetReference>
            </connector>
            <label>If Fee</label>
        </rules>
        <rules>
            <name>If_Principal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_Adjustment_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decrease_Principal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Adjustment_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Increase_Principal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Principal_Type</targetReference>
            </connector>
            <label>If Principal</label>
        </rules>
        <rules>
            <name>If_Interest</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_Adjustment_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decrease_Interest</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Adjustment_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Increase_Interest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Interest_Type</targetReference>
            </connector>
            <label>If Interest</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Balance_Exceed</name>
        <label>If Balance Exceed</label>
        <locationX>1112</locationX>
        <locationY>784</locationY>
        <defaultConnector>
            <targetReference>Create_Transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Exceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Decreasing_Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Verify_Balance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>If Exceed</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_Decrease</name>
        <label>if Decrease</label>
        <locationX>1221</locationX>
        <locationY>1116</locationY>
        <defaultConnector>
            <targetReference>Create_Transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Decrease_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>adjust_Fun</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decrease</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Balance_Exceed</targetReference>
            </connector>
            <label>If Decrease</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Transaction</name>
        <label>If Transaction</label>
        <locationX>776</locationX>
        <locationY>240</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Transaction_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Adjustment_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transaction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loan_reversal_Screen</targetReference>
            </connector>
            <label>If Transaction</label>
        </rules>
        <rules>
            <name>If_Principal_Increase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Adjustment_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Increase_Principal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adjust_Type_Fun</targetReference>
            </connector>
            <label>If Principal Increase</label>
        </rules>
        <rules>
            <name>If_Principal_Decrease</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Adjustment_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decrease_Principal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Adjust_If_Decrease</targetReference>
            </connector>
            <label>If Principal Decrease</label>
        </rules>
        <rules>
            <name>If_Interest_Increase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Adjustment_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Increase_Interest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adjust_Type_Fun</targetReference>
            </connector>
            <label>If Interest Increase</label>
        </rules>
        <rules>
            <name>If_Interest_Decrease</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Adjustment_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decrease_Interest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Adjust_If_Decrease</targetReference>
            </connector>
            <label>If Interest Decrease</label>
        </rules>
        <rules>
            <name>If_Increase_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Adjustment_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Increase_Fee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adjust_Type_Fun</targetReference>
            </connector>
            <label>If Increase Fee</label>
        </rules>
        <rules>
            <name>If_Decrease_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Adjustment_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decrease_Fee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Adjust_If_Decrease</targetReference>
            </connector>
            <label>If  Decrease Fee</label>
        </rules>
    </decisions>
    <formulas>
        <name>Balance</name>
        <dataType>Currency</dataType>
        <expression>IF( {!adjust_Fun} = &apos;Increase&apos;, {!Loan.Balance__c}+ {!Increase_Amount},{!Loan.Balance__c}+{!Neg_Dec_Amount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Balance_Fee</name>
        <dataType>Currency</dataType>
        <expression>IF( {!adjust_Fun} = &apos;Increase&apos;,{!Loan.Balance_Fees__c}+ {!Increase_Amount},{!Loan.Balance_Fees__c}+{!Neg_Dec_Amount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Balance_Interest</name>
        <dataType>Currency</dataType>
        <expression>IF( {!adjust_Fun} = &apos;Increase&apos;,{!Loan.Balance_Interest__c}+ {!Increase_Amount},{!Loan.Balance_Interest__c}+{!Neg_Dec_Amount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Balance_Principal</name>
        <dataType>Currency</dataType>
        <expression>IF( {!adjust_Fun} = &apos;Increase&apos;,{!Loan.Balance_Principal__c}+ {!Increase_Amount},{!Loan.Balance_Principal__c}+{!Neg_Dec_Amount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Neg_Dec_Amount</name>
        <dataType>Currency</dataType>
        <expression>-{!Decreasing_Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Loan Adjustment Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan Adjustment Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Transaction</name>
        <label>Create Transaction</label>
        <locationX>1365</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Assign_Line_Fields</targetReference>
        </connector>
        <inputReference>Transaction</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Transaction_Line</name>
        <label>Create Transaction Line</label>
        <locationX>1547</locationX>
        <locationY>945</locationY>
        <connector>
            <targetReference>Update_Transaction</targetReference>
        </connector>
        <inputReference>Transaction_Line</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Loan</name>
        <label>Get Loan</label>
        <locationX>496</locationX>
        <locationY>428</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loan__c</object>
        <outputReference>Loan</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Balance_Principal__c</queriedFields>
        <queriedFields>Balance_Fees__c</queriedFields>
        <queriedFields>Balance_Interest__c</queriedFields>
        <queriedFields>Balance__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_transaction_date</name>
        <label>get transaction date</label>
        <locationX>175</locationX>
        <locationY>429</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Adjustment_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Reversal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Adjustment</stringValue>
            </value>
        </filters>
        <object>Loan_Transaction__c</object>
        <outputAssignments>
            <assignToReference>lastTransactionDate</assignToReference>
            <field>Transaction_Date__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Transaction</name>
        <label>Update Transaction</label>
        <locationX>1545</locationX>
        <locationY>1164</locationY>
        <inputReference>Transactions</inputReference>
    </recordUpdates>
    <screens>
        <name>Adjustment_Transaction</name>
        <label>Adjustment Transaction</label>
        <locationX>340</locationX>
        <locationY>429</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Loan</targetReference>
        </connector>
        <fields>
            <name>Select_Adjustment_Type</name>
            <choiceReferences>Adjustmentbytransactions</choiceReferences>
            <choiceReferences>Increase_Principal</choiceReferences>
            <choiceReferences>Decrease_Principal</choiceReferences>
            <choiceReferences>Increase_Interest</choiceReferences>
            <choiceReferences>Decrease_Interest</choiceReferences>
            <choiceReferences>Increase_Fee</choiceReferences>
            <choiceReferences>Decrease_Fee</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Adjustment Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1120</locationX>
        <locationY>580</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;Decreasing Amount should not not be exceed than actual balance&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Increase_Principal_Screen</name>
        <label>Increase Principal Screen</label>
        <locationX>851</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Transaction</targetReference>
        </connector>
        <fields>
            <name>Principal_Label</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Principal Balance &lt;/b&gt;: {!Loan.Balance_Principal__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Adjustment_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Increase_Principal</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Select_Adjustment_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Decrease_Principal</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fee_Balance</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Fee Balance &lt;/b&gt;: {!Loan.Balance_Fees__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Adjustment_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Increase_Fee</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Select_Adjustment_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Decrease_Fee</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Interest_Balance</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Interest Balance&lt;/b&gt; : {!Loan.Balance_Interest__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Adjustment_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Increase_Interest</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Select_Adjustment_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Decrease_Interest</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Transaction_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>lastTransactionDate</elementReference>
            </defaultValue>
            <fieldText>Transaction Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Transaction Date should be greater than or equal to {!lastTransactionDate}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!lastTransactionDate} &lt;={!Transaction_Date}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Increase_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Increasing Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Increase Amount should not be negative or zero&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Increase_Amount} &gt;0</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>adjust_Fun</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Increase</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Decreasing_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Decreasing Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Decreasing Amount should not be negative or zero&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Decreasing_Amount} &gt;0</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>adjust_Fun</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Decrease</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Post_Navigation</name>
            <extensionName>c:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>next</name>
                <value>
                    <stringValue>Post</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pause</name>
                <value>
                    <stringValue>Pause</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previous</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCustomButton1</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPause</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>236</locationY>
        <connector>
            <targetReference>get_transaction_date</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Loan_reversal_Screen</name>
        <label>Loan reversal Screen</label>
        <locationX>779</locationX>
        <locationY>50</locationY>
        <flowName>Loan_Reversal_Screen</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>adjust_Fun</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastTransactionDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Loan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Transaction_Line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Line__c</objectType>
    </variables>
    <variables>
        <name>Transactions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Verify_Balance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
