force-app/main/default/flows/Payment_Transaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Mark_paid_in_payments</name>
        <label>Mark paid in payments</label>
        <locationX>2792</locationX>
        <locationY>774</locationY>
        <actionName>ScheduledTransactionController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Payment_Transaction</targetReference>
        </connector>
        <inputParameters>
            <name>feesAmt</name>
            <value>
                <elementReference>Fee_Currency</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interestAmt</name>
            <value>
                <elementReference>Interest_Currency</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoanId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>principalAmt</name>
            <value>
                <elementReference>Principal_Currency</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assign_accrued_charge_tr</name>
        <label>assign accrued charge tr</label>
        <locationX>2969</locationX>
        <locationY>172</locationY>
        <assignmentItems>
            <assignToReference>Payment_Transaction.Closing_Principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Balance_Principal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Transaction.Closing_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Balance_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Transaction.Closing_Fees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Balance_Fees__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Transaction.Closing_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Balance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Transaction.Created_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Transaction.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Transaction.Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Transaction.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Charge</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_accrued_charge_tr</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Charged_Interest_Date</name>
        <label>Assign Charged Interest Date</label>
        <locationX>880</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>Loan_Record.Last_Interest_Charged_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Fee_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_default_date</name>
        <label>assign default date</label>
        <locationX>2115</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Transaction_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Payment_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Date_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_end_date</name>
        <label>assign end date</label>
        <locationX>1875</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>suspend_end_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_suspense_record.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>suspend_accrued</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_suspense_record.Accrued_Suspense__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>suspend_option</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_suspense_record.SuspenseOption__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>suspendPresent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_future_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_Payment_Date</name>
        <label>Assign Last Payment Date</label>
        <locationX>1900</locationX>
        <locationY>1043</locationY>
        <assignmentItems>
            <assignToReference>Loan_Record.Last_Payment_Made__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interest_Paid_amount_validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_loan_status</name>
        <label>assign loan status</label>
        <locationX>247</locationX>
        <locationY>1091</locationY>
        <assignmentItems>
            <assignToReference>Loan_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_paid_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_scheduled_data</name>
        <label>assign scheduled data</label>
        <locationX>1988</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>Payment_Method</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Method_Scheduled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>total</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scheduled_total_unpaid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_future_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Values</name>
        <label>Assign Schedule Values</label>
        <locationX>1595</locationX>
        <locationY>457</locationY>
        <assignmentItems>
            <assignToReference>total</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Payment_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scheduled_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_suspense_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Transaction_Date</name>
        <label>Assign Transaction Date</label>
        <locationX>1320</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>Last_Payment_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Last_Interest_Charged_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Scheduled_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Transaction_Date_1</name>
        <label>Assign Transaction Date</label>
        <locationX>1335</locationX>
        <locationY>238</locationY>
        <assignmentItems>
            <assignToReference>Last_Payment_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Disbursed_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Scheduled_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_Payment_Transaction</name>
        <label>Assign Values Payment Transaction</label>
        <locationX>2792</locationX>
        <locationY>594</locationY>
        <assignmentItems>
            <assignToReference>Payment_Transaction.Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Transaction.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Transaction.Created_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today_dateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Transaction.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Transaction.Closing_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Closing_Balance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Transaction.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Method</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Transaction.Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Transaction.Closing_Principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Closing_Balance_Principal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Transaction.Closing_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Closing_Balance_Interest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Transaction.Closing_Fees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_scheduled_amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Transaction_Line_Assign</name>
        <label>Transaction Line Assign</label>
        <locationX>2300</locationX>
        <locationY>775</locationY>
        <assignmentItems>
            <assignToReference>Principal_Transaction_Line.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Neg_Principal_Currency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Principal_Transaction_Line.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Principal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Principal_Transaction_Line.Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Transaction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Interest_Transaction_Line_Charge.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interest_Charge_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Interest_Transaction_Line_Charge.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Interest_Transaction_Line_Charge.Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Transaction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Interest_Transaction_Line.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Neg_Interest_Currency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Interest_Transaction_Line.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Interest_Transaction_Line.Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Transaction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fee_Transaction_Line.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Neg_Fee_Currency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fee_Transaction_Line.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fee_Transaction_Line.Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Transaction.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Principal_Transaction</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>dayCount</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Actual / Actual</stringValue>
        </value>
    </constants>
    <decisions>
        <name>check_accrued_charge_transaction</name>
        <label>check accrued charge transaction</label>
        <locationX>2756</locationX>
        <locationY>283</locationY>
        <defaultConnector>
            <targetReference>suspend_interest_flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>after_end</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transaction_Date</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>suspend_end_date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>suspendInterest</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>suspend_end_date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_accrued_charge_tr</targetReference>
            </connector>
            <label>after end</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_future_date</name>
        <label>check future date</label>
        <locationX>1980</locationX>
        <locationY>303</locationY>
        <defaultConnector>
            <targetReference>Date_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>future_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Last_Payment_Date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_default_date</targetReference>
            </connector>
            <label>future date</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_all_amount_paid</name>
        <label>check if all amount paid</label>
        <locationX>402</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>update_paid_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan_Record.Undisbursed_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Closing_Balance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_loan_status</targetReference>
            </connector>
            <label>paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_suspend_is_present</name>
        <label>check if suspend is present</label>
        <locationX>1756</locationX>
        <locationY>306</locationY>
        <defaultConnector>
            <targetReference>check_future_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>suspend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_suspense_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_end_date</targetReference>
            </connector>
            <label>suspend</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_suspend_interest_present</name>
        <label>check suspend interest present</label>
        <locationX>2551</locationX>
        <locationY>449</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_Payment_Transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>suspend_Interest_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_suspense_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_accrued_charge_transaction</targetReference>
            </connector>
            <label>suspendInterest</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_write_off</name>
        <label>check write off</label>
        <locationX>482</locationX>
        <locationY>553</locationY>
        <defaultConnector>
            <targetReference>If_Balance_Zero</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not</defaultConnectorLabel>
        <rules>
            <name>write_off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Written Off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Written_Off_warning</targetReference>
            </connector>
            <label>write off</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Scheduled</name>
        <label>Decision for Scheduled</label>
        <locationX>2433</locationX>
        <locationY>306</locationY>
        <defaultConnector>
            <targetReference>check_suspend_interest_present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>if_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forSchedulePayment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scheduled_Payment_Screen</targetReference>
            </connector>
            <label>If Scheduled</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Balance_Zero</name>
        <label>If Balance Zero</label>
        <locationX>715</locationX>
        <locationY>557</locationY>
        <defaultConnector>
            <targetReference>Get_Application</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan_Record.Balance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_for_no_balance</targetReference>
            </connector>
            <label>If Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Interest_Charged_Date_Check</name>
        <label>Interest Charged Date Check</label>
        <locationX>1231</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Assign_Transaction_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_Payment_Date_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan_Record.Last_Interest_Charged_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Transaction_Date_1</targetReference>
            </connector>
            <label>Last Payment Date Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Interest_Paid_amount_validation</name>
        <label>Interest Paid amount validation</label>
        <locationX>1779</locationX>
        <locationY>787</locationY>
        <defaultConnector>
            <targetReference>Valid_Interest_Transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Interest_paid_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Interest_Currency</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Interest_Transaction_Line_Payment</targetReference>
            </connector>
            <label>Interest paid &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>update_last_interest_charged_date</name>
        <label>update last interest charged date</label>
        <locationX>982</locationX>
        <locationY>802</locationY>
        <defaultConnector>
            <targetReference>Valid_Fee_Transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>interest_charged</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>get_suspense_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>suspendInterest</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Interest_Charge_Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Charged_Interest_Date</targetReference>
            </connector>
            <label>interest charged</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Fee_Transaction</name>
        <label>Valid Fee Transaction</label>
        <locationX>736</locationX>
        <locationY>809</locationY>
        <defaultConnector>
            <targetReference>check_if_all_amount_paid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>amount_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fee_Currency</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Fee_Transaction_Line</targetReference>
            </connector>
            <label>amount &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Interest_Transaction</name>
        <label>Valid Interest Transaction</label>
        <locationX>1504</locationX>
        <locationY>794</locationY>
        <defaultConnector>
            <targetReference>validate_accrued_interest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>amount_g_0</name>
            <conditionLogic>1 OR  (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Interest_Charge_Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_suspense_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>suspendInterest</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Interest_Transaction_Line_Charge</targetReference>
            </connector>
            <label>amount &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>validate_accrued_interest</name>
        <label>validate accrued interest</label>
        <locationX>1236</locationX>
        <locationY>801</locationY>
        <defaultConnector>
            <targetReference>update_last_interest_charged_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>accrued_interest</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>get_suspense_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Transaction_Date</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>suspend_end_date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>suspend_end_date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>suspendInterest</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_accrued_tline_payment</targetReference>
            </connector>
            <label>accrued interest</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Principal_Transaction</name>
        <label>Validate Principal Transaction</label>
        <locationX>2090</locationX>
        <locationY>779</locationY>
        <defaultConnector>
            <targetReference>Interest_Paid_amount_validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_amount_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Principal_Currency</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Principal_Transaction_Line</targetReference>
            </connector>
            <label>If amount &gt; 0</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>payment_method_choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Method__c</picklistField>
        <picklistObject>Loan_Transaction__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Closing_Balance</name>
        <dataType>Currency</dataType>
        <expression>{!Closing_Balance_Fee} + {!Closing_Balance_Interest} + {!Closing_Balance_Principal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Closing_Balance_Fee</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Closing_Balance_Fee_Text})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Closing_Balance_Interest</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Closing_Balance_Interest_Text})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Closing_Balance_Principal</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Closing_Balance_Principal_Text})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Fee_Currency</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!Loan_Fee})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Interest_Charge_Amount</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!Interest_Balance}) - {!Loan_Record.Balance_Interest__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Interest_Currency</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!Loan_Interest})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Neg_Fee_Currency</name>
        <dataType>Currency</dataType>
        <expression>-{!Fee_Currency}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Neg_Interest_Currency</name>
        <dataType>Currency</dataType>
        <expression>-{!Interest_Currency}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Neg_Principal_Currency</name>
        <dataType>Currency</dataType>
        <expression>-{!Principal_Currency}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Principal_Currency</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!Loan_principal})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>scheduled_total_unpaid</name>
        <dataType>String</dataType>
        <expression>TEXT({!get_unpaid_scheduled_amount.Total_Payment__c} - {!get_unpaid_scheduled_amount.Paid_Total_Amount__c})</expression>
    </formulas>
    <formulas>
        <name>today_dateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>Total_Payment_Amount</name>
        <dataType>String</dataType>
        <expression>TEXT({!Payment_Amount} - {!total_paid_schedule})</expression>
    </formulas>
    <formulas>
        <name>Transaction_Date_Time</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Payment Transaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Transaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_accru</name>
        <label>create accrued charge tline</label>
        <locationX>3155</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>suspend_interest_flow</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>suspendInterest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>Payment_Transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Interest Accrued</stringValue>
            </value>
        </inputAssignments>
        <object>Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_accrued_charge_tr</name>
        <label>create accrued charge tr</label>
        <locationX>3156</locationX>
        <locationY>172</locationY>
        <connector>
            <targetReference>create_accru</targetReference>
        </connector>
        <inputReference>Payment_Transaction</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_accrued_tline_payment</name>
        <label>create accrued tline payment</label>
        <locationX>1133</locationX>
        <locationY>1045</locationY>
        <connector>
            <targetReference>update_last_interest_charged_date</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>suspendInterest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>Payment_Transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Interest Accrued</stringValue>
            </value>
        </inputAssignments>
        <object>Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Fee_Transaction_Line</name>
        <label>Create Fee Transaction Line</label>
        <locationX>583</locationX>
        <locationY>1084</locationY>
        <connector>
            <targetReference>check_if_all_amount_paid</targetReference>
        </connector>
        <inputReference>Fee_Transaction_Line</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Interest_Transaction_Line_Charge</name>
        <label>Create Interest Transaction Line Charge</label>
        <locationX>1387</locationX>
        <locationY>1044</locationY>
        <connector>
            <targetReference>validate_accrued_interest</targetReference>
        </connector>
        <inputReference>Interest_Transaction_Line_Charge</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Interest_Transaction_Line_Payment</name>
        <label>Create Interest Transaction Line Payment</label>
        <locationX>1677</locationX>
        <locationY>1060</locationY>
        <connector>
            <targetReference>Valid_Interest_Transaction</targetReference>
        </connector>
        <inputReference>Payment_Interest_Transaction_Line</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment_Transaction</name>
        <label>Create Payment Transaction</label>
        <locationX>2499</locationX>
        <locationY>774</locationY>
        <connector>
            <targetReference>Transaction_Line_Assign</targetReference>
        </connector>
        <inputReference>Payment_Transaction</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Principal_Transaction_Line</name>
        <label>Create Principal Transaction Line</label>
        <locationX>2097</locationX>
        <locationY>1042</locationY>
        <connector>
            <targetReference>Assign_Last_Payment_Date</targetReference>
        </connector>
        <inputReference>Principal_Transaction_Line</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>959</locationX>
        <locationY>454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Loan_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan_Record.Application__c</elementReference>
            </value>
        </filters>
        <object>Application__c</object>
        <outputReference>Application_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Final_Rate__c</queriedFields>
        <queriedFields>Repayment_Frequency__c</queriedFields>
        <queriedFields>Loan_Product__c</queriedFields>
        <queriedFields>Interest_Calculation_Method__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan</name>
        <label>Get Loan</label>
        <locationX>490</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_write_off</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loan__c</object>
        <outputReference>Loan_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Balance__c</queriedFields>
        <queriedFields>Balance_Fees__c</queriedFields>
        <queriedFields>Balance_Principal__c</queriedFields>
        <queriedFields>Balance_Interest__c</queriedFields>
        <queriedFields>Last_Payment_Made__c</queriedFields>
        <queriedFields>Disbursed_Date__c</queriedFields>
        <queriedFields>Application__c</queriedFields>
        <queriedFields>Last_Interest_Charged_Date__c</queriedFields>
        <queriedFields>Fees_Order__c</queriedFields>
        <queriedFields>Interest_Order__c</queriedFields>
        <queriedFields>Principal_Order__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Undisbursed_Amount__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_loan_again</name>
        <label>get_loan_again</label>
        <locationX>2987</locationX>
        <locationY>594</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_Payment_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loan__c</object>
        <outputReference>Loan_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Balance__c</queriedFields>
        <queriedFields>Balance_Fees__c</queriedFields>
        <queriedFields>Balance_Interest__c</queriedFields>
        <queriedFields>Balance_Principal__c</queriedFields>
        <queriedFields>Disbursed_Date__c</queriedFields>
        <queriedFields>Last_Interest_Charged_Date__c</queriedFields>
        <queriedFields>Application__c</queriedFields>
        <queriedFields>Undisbursed_Amount__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Fees_Order__c</queriedFields>
        <queriedFields>Interest_Order__c</queriedFields>
        <queriedFields>Principal_Order__c</queriedFields>
        <queriedFields>Insurance_Order__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Product</name>
        <label>Get Loan Product</label>
        <locationX>1098</locationX>
        <locationY>454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Interest_Charged_Date_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Application_Record.Loan_Product__c</elementReference>
            </value>
        </filters>
        <object>Loan_Product__c</object>
        <outputReference>Loan_Product</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Interest_Compounding_Frequency__c</queriedFields>
        <queriedFields>Day_Count__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Scheduled_Transaction</name>
        <label>Get Scheduled Transaction</label>
        <locationX>1429</locationX>
        <locationY>457</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Total_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Paid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Scheduled_Transaction__c</object>
        <outputAssignments>
            <assignToReference>total_paid_schedule</assignToReference>
            <field>Paid_Total_Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>scheduled_Date</assignToReference>
            <field>Scheduled_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Payment_Amount</assignToReference>
            <field>Total_Payment__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>get_suspense_record</name>
        <label>get suspense record</label>
        <locationX>1595</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_suspend_is_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Closing_Transaction__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reversed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Interest_Suspense__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Accrued_Suspense__c</queriedFields>
        <queriedFields>SuspenseOption__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_unpaid_scheduled_amount</name>
        <label>get unpaid scheduled amount</label>
        <locationX>2183</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_scheduled_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Paid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Scheduled_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Scheduled_Transaction__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Paid_Total_Amount__c</queriedFields>
        <queriedFields>Total_Payment__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_paid_status</name>
        <label>update paid status</label>
        <locationX>50</locationX>
        <locationY>825</locationY>
        <inputReference>Loan_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Date_Screen</name>
        <label>Date_Screen</label>
        <locationX>2273</locationX>
        <locationY>303</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_for_Scheduled</targetReference>
        </connector>
        <fields>
            <name>Payment_Transaction_Input</name>
            <extensionName>c:paymentTransaction</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>transactionDate</name>
                <value>
                    <elementReference>Transaction_Date</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>totalBalance</name>
                <value>
                    <elementReference>Loan_Record.Balance__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>principalBalance</name>
                <value>
                    <elementReference>Loan_Record.Balance_Principal__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>principal</name>
                <value>
                    <elementReference>Loan_principal</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastPaymentDate</name>
                <value>
                    <elementReference>Last_Payment_Date</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>interestBalance</name>
                <value>
                    <elementReference>Interest_Balance</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>interest</name>
                <value>
                    <elementReference>Loan_Interest</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>feeBalance</name>
                <value>
                    <elementReference>Loan_Record.Balance_Fees__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fee</name>
                <value>
                    <elementReference>Loan_Fee</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>todayDate</name>
                <value>
                    <elementReference>today_dateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dayCount</name>
                <value>
                    <elementReference>Loan_Product.Day_Count__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>InterestFrequency</name>
                <value>
                    <elementReference>Loan_Product.Interest_Compounding_Frequency__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rate</name>
                <value>
                    <elementReference>Application_Record.Final_Rate__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>forScheduled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>PaymentFrequency</name>
                <value>
                    <elementReference>Application_Record.Repayment_Frequency__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentMethod</name>
                <value>
                    <elementReference>Payment_Method</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>feeOrder</name>
                <value>
                    <elementReference>Loan_Record.Fees_Order__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>interstOrder</name>
                <value>
                    <elementReference>Loan_Record.Interest_Order__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>principalOrder</name>
                <value>
                    <elementReference>Loan_Record.Principal_Order__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>total</name>
                <value>
                    <elementReference>total</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accruedAmount</name>
                <value>
                    <elementReference>suspend_accrued</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suspendOption</name>
                <value>
                    <elementReference>suspend_option</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suspenseEndDate</name>
                <value>
                    <elementReference>suspend_end_date</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>interestCalculation</name>
                <value>
                    <elementReference>Application_Record.Interest_Calculation_Method__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suspendPresent</name>
                <value>
                    <elementReference>suspendPresent</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Transaction_Date</assignToReference>
                <name>transactionDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Loan_principal</assignToReference>
                <name>principal</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Loan_Interest</assignToReference>
                <name>interest</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Loan_Fee</assignToReference>
                <name>fee</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Interest_Balance</assignToReference>
                <name>interestBalance</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>forSchedulePayment</assignToReference>
                <name>forScheduled</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Payment_Method</assignToReference>
                <name>paymentMethod</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Closing_Balance_Interest_Text</assignToReference>
                <name>closingBalanceInterest</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Closing_Balance_Principal_Text</assignToReference>
                <name>closingBalancePrincipal</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Closing_Balance_Fee_Text</assignToReference>
                <name>closingBalanceFee</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>comments</assignToReference>
                <name>comments</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>total</assignToReference>
                <name>total</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>suspendInterest</assignToReference>
                <name>suspenseInterest</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Navigation_Control</name>
            <extensionName>c:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>next</name>
                <value>
                    <stringValue>Post</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pause</name>
                <value>
                    <stringValue>Pause</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previous</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPause</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customButton1</name>
                <value>
                    <stringValue>Scheduled Payment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCustomButton1</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_for_no_balance</name>
        <label>Error for no balance</label>
        <locationX>853</locationX>
        <locationY>669</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Balance_Found</name>
            <fieldText>&lt;p&gt;No amount disbursed for payment&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Scheduled_Payment_Screen</name>
        <label>Scheduled Payment Screen</label>
        <locationX>2433</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_unpaid_scheduled_amount</targetReference>
        </connector>
        <fields>
            <name>Loan_Balance_Scheduled</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Balance :  &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Loan_Record.Balance__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scheduled_dropdown</name>
            <extensionName>c:scheduledPayment</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Transaction_Date</assignToReference>
                <name>transactionDate</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Payment_Method_Scheduled</name>
            <choiceReferences>payment_method_choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Post_Navigation</name>
            <extensionName>c:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>next</name>
                <value>
                    <stringValue>Post</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pause</name>
                <value>
                    <stringValue>Pause</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previous</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCustomButton1</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPause</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Written_Off_warning</name>
        <label>Written Off warning</label>
        <locationX>256</locationX>
        <locationY>559</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_msg_writeoff</name>
            <fieldText>&lt;p&gt;You cannot make payment transaction because loan is in written off status&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>367</locationX>
        <locationY>224</locationY>
        <connector>
            <targetReference>Get_Loan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>suspend_interest_flow</name>
        <label>suspend interest</label>
        <locationX>2987</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>get_loan_again</targetReference>
        </connector>
        <flowName>Interest_Suspend_update_end</flowName>
        <inputAssignments>
            <name>interestCharged</name>
            <value>
                <elementReference>suspendInterest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>selectedDate</name>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>update_scheduled_amount</name>
        <label>update scheduled amount</label>
        <locationX>2615</locationX>
        <locationY>774</locationY>
        <connector>
            <targetReference>Create_Payment_Transaction</targetReference>
        </connector>
        <flowName>scheduled_payment_amount_update</flowName>
        <inputAssignments>
            <name>feeAmount</name>
            <value>
                <elementReference>Fee_Currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>interestAmount</name>
            <value>
                <elementReference>Interest_Currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>principalAmount</name>
            <value>
                <elementReference>Principal_Currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Application_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>Closing_Balance_Fee_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Closing_Balance_Interest_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Closing_Balance_Principal_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>comments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Fee_Transaction_Line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Line__c</objectType>
    </variables>
    <variables>
        <name>forSchedulePayment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Interest_Balance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Loan_Record.Balance_Interest__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Interest_Transaction_Line_Charge</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Line__c</objectType>
    </variables>
    <variables>
        <name>interestFrequency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </variables>
    <variables>
        <name>Last_Payment_Date</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>today_dateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>Loan_Balance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Loan_Fee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Loan_Interest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Loan_principal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Loan_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Product__c</objectType>
    </variables>
    <variables>
        <name>Loan_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan__c</objectType>
    </variables>
    <variables>
        <name>Payment_Amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Payment_Interest_Transaction_Line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Line__c</objectType>
    </variables>
    <variables>
        <name>Payment_Method</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Cash</stringValue>
        </value>
    </variables>
    <variables>
        <name>Payment_Transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Principal_Transaction_Line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Line__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scheduled_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>suspend_accrued</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>suspend_end_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>suspend_option</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>suspendInterest</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>suspendPresent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>total</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0.00</stringValue>
        </value>
    </variables>
    <variables>
        <name>total_paid_schedule</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Transaction_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
