force-app/main/default/flows/Recovery_Transaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>get_sum_of_writeoff_amount</name>
        <label>get sum of writeoff amount</label>
        <locationX>450</locationX>
        <locationY>866</locationY>
        <actionName>TransactionLineController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>check_future_date</targetReference>
        </connector>
        <inputParameters>
            <name>loanId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>feeSum</assignToReference>
            <name>feesAmt</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>interestSum</assignToReference>
            <name>interestAmt</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>principalSum</assignToReference>
            <name>principalAmt</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assign_future_date</name>
        <label>assign future date</label>
        <locationX>489</locationX>
        <locationY>622</locationY>
        <assignmentItems>
            <assignToReference>transactionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>last_transaction_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recovery_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_transaction</name>
        <label>assign transaction</label>
        <locationX>866</locationX>
        <locationY>843</locationY>
        <assignmentItems>
            <assignToReference>Transaction.Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recovery</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transactionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Closing_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loan_record.Balance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Closing_Principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loan_record.Balance_Principal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Closing_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loan_record.Balance_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction.Closing_Fees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loan_record.Balance_Fees__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_transaction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check</name>
        <label>check interest present</label>
        <locationX>1399</locationX>
        <locationY>664</locationY>
        <defaultConnector>
            <targetReference>check_fee_present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>interest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>interestRecovery</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_interest_tline</targetReference>
            </connector>
            <label>interest</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_fee_present</name>
        <label>check fee present</label>
        <locationX>1672</locationX>
        <locationY>662</locationY>
        <defaultConnector>
            <targetReference>check_settlement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>feeRecovery</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_fee_tline</targetReference>
            </connector>
            <label>fee</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_future_date</name>
        <label>check future date</label>
        <locationX>611</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Recovery_Transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>future_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>last_transaction_date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_future_date</targetReference>
            </connector>
            <label>future date</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_loan_status</name>
        <label>check loan status</label>
        <locationX>354</locationX>
        <locationY>643</locationY>
        <defaultConnector>
            <targetReference>No_Transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>if_written_off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loan_record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Written Off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_sum_of_writeoff_amount</targetReference>
            </connector>
            <label>if written off</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_principal_present</name>
        <label>check principal present</label>
        <locationX>1135</locationX>
        <locationY>654</locationY>
        <defaultConnector>
            <targetReference>check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>principal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>principalRecovery</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_principal_tline</targetReference>
            </connector>
            <label>principal</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_settlement</name>
        <label>check settlement</label>
        <locationX>1931</locationX>
        <locationY>669</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>if_settlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>settlement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_loan</targetReference>
            </connector>
            <label>if settlement</label>
        </rules>
    </decisions>
    <formulas>
        <name>amount_neg</name>
        <dataType>Currency</dataType>
        <expression>-{!amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>closingBalance</name>
        <dataType>Currency</dataType>
        <expression>{!closingPrincipal} + {!loan_record.Balance_Interest__c} + {!loan_record.Balance_Fees__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>closingPrincipal</name>
        <dataType>Currency</dataType>
        <expression>{!loan_record.Balance_Principal__c} - {!amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>feeNeg</name>
        <dataType>Currency</dataType>
        <expression>{!feeRecovery} * -1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>interestNeg</name>
        <dataType>Currency</dataType>
        <expression>{!interestRecovery} * -1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>principalNeg</name>
        <dataType>Currency</dataType>
        <expression>{!principalRecovery} * -1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Recovery Transaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recovery Transaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_fee_tline</name>
        <label>create fee tline</label>
        <locationX>1810</locationX>
        <locationY>436</locationY>
        <connector>
            <targetReference>check_settlement</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>feeNeg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>Transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Fee</stringValue>
            </value>
        </inputAssignments>
        <object>Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_interest_tline</name>
        <label>create interest tline</label>
        <locationX>1547</locationX>
        <locationY>440</locationY>
        <connector>
            <targetReference>check_fee_present</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>interestNeg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>Transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </inputAssignments>
        <object>Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_principal_tline</name>
        <label>create principal tline</label>
        <locationX>1275</locationX>
        <locationY>422</locationY>
        <connector>
            <targetReference>check</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>principalNeg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>Transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Principal</stringValue>
            </value>
        </inputAssignments>
        <object>Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_transaction</name>
        <label>create transaction</label>
        <locationX>985</locationX>
        <locationY>546</locationY>
        <connector>
            <targetReference>check_principal_present</targetReference>
        </connector>
        <inputReference>Transaction</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_transaction_date</name>
        <label>get transaction date</label>
        <locationX>163</locationX>
        <locationY>467</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_writeoff_amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Adjustment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Reversal</stringValue>
            </value>
        </filters>
        <object>Loan_Transaction__c</object>
        <outputAssignments>
            <assignToReference>last_transaction_date</assignToReference>
            <field>Transaction_Date__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>get_writeoff_amount</name>
        <label>get writeoff amount</label>
        <locationX>163</locationX>
        <locationY>641</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_loan_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </filters>
        <object>WriteOff__c</object>
        <outputReference>writeoffRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Fee__c</queriedFields>
        <queriedFields>Interest__c</queriedFields>
        <queriedFields>Principal__c</queriedFields>
        <queriedFields>Write_Off_Amount__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>loan_record</name>
        <label>loan record</label>
        <locationX>163</locationX>
        <locationY>297</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_transaction_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Balance__c</queriedFields>
        <queriedFields>Balance_Principal__c</queriedFields>
        <queriedFields>Balance_Interest__c</queriedFields>
        <queriedFields>Balance_Fees__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_loan</name>
        <label>update loan</label>
        <locationX>2186</locationX>
        <locationY>662</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Settled_Date__c</field>
            <value>
                <elementReference>transactionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement_Amount__c</field>
            <value>
                <elementReference>amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Settled</stringValue>
            </value>
        </inputAssignments>
        <object>Loan__c</object>
    </recordUpdates>
    <screens>
        <name>No_Transaction</name>
        <label>No Transaction</label>
        <locationX>368</locationX>
        <locationY>407</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Warning</name>
            <fieldText>&lt;p&gt;Cannot do recovery transaction.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Recovery_Transaction</name>
        <label>Recovery Transaction</label>
        <locationX>757</locationX>
        <locationY>623</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_transaction</targetReference>
        </connector>
        <fields>
            <name>LWC_Recovery</name>
            <extensionName>c:recoveryTransaction</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>balance</name>
                <value>
                    <elementReference>loan_record.Balance__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastTransactionDate</name>
                <value>
                    <elementReference>last_transaction_date</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>feeWriteoff</name>
                <value>
                    <elementReference>feeSum</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>interestWriteoff</name>
                <value>
                    <elementReference>interestSum</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>principalWriteoff</name>
                <value>
                    <elementReference>principalSum</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transactionDate</name>
                <value>
                    <elementReference>transactionDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>settlement</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>amount</assignToReference>
                <name>amount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>comments</assignToReference>
                <name>comments</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>settlement</assignToReference>
                <name>settlement</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>transactionDate</assignToReference>
                <name>transactionDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>feeRecovery</assignToReference>
                <name>feeWriteoff</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>interestRecovery</assignToReference>
                <name>interestWriteoff</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>principalRecovery</assignToReference>
                <name>principalWriteoff</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Post_Navigation</name>
            <extensionName>c:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>next</name>
                <value>
                    <stringValue>Post</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pause</name>
                <value>
                    <stringValue>Pause</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previous</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCustomButton1</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPause</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>37</locationX>
        <locationY>130</locationY>
        <connector>
            <targetReference>loan_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>comments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>feeRecovery</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>feeSum</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>interestRecovery</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>interestSum</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>last_transaction_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>principalRecovery</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>principalSum</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>settlement</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Transaction__c</objectType>
    </variables>
    <variables>
        <name>transactionDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>TransactionLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Line__c</objectType>
    </variables>
    <variables>
        <name>writeoff_sum</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AggregateResult</objectType>
    </variables>
    <variables>
        <name>writeoffRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WriteOff__c</objectType>
    </variables>
</Flow>
