force-app/main/default/flows/Savings_Transaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Charge_Interest_Trasnaction</name>
        <label>Assign Charge Interest Trasnaction</label>
        <locationX>475</locationX>
        <locationY>801</locationY>
        <assignmentItems>
            <assignToReference>Transactions.Savings_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transactions.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transactions.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChargeTransactionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transactions.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Charge</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transactions.LastViewedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChargeTransactionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Savings_Record.Last_Interest_Charged__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChargeTransactionDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Charge_Interest_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_deposit_tline</name>
        <label>assign deposit tline</label>
        <locationX>1924</locationX>
        <locationY>105</locationY>
        <assignmentItems>
            <assignToReference>transactionLine.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amounts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionLine.Savings_Product_Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transactions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionLine.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deposit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionLine.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deposit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_tline_deposit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fee_Charge_for_Savings_Transaction</name>
        <label>Assign Fee Charge for Savings Transaction</label>
        <locationX>960</locationX>
        <locationY>931</locationY>
        <assignmentItems>
            <assignToReference>Transactions.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transactions.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fee_Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transactions.Savings_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transactions.Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments_Fee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transactions.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Charge</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Fee_Charge_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_previous_interest_date</name>
        <label>assign previous interest date</label>
        <locationX>2952</locationX>
        <locationY>666</locationY>
        <assignmentItems>
            <assignToReference>Savings_Record.Last_Interest_Charged__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>previous_interest_charged_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_savings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_reversal_transaction</name>
        <label>assign reversal transaction</label>
        <locationX>1723</locationX>
        <locationY>624</locationY>
        <assignmentItems>
            <assignToReference>Transactions.Savings_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transactions.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reversal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transactions.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reversal_Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transactions.Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transactions.Reversed_Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_savings_transaction.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_reversal_transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_for_Saving_Transaction</name>
        <label>Assign Values for Saving Transaction</label>
        <locationX>1601</locationX>
        <locationY>104</locationY>
        <assignmentItems>
            <assignToReference>Transactions.Created_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transactions.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transactions.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_Set</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transactions.Savings_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transactions.Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments_payment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_withdrawal_tline</name>
        <label>assign withdrawal tline</label>
        <locationX>1916</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>transactionLine.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amounts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionLine.Savings_Product_Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transactions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionLine.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Withdrawal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionLine.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Withdrawal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_tline_withdrawal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Withdrawal_Transactions</name>
        <label>Assign Withdrawal Transactions</label>
        <locationX>1583</locationX>
        <locationY>331</locationY>
        <assignmentItems>
            <assignToReference>Transactions.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transactions.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transactions.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_Set</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transactions.Savings_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transactions.Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments_payment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Withdraw_Transaction</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChargeType_Fee</name>
        <choiceText>Fee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChargeType_Interest</name>
        <choiceText>Interest</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Interest</stringValue>
        </value>
    </choices>
    <constants>
        <name>Transaction_Placeholder</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=’/resource/transaction_placeholder’ /&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>check_interest_charged_date</name>
        <label>check interest charged date</label>
        <locationX>2226</locationX>
        <locationY>105</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>charged_date_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Savings_Record.Last_Interest_Charged__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_charged_date</targetReference>
            </connector>
            <label>charged date null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_interest_record_present</name>
        <label>check interest record present</label>
        <locationX>2848</locationX>
        <locationY>879</locationY>
        <defaultConnector>
            <targetReference>assign_previous_interest_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>interest</defaultConnectorLabel>
        <rules>
            <name>Not_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>previous_interest_charged_date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_last_deposited_date</targetReference>
            </connector>
            <label>Not_present</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_record_for_reversal</name>
        <label>check record for reversal</label>
        <locationX>1202</locationX>
        <locationY>646</locationY>
        <defaultConnector>
            <targetReference>Reversal_Warning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>present_for_reversal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_savings_transaction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_savings_tline</targetReference>
            </connector>
            <label>present for reversal</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_reversal_type</name>
        <label>check reversal type</label>
        <locationX>2155</locationX>
        <locationY>625</locationY>
        <defaultConnector>
            <targetReference>create_fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>reversal_deposit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_savings_tline.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deposit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_reverse_withdrawal</targetReference>
            </connector>
            <label>reverse deposit</label>
        </rules>
        <rules>
            <name>reverse_withdrawal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_savings_tline.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrawal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_reverse_deposit</targetReference>
            </connector>
            <label>reverse withdrawal</label>
        </rules>
        <rules>
            <name>reverse_interest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_savings_tline.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_interest_reversal</targetReference>
            </connector>
            <label>reverse interest</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checkchargetype</name>
        <label>Check charge type</label>
        <locationX>842</locationX>
        <locationY>686</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Interest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Charge_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChargeType_Interest</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Savings_Record.Deposit_Balance__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Charge_Interest_Screen</targetReference>
            </connector>
            <label>Interest</label>
        </rules>
        <rules>
            <name>Fees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Charge_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChargeType_Fee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fee_Charge_Screen</targetReference>
            </connector>
            <label>Fee</label>
        </rules>
        <rules>
            <name>not_deposited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Savings_Record.Deposit_Balance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Charge_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interest_warning</targetReference>
            </connector>
            <label>not deposited</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Deposit</name>
        <label>If Deposit</label>
        <locationX>996</locationX>
        <locationY>292</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deposit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Type_Set</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deposit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Type_Set</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrawal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Time_Locked</targetReference>
            </connector>
            <label>Deposit</label>
        </rules>
        <rules>
            <name>Reversal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_Set</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reversal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_savings_transaction</targetReference>
            </connector>
            <label>Reversal</label>
        </rules>
        <rules>
            <name>Charge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_Set</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Charge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Charge_Type_Screen</targetReference>
            </connector>
            <label>Charge</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Time_Locked</name>
        <label>If Time Locked</label>
        <locationX>1282</locationX>
        <locationY>389</locationY>
        <defaultConnector>
            <targetReference>Transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Time_Locked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_Set</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrawal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Savings_Record.Timelocked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_while_Time_locked</targetReference>
            </connector>
            <label>Time Locked</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Withdrawal</name>
        <label>If Withdrawal</label>
        <locationX>1350</locationX>
        <locationY>198</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_for_Saving_Transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Withdraw</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_Set</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrawal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Withdrawal_Transactions</targetReference>
            </connector>
            <label>Withdraw</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Type_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Savings_Product_Transaction__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Account_Name_Acc</name>
        <dataType>String</dataType>
        <expression>{!Account_Record.Id}</expression>
    </formulas>
    <formulas>
        <name>Balance</name>
        <dataType>Currency</dataType>
        <expression>{!Savings_Record.Balance__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Charge_Fee</name>
        <dataType>Currency</dataType>
        <expression>{!Savings_Record.Balance__c}-{!Fee_Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Overdraft</name>
        <dataType>Currency</dataType>
        <expression>{!Product_Record.Overdraft_limit__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>reversalValidationDate</name>
        <dataType>DateTime</dataType>
        <expression>{!get_savings_transaction.Transaction_Date__c}</expression>
    </formulas>
    <formulas>
        <name>tline_amount_sign</name>
        <dataType>Currency</dataType>
        <expression>{!get_savings_tline.Amount__c} * -1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Savings Transaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Savings Transaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Charge_Interest_Records</name>
        <label>Create Charge Interest Records</label>
        <locationX>319</locationX>
        <locationY>799</locationY>
        <connector>
            <targetReference>Create_Interest_Charge_Transaction_Line_Records</targetReference>
        </connector>
        <inputReference>Transactions</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_fee</name>
        <label>create fee reversal transaction</label>
        <locationX>2469</locationX>
        <locationY>436</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>tline_amount_sign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>Reversal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Savings_Product_Transaction__c</field>
            <value>
                <elementReference>Transactions.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Fee</stringValue>
            </value>
        </inputAssignments>
        <object>Savings_Product_Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Fee_Charge_Records</name>
        <label>Create Fee Charge Records</label>
        <locationX>959</locationX>
        <locationY>1089</locationY>
        <connector>
            <targetReference>Create_Transaction_Line_Record</targetReference>
        </connector>
        <inputReference>Transactions</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Interest_Charge_Transaction_Line_Records</name>
        <label>Create Interest Charge Transaction Line Records</label>
        <locationX>186</locationX>
        <locationY>800</locationY>
        <connector>
            <targetReference>Update_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>InterestCharged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Savings_Product_Transaction__c</field>
            <value>
                <elementReference>Transactions.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </inputAssignments>
        <object>Savings_Product_Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_interest_reversal</name>
        <label>create interest reversal</label>
        <locationX>2496</locationX>
        <locationY>876</locationY>
        <connector>
            <targetReference>get_last_interest_charged</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>tline_amount_sign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>Reversal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Savings_Product_Transaction__c</field>
            <value>
                <elementReference>Transactions.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </inputAssignments>
        <object>Savings_Product_Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_reversal_transaction</name>
        <label>create reversal transaction</label>
        <locationX>1858</locationX>
        <locationY>621</locationY>
        <connector>
            <targetReference>update_savings_transaction</targetReference>
        </connector>
        <inputReference>Transactions</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_reverse_deposit</name>
        <label>create reverse deposit</label>
        <locationX>2509</locationX>
        <locationY>723</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>get_savings_tline.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>Reversal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Savings_Product_Transaction__c</field>
            <value>
                <elementReference>Transactions.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Deposit</stringValue>
            </value>
        </inputAssignments>
        <object>Savings_Product_Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_reverse_withdrawal</name>
        <label>create reverse withdrawal</label>
        <locationX>2483</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>get_savings_tline.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>Reversal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Savings_Product_Transaction__c</field>
            <value>
                <elementReference>Transactions.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Withdrawal</stringValue>
            </value>
        </inputAssignments>
        <object>Savings_Product_Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_tline_deposit</name>
        <label>create tline deposit</label>
        <locationX>2058</locationX>
        <locationY>103</locationY>
        <connector>
            <targetReference>check_interest_charged_date</targetReference>
        </connector>
        <inputReference>transactionLine</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_tline_withdrawal</name>
        <label>create tline withdrawal</label>
        <locationX>2074</locationX>
        <locationY>329</locationY>
        <inputReference>transactionLine</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Transaction_Line_Record</name>
        <label>Create Transaction Line Record</label>
        <locationX>958</locationX>
        <locationY>1268</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Fee_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>Fee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Savings_Product_Transaction__c</field>
            <value>
                <elementReference>Transactions.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Fee</stringValue>
            </value>
        </inputAssignments>
        <object>Savings_Product_Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Transaction_Record</name>
        <label>Create Transaction Record</label>
        <locationX>1775</locationX>
        <locationY>105</locationY>
        <connector>
            <targetReference>assign_deposit_tline</targetReference>
        </connector>
        <inputReference>Transactions</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Withdraw_Transaction</name>
        <label>Create Withdraw Transaction</label>
        <locationX>1744</locationX>
        <locationY>331</locationY>
        <connector>
            <targetReference>assign_withdrawal_tline</targetReference>
        </connector>
        <inputReference>Transactions</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_last_deposited_date</name>
        <label>get last deposited date</label>
        <locationX>3071</locationX>
        <locationY>871</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_previous_interest_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reversed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deposit</stringValue>
            </value>
        </filters>
        <object>Savings_Product_Transaction__c</object>
        <outputAssignments>
            <assignToReference>previous_interest_charged_date</assignToReference>
            <field>Transaction_Date__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>get_last_interest_charged</name>
        <label>get last interest charged</label>
        <locationX>2663</locationX>
        <locationY>876</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_interest_record_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reversed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>Balance_Interest__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Savings_Product_Transaction__c</object>
        <outputAssignments>
            <assignToReference>previous_interest_charged_date</assignToReference>
            <field>Transaction_Date__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_Transaction_Date</name>
        <label>Get Last Transaction Date</label>
        <locationX>630</locationX>
        <locationY>357</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Transaction_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Savings_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Reversal</stringValue>
            </value>
        </filters>
        <object>Savings_Product_Transaction__c</object>
        <outputAssignments>
            <assignToReference>lasttransactiondate</assignToReference>
            <field>Transaction_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Saving_Account</name>
        <label>Get Saving Account</label>
        <locationX>486</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Savings_Product_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Savings_Account__c</object>
        <outputReference>Savings_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Timelocked__c</queriedFields>
        <queriedFields>Timelock_Expiry__c</queriedFields>
        <queriedFields>Savings_Product__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Balance__c</queriedFields>
        <queriedFields>Deposit_Balance__c</queriedFields>
        <queriedFields>Balance_Interest__c</queriedFields>
        <queriedFields>Balance_Fee__c</queriedFields>
        <queriedFields>Last_Interest_Charged__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Savings_Product_Records</name>
        <label>Get Savings Product Records</label>
        <locationX>487</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Last_Transaction_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Savings_Record.Savings_Product__c</elementReference>
            </value>
        </filters>
        <object>Savings_Product__c</object>
        <outputReference>SavingsProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Default_Interest_Rate__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_savings_tline</name>
        <label>get savings tline</label>
        <locationX>1462</locationX>
        <locationY>628</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reversal_Transaction_Confirm</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Savings_Product_Transaction__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_savings_transaction.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Savings_Product_Transaction_Line__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_savings_transaction</name>
        <label>get savings transaction</label>
        <locationX>1075</locationX>
        <locationY>511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_record_for_reversal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reversed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Reversal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Savings_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Savings_Product_Transaction__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Transaction_Date__c</queriedFields>
        <queriedFields>Reversed__c</queriedFields>
        <queriedFields>Reversed_Transaction__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>assign_charged_date</name>
        <label>assign charged date</label>
        <locationX>2458</locationX>
        <locationY>101</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Interest_Charged__c</field>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Savings_Account__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>50</locationX>
        <locationY>800</locationY>
        <inputReference>Savings_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_savings</name>
        <label>update savings account interest</label>
        <locationX>3179</locationX>
        <locationY>665</locationY>
        <inputReference>Savings_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_savings_transaction</name>
        <label>update savings transaction</label>
        <locationX>2005</locationX>
        <locationY>622</locationY>
        <connector>
            <targetReference>check_reversal_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_savings_transaction.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reversed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Savings_Product_Transaction__c</object>
    </recordUpdates>
    <screens>
        <name>Charge_Interest_Screen</name>
        <label>Charge Interest Screen</label>
        <locationX>636</locationX>
        <locationY>801</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Charge_Interest_Trasnaction</targetReference>
        </connector>
        <fields>
            <name>Display_Interest</name>
            <fieldText>&lt;p&gt;Balance: {!Balance}&lt;/p&gt;&lt;p&gt;Type: {!Select_Charge_Type}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Charge_Interest</name>
            <extensionName>c:sAchargeInterest</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>interestBalance</name>
                <value>
                    <elementReference>Savings_Record.Balance_Interest__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastChargedDate</name>
                <value>
                    <elementReference>Savings_Record.Last_Interest_Charged__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>principalBalance</name>
                <value>
                    <elementReference>Savings_Record.Deposit_Balance__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rate</name>
                <value>
                    <elementReference>SavingsProduct.Default_Interest_Rate__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Charge_Cmds</assignToReference>
                <name>comments</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>InterestCharged</assignToReference>
                <name>interestAmount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ChargeTransactionDate</assignToReference>
                <name>transactionDate</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Transaction_Type</name>
        <label>Choose Transaction Type</label>
        <locationX>776</locationX>
        <locationY>360</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_Deposit</targetReference>
        </connector>
        <fields>
            <name>Transaction_Placeholder_Image</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>transaction_placeholder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>200</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>270</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Transaction_Type</name>
            <choiceReferences>Type_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Transaction Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_while_Time_locked</name>
        <label>Error while Time locked</label>
        <locationX>1468</locationX>
        <locationY>440</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Wating</name>
            <fieldText>&lt;p&gt;This Account Timelocked United &lt;b&gt;{!Savings_Record.Timelock_Expiry__c} &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;withdrawals are not permitted &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fee_Charge_Screen</name>
        <label>Fee Charge Screen</label>
        <locationX>957</locationX>
        <locationY>793</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Fee_Charge_for_Savings_Transaction</targetReference>
        </connector>
        <fields>
            <name>Display_Fee</name>
            <fieldText>&lt;p&gt;Balance: {!Balance}&lt;/p&gt;&lt;p&gt;Type: {!Select_Charge_Type}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fee_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>How much is the transaction for fee?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Fee_Transaction_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Transaction Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Transaction date should be greater than or equal to {!lasttransactiondate}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Fee_Transaction_Date} &gt;= {!lasttransactiondate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Comments_Fee</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Interest_warning</name>
        <label>Interest warning</label>
        <locationX>729</locationX>
        <locationY>992</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Warn_interest</name>
            <fieldText>&lt;p&gt;There is no deposit amount. Please deposit something to do interest charge.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reversal_Transaction_Confirm</name>
        <label>Reversal Transaction Confirm</label>
        <locationX>1572</locationX>
        <locationY>624</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_reversal_transaction</targetReference>
        </connector>
        <fields>
            <name>ReversalConfirmation</name>
            <fieldText>&lt;p&gt;Are you sure you want to reverse this transaction?&lt;/p&gt;&lt;p&gt;Type :  {!get_savings_tline.Type__c}&lt;/p&gt;&lt;p&gt;Transaction Date : &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!get_savings_transaction.Transaction_Date__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Amount : &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!get_savings_tline.Amount__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Description : {!get_savings_tline.Description__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reversal_Transaction_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Transaction Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Transaction date must be greater than or equal to reversing date &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!reversalValidationDate}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!reversalValidationDate}&lt;= {!Reversal_Transaction_Date}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reversal_Warning</name>
        <label>Reversal Warning</label>
        <locationX>1336</locationX>
        <locationY>873</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>warn_msg_reversal</name>
            <fieldText>&lt;p&gt;There is no transaction is available for reversal&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Charge_Type_Screen</name>
        <label>Select Charge Type Screen</label>
        <locationX>859</locationX>
        <locationY>534</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Checkchargetype</targetReference>
        </connector>
        <fields>
            <name>Select_Charge_Type</name>
            <choiceReferences>ChargeType_Fee</choiceReferences>
            <choiceReferences>ChargeType_Interest</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Charge Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transaction</name>
        <label>Transaction</label>
        <locationX>1232</locationX>
        <locationY>195</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_Withdrawal</targetReference>
        </connector>
        <fields>
            <name>Other_Type</name>
            <fieldText>&lt;p&gt;Balance : {!Balance}&lt;/p&gt;&lt;p&gt;Type : {!Type_Set}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Amounts</name>
            <dataType>Currency</dataType>
            <fieldText>How much is the transaction for?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Amount should be greater than zero&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Amounts} &gt; 0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Transaction_Date</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Today</elementReference>
            </defaultValue>
            <fieldText>Transaction Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments_payment</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>360</locationX>
        <locationY>58</locationY>
        <connector>
            <targetReference>Get_Saving_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Account_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Charge_Cmds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChargeTransactionDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>check</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Savings_Account__c</objectType>
    </variables>
    <variables>
        <name>InterestCharged</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Last_Transaction_Date</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lasttransactiondate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>previous_interest_charged_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Product_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Savings_Product__c</objectType>
    </variables>
    <variables>
        <name>Product_Records</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reversalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Savings_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Savings_Account__c</objectType>
    </variables>
    <variables>
        <name>SavingsProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Savings_Product__c</objectType>
    </variables>
    <variables>
        <name>savingsTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavingsTransactionsId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Today</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Transaction_Type_Set</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transactionLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Savings_Product_Transaction_Line__c</objectType>
    </variables>
    <variables>
        <name>Transactions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Savings_Product_Transaction__c</objectType>
    </variables>
</Flow>
