force-app/main/default/flows/scheduled_payment_amount_reversal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assign_fee_basic</name>
        <label>assign fee basic</label>
        <locationX>982</locationX>
        <locationY>989</locationY>
        <assignmentItems>
            <assignToReference>sPaid_Fee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_scheduled_transaction.Paid_Fees__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_fee_range</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_greater_fee</name>
        <label>assign greater fee</label>
        <locationX>790</locationX>
        <locationY>1251</locationY>
        <assignmentItems>
            <assignToReference>scheduledT_record.Paid_Fees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>feeAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gPaid_Fee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_total_amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_greater_interest</name>
        <label>assign greater interest</label>
        <locationX>1170</locationX>
        <locationY>693</locationY>
        <assignmentItems>
            <assignToReference>scheduledT_record.Paid_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>interestAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gPaid_Interest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_fee_present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_interest_basic</name>
        <label>assign interest basic</label>
        <locationX>1379</locationX>
        <locationY>631</locationY>
        <assignmentItems>
            <assignToReference>sPaid_Interest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_scheduled_transaction.Paid_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_interest_range</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_less_fee</name>
        <label>assign less fee</label>
        <locationX>760</locationX>
        <locationY>1034</locationY>
        <assignmentItems>
            <assignToReference>scheduledT_record.Paid_Fees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cPaid_Fee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>feeAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_total_amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_less_interest</name>
        <label>assign less interest</label>
        <locationX>1171</locationX>
        <locationY>940</locationY>
        <assignmentItems>
            <assignToReference>scheduledT_record.Paid_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cPaid_Interest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>interestAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_fee_present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_less_principal</name>
        <label>assign less principal</label>
        <locationX>1347</locationX>
        <locationY>234</locationY>
        <assignmentItems>
            <assignToReference>scheduledT_record.Paid_Principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cPaid_Principal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>principalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_interest_present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_paid_value</name>
        <label>assign paid value</label>
        <locationX>278</locationX>
        <locationY>942</locationY>
        <assignmentItems>
            <assignToReference>scheduledT_record.Paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_record_for_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_principal_basic</name>
        <label>assign principal basic</label>
        <locationX>887</locationX>
        <locationY>229</locationY>
        <assignmentItems>
            <assignToReference>sPaid_Principal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_scheduled_transaction.Paid_Principal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_principal_range</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_principal_greater</name>
        <label>assign principal greater</label>
        <locationX>1062</locationX>
        <locationY>282</locationY>
        <assignmentItems>
            <assignToReference>scheduledT_record.Paid_Principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>principalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gPaid_Principal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_interest_present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_record_for_update</name>
        <label>assign record for update</label>
        <locationX>467</locationX>
        <locationY>811</locationY>
        <assignmentItems>
            <assignToReference>scheduleT_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>scheduledT_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_all_values_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_schedule_record</name>
        <label>assign schedule record</label>
        <locationX>690</locationX>
        <locationY>462</locationY>
        <assignmentItems>
            <assignToReference>scheduledT_record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_scheduled_transaction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_principal_present</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_all_values_null</name>
        <label>check all values null</label>
        <locationX>454</locationX>
        <locationY>688</locationY>
        <defaultConnector>
            <targetReference>loop_scheduled_transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>values_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>principalAmount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>interestAmount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>feeAmount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_scheduled_records</targetReference>
            </connector>
            <label>values null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_fee_present</name>
        <label>check fee present</label>
        <locationX>974</locationX>
        <locationY>785</locationY>
        <defaultConnector>
            <targetReference>check_total_amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>feeAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>feeAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_fee_basic</targetReference>
            </connector>
            <label>fee</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_fee_range</name>
        <label>check fee range</label>
        <locationX>975</locationX>
        <locationY>1176</locationY>
        <defaultConnector>
            <targetReference>assign_greater_fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>greater</defaultConnectorLabel>
        <rules>
            <name>less_than_fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>feeAmount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>sPaid_Fee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_less_fee</targetReference>
            </connector>
            <label>less than</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_interest_present</name>
        <label>check interest present</label>
        <locationX>1171</locationX>
        <locationY>475</locationY>
        <defaultConnector>
            <targetReference>check_fee_present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>interest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>interestAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>interestAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_interest_basic</targetReference>
            </connector>
            <label>interest</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_interest_range</name>
        <label>check interest range</label>
        <locationX>1369</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>assign_greater_interest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>greater</defaultConnectorLabel>
        <rules>
            <name>less_than_equal_interest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>interestAmount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>sPaid_Interest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_less_interest</targetReference>
            </connector>
            <label>less than equal</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_principal_present</name>
        <label>check principal present</label>
        <locationX>879</locationX>
        <locationY>465</locationY>
        <defaultConnector>
            <targetReference>check_interest_present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>principal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>principalAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>principalAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_principal_basic</targetReference>
            </connector>
            <label>principal</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_principal_range</name>
        <label>check principal range</label>
        <locationX>1059</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>assign_principal_greater</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>greater</defaultConnectorLabel>
        <rules>
            <name>less_than_principal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>principalAmount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>sPaid_Principal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_less_principal</targetReference>
            </connector>
            <label>less than</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_total_amount</name>
        <label>check total amount</label>
        <locationX>462</locationX>
        <locationY>1037</locationY>
        <defaultConnector>
            <targetReference>assign_record_for_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>paid_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_scheduled_transaction.Amount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>totalPaid</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_paid_value</targetReference>
            </connector>
            <label>paid true</label>
        </rules>
    </decisions>
    <formulas>
        <name>cPaid_Fee</name>
        <dataType>Currency</dataType>
        <expression> {!sPaid_Fee} - {!feeAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>cPaid_Interest</name>
        <dataType>Currency</dataType>
        <expression>{!sPaid_Interest} - {!interestAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>cPaid_Principal</name>
        <dataType>Currency</dataType>
        <expression>{!sPaid_Principal} - {!principalAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>gPaid_Fee</name>
        <dataType>Currency</dataType>
        <expression>{!feeAmount} - {!sPaid_Fee}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>gPaid_Interest</name>
        <dataType>Currency</dataType>
        <expression>{!interestAmount} - {!sPaid_Interest}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>gPaid_Principal</name>
        <dataType>Currency</dataType>
        <expression>{!principalAmount} - {!sPaid_Principal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>totalPaid</name>
        <dataType>Currency</dataType>
        <expression>{!scheduledT_record.Paid_Principal__c} + {!scheduledT_record.Paid_Interest__c} + {!scheduledT_record.Paid_Fees__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>scheduled payment amount reversal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>scheduled payment amount reversal</label>
    <loops>
        <name>loop_scheduled_transaction</name>
        <label>loop scheduled transaction</label>
        <locationX>467</locationX>
        <locationY>460</locationY>
        <collectionReference>get_scheduled_transactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_schedule_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_scheduled_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_scheduled_transactions</name>
        <label>get scheduled transactions</label>
        <locationX>467</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_scheduled_transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Total_Payment__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Scheduled_Transaction__c</object>
        <sortField>Scheduled_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_scheduled_records</name>
        <label>update scheduled records</label>
        <locationX>141</locationX>
        <locationY>554</locationY>
        <inputReference>scheduleT_List</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>205</locationY>
        <connector>
            <targetReference>get_scheduled_transactions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>feeAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>interestAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>principalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scheduledT_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scheduled_Transaction__c</objectType>
    </variables>
    <variables>
        <name>scheduleT_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scheduled_Transaction__c</objectType>
    </variables>
    <variables>
        <name>sFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>sInterest</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>sPaid_Fee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>sPaid_Interest</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>sPaid_Principal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>sPrincipal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
