force-app/main/default/flows/Scheduled_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Last_Interest_Charged</name>
        <label>Assign Last Interest Charged</label>
        <locationX>345</locationX>
        <locationY>413</locationY>
        <assignmentItems>
            <assignToReference>Last_Interest_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Record.Last_Interest_Charged_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Scheduled_Payments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Today_Date</name>
        <label>Assign Today Date</label>
        <locationX>605</locationX>
        <locationY>209</locationY>
        <assignmentItems>
            <assignToReference>Last_Interest_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today_DateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Scheduled_Payments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Transaction_Line_Patment</name>
        <label>Assign Transaction Line</label>
        <locationX>1466</locationX>
        <locationY>253</locationY>
        <assignmentItems>
            <assignToReference>Principal_Transaction_Line.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Neg_Principal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Principal_Transaction_Line.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Principal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Principal_Transaction_Line.Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Transaction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Interest_Charge_Transaction_Line.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Neg_Interest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Interest_Charge_Transaction_Line.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Interest_Charge_Transaction_Line.Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Transaction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Interest_Paid_Transaction_Line.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Interest_Paid_Transaction_Line.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Interest_Paid_Transaction_Line.Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Transaction.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Principle_Transaction_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Transactions</name>
        <label>Assign Transactions</label>
        <locationX>1150</locationX>
        <locationY>436</locationY>
        <assignmentItems>
            <assignToReference>Payment_Transaction.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scheduled_Payment.Scheduled_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Scheduled_Payment.Paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Transaction.Created_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today_DateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Transaction.Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Transaction.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Transaction.Closing_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Closing_Balance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Transaction.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Method</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Transaction.Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Transaction.Closing_Principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Closing_Principal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Transaction.Closing_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Closing_Interest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Payment_Transaction</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Charge_Transaction_Fee_Choice</name>
        <choiceText>Fee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fee_Payment</name>
        <choiceText>Fee Payment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FeePayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Loan_Payment</name>
        <choiceText>Loan Repayment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LoanRepayment</stringValue>
        </value>
    </choices>
    <constants>
        <name>Transaction_Placeholder</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=’/resource/transaction_placeholder’ /&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>If_Scheduled_Payments_available</name>
        <label>If Scheduled Payments available</label>
        <locationX>601</locationX>
        <locationY>639</locationY>
        <defaultConnector>
            <targetReference>Scheduled_Transaction_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scheduled_Payments_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_record_error_screen</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_Interest_Charged_Check</name>
        <label>Last Interest Charged Check</label>
        <locationX>329</locationX>
        <locationY>201</locationY>
        <defaultConnector>
            <targetReference>Assign_Last_Interest_Charged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Last_Interest_Charged_Date_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan_Record.Last_Interest_Charged_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Today_Date</targetReference>
            </connector>
            <label>If Last Interest Charged Date Empty</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Payment_Method_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Method__c</picklistField>
        <picklistObject>Loan_Transaction__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Scheduled_Transaction_PicklistSet</name>
        <dataType>Date</dataType>
        <displayField>Scheduled_Date__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Paid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Scheduled_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Last_Interest_Date</elementReference>
            </value>
        </filters>
        <object>Scheduled_Transaction__c</object>
        <sortField>Scheduled_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Scheduled_Date__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Transaction_Type_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Loan_Transaction__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Balance</name>
        <dataType>Currency</dataType>
        <expression>{!Loan_Record.Balance__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Closing_Interest</name>
        <dataType>Currency</dataType>
        <expression>{!Loan_Record.Balance_Interest__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Closing_Principal</name>
        <dataType>Currency</dataType>
        <expression>{!Loan_Record.Balance_Principal__c}-{!Principal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Fee_Balance</name>
        <dataType>Currency</dataType>
        <expression>{!Loan_Record.Balance_Fees__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Fees</name>
        <dataType>Currency</dataType>
        <expression>{!Scheduled_Payment.Fees__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Interest</name>
        <dataType>Currency</dataType>
        <expression>{!Scheduled_Payment.Interest__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Neg_Interest</name>
        <dataType>Currency</dataType>
        <expression>-{!Interest}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Neg_Principal</name>
        <dataType>Currency</dataType>
        <expression>-{!Principal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Payment_Closing_Balance</name>
        <dataType>Currency</dataType>
        <expression>{!Loan_Record.Balance__c} - {!Principal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Principal</name>
        <dataType>Currency</dataType>
        <expression>{!Scheduled_Payment.Principal__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Today_DateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>Total_Payment</name>
        <dataType>Currency</dataType>
        <expression>{!Scheduled_Payment.Total_Payment__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Scheduled Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Interest_Charge_Transaction_Line</name>
        <label>Create Interest Charge Transaction Line</label>
        <locationX>1742</locationX>
        <locationY>248</locationY>
        <connector>
            <targetReference>Create_Interest_Paid_Transaction</targetReference>
        </connector>
        <inputReference>Interest_Charge_Transaction_Line</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Interest_Paid_Transaction</name>
        <label>Create Interest Paid Transaction</label>
        <locationX>1746</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Get_Scheduled_Transaction_Next_Payment</targetReference>
        </connector>
        <inputReference>Interest_Paid_Transaction_Line</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment_Transaction</name>
        <label>Create Payment Transaction</label>
        <locationX>1181</locationX>
        <locationY>253</locationY>
        <connector>
            <targetReference>Update_Scheduled_Transaction</targetReference>
        </connector>
        <inputReference>Payment_Transaction</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Principle_Transaction_Line</name>
        <label>Create Principle Transaction Line</label>
        <locationX>1601</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>Create_Interest_Charge_Transaction_Line</targetReference>
        </connector>
        <inputReference>Principal_Transaction_Line</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Loan</name>
        <label>Get Loan</label>
        <locationX>178</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Last_Interest_Charged_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loan__c</object>
        <outputReference>Loan_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Balance__c</queriedFields>
        <queriedFields>Balance_Fees__c</queriedFields>
        <queriedFields>Last_Interest_Charged_Date__c</queriedFields>
        <queriedFields>Balance_Principal__c</queriedFields>
        <queriedFields>Balance_Interest__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Scheduled_Payments</name>
        <label>Get Scheduled Payments</label>
        <locationX>618</locationX>
        <locationY>417</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Scheduled_Payments_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Paid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Scheduled_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Last_Interest_Date</elementReference>
            </value>
        </filters>
        <object>Scheduled_Transaction__c</object>
        <outputReference>Scheduled_Payments_List</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Scheduled_Transaction</name>
        <label>Get Scheduled Transaction</label>
        <locationX>1007</locationX>
        <locationY>629</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loan_Repayment_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Scheduled_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selected_date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </filters>
        <object>Scheduled_Transaction__c</object>
        <outputReference>Scheduled_Payment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Interest__c</queriedFields>
        <queriedFields>Fees__c</queriedFields>
        <queriedFields>Principal__c</queriedFields>
        <queriedFields>Scheduled_Date__c</queriedFields>
        <queriedFields>Total_Payment__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Scheduled_Transaction_Next_Payment</name>
        <label>Get Scheduled Transaction Next Payment</label>
        <locationX>1605</locationX>
        <locationY>401</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_loan_next_and_last_payment_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Paid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Scheduled_Transaction__c</object>
        <outputAssignments>
            <assignToReference>Next_Payment_Date</assignToReference>
            <field>Scheduled_Date__c</field>
        </outputAssignments>
        <sortField>Scheduled_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_loan_next_and_last_payment_date</name>
        <label>Update loan next and last payment date</label>
        <locationX>1455</locationX>
        <locationY>404</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Interest_Charged_Date__c</field>
            <value>
                <elementReference>Payment_Transaction.Transaction_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Payment_Made__c</field>
            <value>
                <elementReference>Payment_Transaction.Transaction_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Payment_Due__c</field>
            <value>
                <elementReference>Next_Payment_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Loan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Scheduled_Transaction</name>
        <label>Update Scheduled Transaction</label>
        <locationX>1312</locationX>
        <locationY>253</locationY>
        <connector>
            <targetReference>Assign_Transaction_Line_Patment</targetReference>
        </connector>
        <inputReference>Scheduled_Payment</inputReference>
    </recordUpdates>
    <screens>
        <name>Loan_Repayment_Screen</name>
        <label>Loan Repayment</label>
        <locationX>988</locationX>
        <locationY>440</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Transactions</targetReference>
        </connector>
        <fields>
            <name>Summary</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Summary&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Are you sure want to create the following transaction?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Total Payment: {!Total_Payment}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Principal: &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Principal}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Interest: {!Interest}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Fees: {!Fees}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>custom_navigation</name>
            <extensionName>c:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>next</name>
                <value>
                    <stringValue>Confirm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previous</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_record_error_screen</name>
        <label>No record error screen</label>
        <locationX>352</locationX>
        <locationY>695</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_transaction_found</name>
            <fieldText>&lt;p&gt;No scheduled transactions were found.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Scheduled_Transaction_Screen</name>
        <label>Scheduled_Transaction_Screen</label>
        <locationX>858</locationX>
        <locationY>630</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Scheduled_Transaction</targetReference>
        </connector>
        <fields>
            <name>Current_Balance</name>
            <fieldText>&lt;p&gt;Balance: {!Balance}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Payment_Date</name>
            <extensionName>c:scheduledPayment</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selected_date</assignToReference>
                <name>transactionDate</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Payment_Method</name>
            <choiceReferences>Payment_Method_Choice_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>Get_Loan</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Balance_Principal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Fee_Transaction_Line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Line__c</objectType>
    </variables>
    <variables>
        <name>Interest_Charge_Transaction_Line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Line__c</objectType>
    </variables>
    <variables>
        <name>Interest_Paid_Transaction_Line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Line__c</objectType>
    </variables>
    <variables>
        <name>Interest_Transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Last_Interest_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>last_transaction_date</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Loan_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan__c</objectType>
    </variables>
    <variables>
        <name>Next_Payment_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Other_Transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Other_Transaction_Line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Line__c</objectType>
    </variables>
    <variables>
        <name>Payment_Transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Principal_Transaction_Line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Line__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Scheduled_Payment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scheduled_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Scheduled_Payments_List</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scheduled_Transaction__c</objectType>
    </variables>
    <variables>
        <name>selected_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Today</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Today_DateTime</elementReference>
        </value>
    </variables>
</Flow>
