force-app/main/default/flows/Update_collateral_task_of_loan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assign_record</name>
        <label>assign record</label>
        <locationX>579</locationX>
        <locationY>275</locationY>
        <assignmentItems>
            <assignToReference>taskUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_task_subject</name>
        <label>assign task subject</label>
        <locationX>383</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>taskSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_task.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_loan_collateral</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_task_values</name>
        <label>assign task values</label>
        <locationX>712</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>taskR.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loanId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskR.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_task.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskR.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newSubject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_record</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>newSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Follow-up: Collateral Expiration (&apos; + {!newCollateralName} +&apos;)&apos;</expression>
    </formulas>
    <formulas>
        <name>splitCollateralName</name>
        <dataType>String</dataType>
        <expression> MID( {!taskSubject},  FIND( &apos;(&apos;,  {!taskSubject} )+1  , 10)</expression>
    </formulas>
    <interviewLabel>Update collateral task of loan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update collateral task of loan</label>
    <loops>
        <name>loop_task</name>
        <label>loop task</label>
        <locationX>349</locationX>
        <locationY>364</locationY>
        <collectionReference>taskColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_task_subject</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_loan_collateral</name>
        <label>get loan collateral</label>
        <locationX>543</locationX>
        <locationY>632</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_task_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Collateral_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>splitCollateralName</elementReference>
            </value>
        </filters>
        <object>Loan_Collateral__c</object>
        <outputAssignments>
            <assignToReference>newCollateralName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_loan_records</name>
        <label>get loan records</label>
        <locationX>176</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_task_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>applicationId</elementReference>
            </value>
        </filters>
        <object>Loan__c</object>
        <outputAssignments>
            <assignToReference>loanId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_task_records</name>
        <label>get task records</label>
        <locationX>175</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>applicationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Follow-up: Collateral Expiration</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>taskColl</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Priority</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_task</name>
        <label>update task</label>
        <locationX>470</locationX>
        <locationY>110</locationY>
        <inputReference>taskUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_loan_records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>applicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loanRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan__c</objectType>
    </variables>
    <variables>
        <name>newCollateralName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
