force-app/main/default/flows/Writeoff_Transaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assign_default_date</name>
        <label>assign default date</label>
        <locationX>1094</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>default_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>last_transaction_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WriteoffTransactionScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_loan_status</name>
        <label>assign loan status</label>
        <locationX>2048</locationX>
        <locationY>168</locationY>
        <assignmentItems>
            <assignToReference>LoanRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Written Off</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanRecord.Next_Payment_Due__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>update_loan_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_transaction</name>
        <label>assign transaction</label>
        <locationX>1516</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>transaction.Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transaction.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transaction_type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transaction.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transaction_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transaction.Closing_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>closing_bal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transaction.Closing_Fees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>closingFee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transaction.Closing_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>closingInterest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transaction.Closing_Principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>closingPrincipal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transaction.Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_transaction_writeoff</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assing_interest_charged_date</name>
        <label>assign interest charged date</label>
        <locationX>1675</locationX>
        <locationY>922</locationY>
        <assignmentItems>
            <assignToReference>LoanRecord.Last_Interest_Charged_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transaction_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>if_discard_interest</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_close_interest</name>
        <label>check close interest</label>
        <locationX>761</locationX>
        <locationY>1140</locationY>
        <defaultConnector>
            <targetReference>check_closing_fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>if_interest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanRecord.Balance_Interest__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_interest_tline</targetReference>
            </connector>
            <label>if interest</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_closing_fee</name>
        <label>check closing fee</label>
        <locationX>1031</locationX>
        <locationY>1321</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>if_fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanRecord.Balance_Fees__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_fee_tline</targetReference>
            </connector>
            <label>if fee</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_each_transaction</name>
        <label>check each transaction</label>
        <locationX>1828</locationX>
        <locationY>940</locationY>
        <defaultConnector>
            <targetReference>if_interest_present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>principalTline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>principal</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_principal_tline</targetReference>
            </connector>
            <label>principal</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_future_date</name>
        <label>check future date</label>
        <locationX>1178</locationX>
        <locationY>819</locationY>
        <defaultConnector>
            <targetReference>WriteoffTransactionScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>future_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>last_transaction_date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_default_date</targetReference>
            </connector>
            <label>future date</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_interest_charged</name>
        <label>check interest charged</label>
        <locationX>1376</locationX>
        <locationY>1158</locationY>
        <defaultConnector>
            <targetReference>if_discard_interest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>if_charged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>interest_charged</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_transactionline_charge</targetReference>
            </connector>
            <label>charged</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_possible_to_capitalize</name>
        <label>check possible to capitalize</label>
        <locationX>630</locationX>
        <locationY>1277</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>capitalize</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoanRecord.Balance_Fees__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoanRecord.Balance_Interest__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_capitalize_transaction</targetReference>
            </connector>
            <label>capitalize</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_possible_to_writeoff</name>
        <label>check possible to writeoff</label>
        <locationX>837</locationX>
        <locationY>603</locationY>
        <defaultConnector>
            <targetReference>get_last_transaction_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>if_writeoff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanRecord.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Written Off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_write_off</targetReference>
            </connector>
            <label>if writeoff</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_write_off_full_capitalize</name>
        <label>check write off full capitalize</label>
        <locationX>1805</locationX>
        <locationY>277</locationY>
        <defaultConnector>
            <targetReference>update_loan_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>full_writeoff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>writeoff_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_loan_status</targetReference>
            </connector>
            <label>full writeoff</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_discard_interest</name>
        <label>if discard interest</label>
        <locationX>1816</locationX>
        <locationY>1155</locationY>
        <defaultConnector>
            <targetReference>check_each_transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>discard_interest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>transaction_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Write Off - Discard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_interest_discard</targetReference>
            </connector>
            <label>discard interest</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_fee_present</name>
        <label>if fee present</label>
        <locationX>1813</locationX>
        <locationY>529</locationY>
        <defaultConnector>
            <targetReference>check_write_off_full_capitalize</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>feeTline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fee</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_fee_tline_writeoff</targetReference>
            </connector>
            <label>fee</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_interest_present</name>
        <label>if interest present</label>
        <locationX>1815</locationX>
        <locationY>727</locationY>
        <defaultConnector>
            <targetReference>if_fee_present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>interestTline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>interest</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>transaction_type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Write Off - Discard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_interest_tline_writeoff</targetReference>
            </connector>
            <label>interest</label>
        </rules>
    </decisions>
    <formulas>
        <name>amount_neg</name>
        <dataType>Currency</dataType>
        <expression>-{!amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>capitalize_principal</name>
        <dataType>Currency</dataType>
        <expression>{!LoanRecord.Balance_Interest__c} + {!LoanRecord.Balance_Fees__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>close_principal_interest</name>
        <dataType>Currency</dataType>
        <expression>{!closing_principal} + {!interest_charged}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>closing_bal</name>
        <dataType>Currency</dataType>
        <expression>{!closingPrincipal} + {!closingInterest} + {!closingFee}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>closing_bal_charge</name>
        <dataType>Currency</dataType>
        <expression>{!LoanRecord.Balance__c} + {!interest_charged}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>closing_bal_discard</name>
        <dataType>Currency</dataType>
        <expression>{!LoanRecord.Balance__c} - {!interest}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>closing_interest_charge</name>
        <dataType>Currency</dataType>
        <expression>{!LoanRecord.Balance_Interest__c} + {!interest_charged}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>closingFee</name>
        <dataType>Currency</dataType>
        <expression>{!LoanRecord.Balance_Fees__c} - {!fee}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>closingInterest</name>
        <dataType>Currency</dataType>
        <expression>{!LoanRecord.Balance_Interest__c}+ {!interest_charged} - {!interest}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>closingPrincipal</name>
        <dataType>Currency</dataType>
        <expression>{!LoanRecord.Balance_Principal__c} - {!principal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fee_neg</name>
        <dataType>Currency</dataType>
        <expression>{!fee} * -1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>interest_charged_neg</name>
        <dataType>Currency</dataType>
        <expression>{!interest_charged} * -1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>interest_neg</name>
        <dataType>Currency</dataType>
        <expression>{!interest} * -1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>principal_neg</name>
        <dataType>Currency</dataType>
        <expression>{!principal} * -1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Writeoff {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Writeoff Transaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_capitalize_interest</name>
        <label>create capitalize interest</label>
        <locationX>1188</locationX>
        <locationY>1469</locationY>
        <connector>
            <targetReference>create_capitalize_principal_charge</targetReference>
        </connector>
        <inputAssignments>
            <field>Closing_Balance__c</field>
            <value>
                <elementReference>closing_bal_charge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closing_Fees__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closing_Interest__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closing_Principal__c</field>
            <value>
                <elementReference>closing_bal_charge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note__c</field>
            <value>
                <stringValue>Capitalize charged interest for written off</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Date__c</field>
            <value>
                <elementReference>transaction_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Capitalisation</stringValue>
            </value>
        </inputAssignments>
        <object>Loan_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_capitalize_interest_charge</name>
        <label>create capitalize interest charge</label>
        <locationX>1386</locationX>
        <locationY>1466</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>interest_charged_neg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>create_capitalize_interest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </inputAssignments>
        <object>Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_capitalize_principal_charge</name>
        <label>create capitalize principal charge</label>
        <locationX>1308</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>create_capitalize_interest_charge</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>interest_charged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>create_capitalize_interest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Principal</stringValue>
            </value>
        </inputAssignments>
        <object>Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_capitalize_principal_writeoff</name>
        <label>create capitalize principal writeoff</label>
        <locationX>936</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>check_close_interest</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>capitalize_principal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>create_capitalize_transaction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Principal</stringValue>
            </value>
        </inputAssignments>
        <object>Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_capitalize_transaction</name>
        <label>create capitalize transaction</label>
        <locationX>780</locationX>
        <locationY>1394</locationY>
        <connector>
            <targetReference>create_capitalize_principal_writeoff</targetReference>
        </connector>
        <inputAssignments>
            <field>Closing_Balance__c</field>
            <value>
                <elementReference>closing_bal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closing_Fees__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closing_Interest__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closing_Principal__c</field>
            <value>
                <elementReference>closing_bal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note__c</field>
            <value>
                <stringValue>Capitalize amount due to written off</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Date__c</field>
            <value>
                <elementReference>transaction_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Capitalisation</stringValue>
            </value>
        </inputAssignments>
        <object>Loan_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_fee_tline</name>
        <label>create fee tline</label>
        <locationX>992</locationX>
        <locationY>1459</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>fee_neg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>create_capitalize_transaction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Fee</stringValue>
            </value>
        </inputAssignments>
        <object>Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_fee_tline_writeoff</name>
        <label>create fee tline</label>
        <locationX>2022</locationX>
        <locationY>378</locationY>
        <connector>
            <targetReference>check_write_off_full_capitalize</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>fee_neg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Fee</stringValue>
            </value>
        </inputAssignments>
        <object>Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_interest_discard</name>
        <label>create interest discard</label>
        <locationX>2067</locationX>
        <locationY>1028</locationY>
        <connector>
            <targetReference>check_each_transaction</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>interest_neg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </inputAssignments>
        <object>Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_interest_tline</name>
        <label>create interest tline</label>
        <locationX>911</locationX>
        <locationY>1277</locationY>
        <connector>
            <targetReference>check_closing_fee</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>interest_neg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>create_capitalize_transaction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </inputAssignments>
        <object>Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_interest_tline_writeoff</name>
        <label>create interest tline</label>
        <locationX>2041</locationX>
        <locationY>602</locationY>
        <connector>
            <targetReference>if_fee_present</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>interest_neg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </inputAssignments>
        <object>Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_principal_tline</name>
        <label>create principal tline</label>
        <locationX>2045</locationX>
        <locationY>820</locationY>
        <connector>
            <targetReference>if_interest_present</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>principal_neg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Principal</stringValue>
            </value>
        </inputAssignments>
        <object>Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_transaction_writeoff</name>
        <label>create transaction - writeoff</label>
        <locationX>1408</locationX>
        <locationY>845</locationY>
        <connector>
            <targetReference>create_writeoff</targetReference>
        </connector>
        <inputReference>transaction</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_transactionline_charge</name>
        <label>create transactionline charge</label>
        <locationX>1521</locationX>
        <locationY>921</locationY>
        <connector>
            <targetReference>assing_interest_charged_date</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>interest_charged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </inputAssignments>
        <object>Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_transactionLine_writeoff</name>
        <label>create transactionLine writeoff</label>
        <locationX>472</locationX>
        <locationY>1193</locationY>
        <connector>
            <targetReference>update_loan_details</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>transaction_type</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_writeoff</name>
        <label>create writeoff</label>
        <locationX>1285</locationX>
        <locationY>1034</locationY>
        <connector>
            <targetReference>check_interest_charged</targetReference>
        </connector>
        <inputAssignments>
            <field>Fee__c</field>
            <value>
                <elementReference>fee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interest_Charged__c</field>
            <value>
                <elementReference>interest_charged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interest__c</field>
            <value>
                <elementReference>interest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Principal__c</field>
            <value>
                <elementReference>principal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>writeoff_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Write_Off_Amount__c</field>
            <value>
                <elementReference>amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Write_Off_Date__c</field>
            <value>
                <elementReference>transaction_date</elementReference>
            </value>
        </inputAssignments>
        <object>WriteOff__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_application_record</name>
        <label>get application record</label>
        <locationX>999</locationX>
        <locationY>820</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_future_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanRecord.Application__c</elementReference>
            </value>
        </filters>
        <object>Application__c</object>
        <outputReference>applicationRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Day_Count__c</queriedFields>
        <queriedFields>Interest_Calculation_Method__c</queriedFields>
        <queriedFields>Interest_Compounding_Frequency__c</queriedFields>
        <queriedFields>Final_Rate__c</queriedFields>
        <queriedFields>Repayment_Frequency__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_last_transaction_date</name>
        <label>get last transaction date</label>
        <locationX>854</locationX>
        <locationY>814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_application_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Reversal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Adjustment</stringValue>
            </value>
        </filters>
        <object>Loan_Transaction__c</object>
        <outputAssignments>
            <assignToReference>last_transaction_date</assignToReference>
            <field>Transaction_Date__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>get_loan_record</name>
        <label>get loan record</label>
        <locationX>844</locationX>
        <locationY>453</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_possible_to_writeoff</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loan__c</object>
        <outputReference>LoanRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Balance_Principal__c</queriedFields>
        <queriedFields>Balance_Fees__c</queriedFields>
        <queriedFields>Balance_Interest__c</queriedFields>
        <queriedFields>Balance__c</queriedFields>
        <queriedFields>Application__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_loan_details</name>
        <label>update loan details</label>
        <locationX>636</locationX>
        <locationY>1091</locationY>
        <connector>
            <targetReference>check_possible_to_capitalize</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Payment_Due__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Written Off</stringValue>
            </value>
        </inputAssignments>
        <object>Loan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_loan_record</name>
        <label>update loan record</label>
        <locationX>1791</locationX>
        <locationY>50</locationY>
        <inputReference>LoanRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>No_write_off</name>
        <label>No write off</label>
        <locationX>613</locationX>
        <locationY>741</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Show_Warning</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You can&apos;t write off anymore&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WriteoffTransactionScreen</name>
        <label>WriteoffTransactionScreen</label>
        <locationX>1317</locationX>
        <locationY>616</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_transaction</targetReference>
        </connector>
        <fields>
            <name>writeoff_lwc</name>
            <extensionName>c:writeoffTransaction</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>balance</name>
                <value>
                    <elementReference>LoanRecord.Balance__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dayCount</name>
                <value>
                    <elementReference>applicationRecord.Day_Count__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>interestCalculation</name>
                <value>
                    <elementReference>applicationRecord.Interest_Calculation_Method__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>InterestFrequency</name>
                <value>
                    <elementReference>applicationRecord.Interest_Compounding_Frequency__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastTransactionDate</name>
                <value>
                    <elementReference>last_transaction_date</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentFrequency</name>
                <value>
                    <elementReference>applicationRecord.Repayment_Frequency__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rate</name>
                <value>
                    <elementReference>applicationRecord.Final_Rate__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>feeBalance</name>
                <value>
                    <elementReference>LoanRecord.Balance_Fees__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>principalBalance</name>
                <value>
                    <elementReference>LoanRecord.Balance_Principal__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>interestBalance</name>
                <value>
                    <elementReference>LoanRecord.Balance_Interest__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transactionType</name>
                <value>
                    <elementReference>transaction_type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transactionDate</name>
                <value>
                    <elementReference>last_transaction_date</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>comments</assignToReference>
                <name>comments</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>fee</assignToReference>
                <name>Fee</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>interest</assignToReference>
                <name>Interest</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>interest_charged</assignToReference>
                <name>interestCharge</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>principal</assignToReference>
                <name>Principal</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>transaction_date</assignToReference>
                <name>transactionDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>transaction_type</assignToReference>
                <name>transactionType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>amount</assignToReference>
                <name>writeoffAmount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>writeoff_type</assignToReference>
                <name>writeoffType</name>
            </outputParameters>
        </fields>
        <fields>
            <name>wirteoff_navigation</name>
            <extensionName>c:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>next</name>
                <value>
                    <stringValue>Post</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previous</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCustomButton1</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPause</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>718</locationX>
        <locationY>308</locationY>
        <connector>
            <targetReference>get_loan_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>applicationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>closing_principal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>comments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>default_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>discardInterest</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>fee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>interest</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>interest_charged</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>last_transaction_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan__c</objectType>
    </variables>
    <variables>
        <name>principal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Transaction__c</objectType>
    </variables>
    <variables>
        <name>transaction_charge</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Transaction__c</objectType>
    </variables>
    <variables>
        <name>transaction_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transaction_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Write Off - Regular</stringValue>
        </value>
    </variables>
    <variables>
        <name>writeoff_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
